@import "../../base/sass/baseBlueVar";

.og-head{
  background-color: $bg_f0;
  width: 100%;
  position: absolute;
  color: $fc_66;
}
.og-head-top{
  width:100%;
  background: $bg_dd;
}
.og-head-topwrap{
  width:1200px;
  margin:0 auto;
  overflow:hidden;
}
.topwrap-div{
  line-height: 30px;
  float:left;
}
.topwrap-div-span{
  cursor: pointer;
}
.og-head-topleft{
  float:left;
  overflow:hidden;
  &__item{
    float: left;
    padding: 10px 0;
    padding-left: 10px;
    line-height: 12px
  }
}
.og-head-topright{
  float:right;
  overflow:hidden;
  &__item{
    float:left;
    padding: 10px 0;
    padding-right: 10px;
    line-height: 12px;
  }
  &__link{
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    display: inline-block;
    border-right: 1px solid $bd_dee;
    height: 12px;
    color:$fc_33;
  }
  &__link-entry{
    position: relative;
    display: inline-block;
    padding: 0 3px;
  }
  &__link-entry__tranglelt{
    position: absolute;
    bottom: 2px;
    left: -5px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
}

.og-head-nav{
  width: 1200px;
  height:65px;
  margin: 0 auto;
  background: #fff;
}
.og-head-navwrap{
  width:1200px;
  margin:0 auto;
  overflow:hidden;
  background:$bg_main;
  color: $fc_ff;
  font-size: 14px;
}
//6390f3
.og-head-navlogo{
 /* width: 280px;*/
  /*height: 100px;*/
  display: block;
  float: left;
  padding-left:10px;

  &__logoimg{
    width: 250px;
    height: 48px;
    display: block;
    background: url("../images/logoMain.png") no-repeat 0 center;
    background-size: 250px 48px;
    margin-top: 10px;
    margin-left: 10px;
  }
  &__logoText{
    color: #666;
    line-height: 60px;
    margin-left: 30px;
    font-size: 16px;
  }
}
.og-head-navlist{
  float: left;
  height: 60px;
  width: 872px;
  color: $fc_33;
  &__item{
    float:left;
  }
  &__link{
    display: inline-block;
    padding: 0 15px;
    margin-top:20px;
    height:36px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: $fc_ff;
  }
  &__link:hover{
    color: $fc_ffe;
  }

  &____linkActive{
    color: $fc_ff;
    font-weight: bold;
    border-bottom:6px solid $bg_ff;
  }
}
.og-head-navform{
  float: right;
  margin-top: 14px;
  &__input{
    box-sizing: border-box;
    height: 30px;
    float: left;
    padding-left: 10px;
  }
  &__searchbtn{
    float: left;
    height: 30px;
    width: 64px;
    text-align: center;
    line-height: 30px;
  }
}
.og-head-main{
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
.og-head-mainlt{
  width:190px;
  height:750px;
  float:left;
  .og-head-mainlt__homepa{
    width:170px;
    height:46px;
    background: $bg_ff;
    color:$fc_33;
    font-size: 14px;
    font-weight:bold;
    line-height:46px;
    padding-left:20px;
    margin-bottom:2px;
  }
  .og-head-mainlt__homepaActive{

  }
  .og-head-mainlt__sidebar{
    height:auto;
    width:190px;
    min-height: 701px;
    background: #fff;
    .og-head-mainlt__sidebar--menu{
      width:100%;
      overflow:hidden;
      cursor:pointer;
      height:auto;
      background-color: $bg_ff;
      margin-bottom:2px;
      color: $fc_66;
      border-bottom: 1px solid #e5e5e5;
      .og-head-mainlt__sidebar--shrinkActive{
        color: $fc_main !important;
        a{
          color: $fc_main !important;
        }
      }
      .og-head-mainlt__sidebar--shrink{
        width:170px;
        margin-top:10px;
        padding-left:20px;
        display: block;
        color:$fc_33;
        position:relative;
        font-weight: bold;
        padding-bottom:6px;
        i{
          right:20px;
          top:20px;

        }
        h3{
          font-weight:bold;
          font-size:14px;
          float:left;
        }
      }
    }
    .og-head-mainlt__sasety{
      color:$fc_66;
      display:block;
      padding-left:20px;
      text-decoration: none;
      float:left;
      padding-top:14px;
      a:hover{
        color: $fc_98b;
      }

    }
    .active{
      background-color: $fc_main;
    }
  }
}
.arrow-up{
  display:inline-block;
  width:14px;
  height:14px;
  background:url("../images/twoIm.png") no-repeat;
  vertical-align:text-top;
  margin-right:5px;
}
.menu-ul{
  width:100%;
  overflow:hidden;
  padding-bottom:20px;
}
.arrow-span{
  font-size:14px;
}
.og-head-maincontent{
  width:990px;
  position: absolute;
  right: 0;
  top: 0px;
  min-height: 706px;
  background-color: $bg_ff;
}
.navwrap-arr-div{
  float:left;
  margin-top:12px;
  .arr-div-fir{
    background:url("../images/topStop.png") no-repeat;
    width:12px;
    height:12px;
    display:inline-block;
    cursor: pointer;
  }
  .arr-div-two{
    margin-top:3px;
    background:url("../images/botStop.png") no-repeat;
    width:12px;
    height:12px;
    display:block;
    cursor: pointer;
  }
}
.navwrap-role-div{
  margin-left:30px;
  float:left;
  color: $fc_ff;
  font-size:14px;
  .role-div-i{
    background:url("../images/botArr.png") no-repeat;
    width:12px;
    height:12px;
    display:inline-block;
    vertical-align: sub;
    cursor: pointer;
  }
  span{
    display:inline-block;
    line-height: 60px;
  }
}


.og-head-navwrap-box{
  line-height: 65px;
  margin-right: 15px;
}
.og-head-navwrap-boxList{
  float: left;
  margin-left: 15px;
  color: #fff;
}
.og-head-navwrap-opeBox{
  padding-right: 20px;
}
.og-head-navwrap-opeBoxList{
  margin-right: 6px;
  color: #fff;
  float: left;
  line-height: 65px;
}
.og-head-navwrap-opeBoxListImg{
  width: 30px;
  height: 30px;
  margin-right: 6px;
  margin-top: 18px;
  background-size: 30px 30px;
}
.og-homePage-name{
  font-size: 28px;
  line-height: 100px;
  color: #fff;
  margin-left: 14px;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { /* WebKit browsers */
  font-style:italic
}

input:-moz-placeholder,textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-style:italic
}

input::-moz-placeholder,textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-style:italic
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-style:italic
}
.cell span  {word-break:break-all}
