.detail { margin: 0 auto; width: 990px; height: 600px; }

.detail-title { width: 990px; height: 40px; line-height: 40px; border-bottom: 1px solid #6390f3; }

.detail-Home-page { margin: 13px 0 0 15px; }

.detail-nav { width: 990px; border-bottom: 2px dashed #dee3e6; }

.detail-nav-name { width: 990px; height: 30px; line-height: 30px; text-align: center; margin: 20px 0; font-size: 30px; }

.detail-nav-list { height: 25px; margin: 30px 0  0 280px; }

.detail-nav-list_block { float: left; height: 20px; line-height: 20px; font-size: 14px; margin-right: 18px; }

.detail-nav-list_block .detail-nav-list_main { margin-left: 6px; }

.detail-content { width: 990px; }

.detail-content .detail-content-picture { margin-left: 250px; margin-top: 20px; margin-bottom: 20px; width: 500px; height: 276px; }

.detail-content-headline { margin-left: 58px; font-size: 14px; }

.detail-content-introduce { margin-left: 26px; font-size: 14px; width: 925px; text-indent: 30px; }
