.split{
    margin:0 auto;
    width: 1200px;
    .split-title{
        width:1200px;
        height:85px;
        line-height:85px;
        text-align: center;
        font-size:30px;
    }
}
.split-Tab{
    width: 1200px;
    border-top:1px solid #dee3e6;
    .table-list{
        table-layout: fixed;
        width:950px;
        margin-left:120px;
        margin-top:20px;
        .table-list-currentrow-tdetail{
            text-align:center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.split-Tab-button{
    padding-left: 893px;
    padding-top: 20px;
    div{
        margin-left:12px;
    }
}
.split-Table{
    width:1200px;
    border-top:1px solid #dee3e6;
    .table-list{
        table-layout: fixed;
        width:950px;
        margin-left:120px;
        margin-top:20px;
        .table-list-currentrow-tdetail{
            text-align:center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
.split-Table-nav{
    margin-left:120px;
    margin-top:20px;
    .split-Table-nav__Input{
        width:238px;
        height:28px;
        line-height:28px;
        border:1px solid #dee3e6;
    }
    div{
       /* margin-left:10px;*/
    }
}
