.management{
    margin:0 auto;
    width:990px;
    height:600px;
}
.management-title{
    width:990px; 
    height:40px;
    line-height:40px;
    border-bottom:1px solid #6390f3;
}
.management-Home-page{
    margin:13px 0 0 15px;
}
.management-questionnaire{ 
    position: relative;
    width: 65px;
    margin-left:-5px;
    .management-title-close{
        position: absolute;
        top:-7px;
        right:2px;
    }
}

.management-box{
    width:990px;
    .management-box-list{
        width:990px;
    }
    .table-list{
        width:950px;
        margin-top:20px;
        margin-left:28px;
        .table-list-currentrow-tdetail{
            /*text-align:center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;*/
            word-break: break-all;
        }
    }
}

.management-box-list__Content{
    width:950px;
    margin-top:4px;
    margin-left:22px;
    .management-box-list__Every{
        margin:6px 0;
        float: left;
        width:210px;
        .management-box-list__Name{
            display:inline-block;
            text-align:right;
            margin-right:8px;
            width:70px;
        }
        .inputBase{
            width:100px;
        }
    }
}
#management-box-Time{
    width:120px;
    border:1px solid #dee3e6;
}
.management-box .management-box-button{
    clear: both;
    margin-top:12px;
    margin-left:28px;
    width:950px;
    div{
        margin-right:8px;
    }
    
}
.management-box-reset{
    width:26px;
}
.previewOpeBox{
    padding: 20px 30px;
}
.previewOpeBox-pdf{
    width: 1150px;
    height: 450px;
}
.previewOpeBox-operate{
    margin-top: 120px;
}