.management { margin: 0 auto; width: 990px; height: 600px; }

.management-title { width: 990px; height: 40px; line-height: 40px; border-bottom: 1px solid #6390f3; }

.management-Home-page { margin: 13px 0 0 15px; }

.management-questionnaire { position: relative; width: 65px; margin-left: -5px; }

.management-questionnaire .management-title-close { position: absolute; top: -7px; right: 2px; }

.management-box { width: 990px; }

.management-box .management-box-list { width: 990px; }

.management-box .table-list { width: 950px; margin-top: 20px; margin-left: 28px; }

.management-box .table-list .table-list-currentrow-tdetail { text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.management-box-list__Content { width: 950px; margin-top: 4px; margin-left: 22px; }

.management-box-list__Content .management-box-list__Every { margin: 16px 0; float: left; width: 210px; }

.management-box-list__Content .management-box-list__Every .management-box-list__Name { display: inline-block; text-align: right; margin-right: 8px; width: 70px; }

.management-box-list__Content .management-box-list__Every .inputBase { width: 100px; }

#management-box-Time { width: 120px; border: 1px solid #dee3e6; }

.management-box .management-box-button { clear: both; margin-left: 28px; width: 950px; }

.management-box .management-box-button div { margin-right: 8px; }

.management-box-reset { width: 26px; }

.previewOpeBox { padding: 20px 30px; }

.previewOpeBox-pdf { width: 740px; height: 450px; }

.previewOpeBox-operate { margin-top: 20px; }

#inputAnswer .management-box-list__Every { margin: 3px 0; }

.userNewPopup-ulist-listPosition { position: relative; }

.userNewPopup-ulist-listPopup { position: absolute; top: 32px; left: 100px; width: 400px; height: 200px; z-index: 1111111111; background: #fff; border: 1px solid #e5e5e5; padding: 20px 10px; overflow: auto; }

.userNewPopup-ulist-list { float: left; width: 100%; margin-bottom: 15px; }

.userNewPopup-ulist-list-name { width: 80px; text-align: right; line-height: 30px; margin-right: 20px; }

.userNewPopup-ulist-list-input { width: 200px; min-height: 30px; border: 1px solid #eee; padding-left: 10px; border-radius: 4px; line-height: 30px; }

.userNewPopup-ulist-list select { width: 200px; margin-left: -10px; }

.chosen-container { margin-top: 0; }
