.establish {
    margin: 0 auto;
    width: 990px;
    height: 600px;
    .establish-title {
        width: 990px;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #6390f3;
        .establish-Home-page {
            margin: 13px 0 0 26px;
        }
        .establish-questionnaire {
            position: relative;
            width: 102px;
            margin-left: -5px;
            .establish-title-close {
                position: absolute;
                top: -7px;
                right: 2px;
            }
        }
    }
    .establish-content {
        width: 990px;
        .establish-contenter {
            margin: 14px 0 0 28px;
            width: 990px;
            height: 42px;
            line-height: 42px;
            .establish-contenter-Every {
                float: left;
                margin-right: 12px;
                .establish-contenter-tit {
                    margin-right: 12px;
                }
                .Wdate {
                    width: 150px;
                    height: 26px;
                }
            }
        }
        .establish-content-table {
            float: left;
            width: 990px;
            .establish-content-tableLeft {
                float: left;
                width: 482px;
                min-height: 300px;
                margin-right: 26px;
                .establish-content-tableLeftbutton {
                    float: left;
                    margin-left: 28px;
                    div {
                        margin: 5px 0;
                        margin-right: 6px;
                    }
                }
                .establish-content-tableLefts {
                    width: 482px;
                    border: 1px solid #dee3e6;
                    .table-list-currentrow-theader {
                        border: none;
                    }
                    .table-list-currentrow-tdetail {
                        text-align: center;
                    }
                }
            }
            .establish-content-tableRight {
                float: left;
                width: 482px;
                height: 300px;
                .establish-content-tableRightbutton {
                    float: left;
                    margin-left: 28px;
                    div {
                        margin: 26px 0;
                        margin-right: 6px;
                    }
                }
                .establish-content-tableRights {
                    width: 482px;
                    border: 1px solid #dee3e6;
                    .table-list-currentrow-theader {
                        border: none;
                    }
                    .table-list-currentrow-tdetail {
                        text-align: center;
                        .graded {
                            width: 120px;
                            height: 25px;
                            line-height: 25px;
                            color: #666;
                            border: 1px solid #dee3e6;
                        }
                    }
                }
            }
        }
    }
}

.resourchSe {
    .resourchSe-ul {
        display: flex;
        flex-wrap: wrap;
        textarea {
            width: 151px;
            height: 50px;
            resize: none;
            border: 1px solid #eeeeee;
        }
        width:100%;
    }
    .resourchSe-ul li {
        display: flex;
        margin-top: 20px;
        margin: 14px 42px;
        width: 240px;
    }
    .resourchSe-ul .chosen-single {
        margin-left: -12px;
    }
    .required {
        width: 160px;
        border: 1px solid #eeeeee;
        height: 28px;
        padding-left: 5px;
    }
    .resourchSe-ul label {
        width: 70px;
        text-align: left;
        display: inline-block;
        line-height: 30px;
        vertical-align: top;
        text-align: center;
    }
    .resourchSe-ul input[type=text] {
        width: 150px;
        border: 1px solid #eeeeee;
        height: 28px;
        padding-left: 5px;
    }
}

#inputAnswer .title {
    width: 340px;
    height: 44px;
    background: #eee;
}

#inputAnswer .title h2 {
    width: 360px;
    height: 44px;
    margin-left: 6px;
    font-size: 12px;
    line-height: 44px;
    font-weight: normal;
}

#inputAnswer .content {
    margin-left: 25px;
    margin-top: 15px;
    height: 245px !important;
    .table-list {
        width: 310px;
        .table-list-currentrow-tdetail {
            text-align: center;
        }
    }
    .product-button{
        margin-left:90px;
        margin-top: 15px;
        .product-save{
            margin-right: 50px;
            width: 38px;
        }
        .product-submit{
            width:38px;
        }
    }
}
.tcdPageCode a {
    display: inline-block;
    color: #5f5f5f;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    border: 1px solid #eeeeee;
    margin: 0 2px;
    vertical-align: middle;
    background: #fff;
}
.tcdPageCode span.disabled {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    margin: 0 2px;
    color: #bfbfbf;
    background: #f2f2f2;
    border: 1px solid #eeeeee;
    vertical-align: middle;
}
.tcdPageCode span.current {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    margin: 0 2px;
    color: #fff;
    background-color: #59ABE3;
    border: 1px solid #59ABE3;
    vertical-align: middle;
}
.tcdPageCode span.totalPage {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
}
.tcdPageCode input {
    box-sizing: content-box;
    margin-top: -3px;
    text-align: center;
    border: 1px solid #eee;
    width: 41px;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0px 5px;
}
.tcdPageCode a:hover {
    text-decoration: none;
    border: 2px solid #59ABE3;
    color: #59ABE3;
    height: 24px;
    line-height: 23px;
    padding: 0 3px;
}