<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.cust.facade.dao.CrmAgreementStepsMapper" >
  <resultMap id="BaseResultMap" type="jq.steel.cs.services.cust.facade.model.CrmAgreementSteps" >
    <id column="SID" property="sid" jdbcType="NUMERIC" />
    <result column="CASE_CODE" property="caseCode" jdbcType="VARCHAR" />
    <result column="CONFIRM_BY" property="confirmBy" jdbcType="NUMERIC" />
    <result column="CONFIRM_DT" property="confirmDt" jdbcType="TIMESTAMP" />
    <result column="CONFIRM_STATUS" property="confirmStatus" jdbcType="VARCHAR" />
    <result column="CONFIRM_INFO" property="confirmInfo" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    SID, CASE_CODE, CONFIRM_BY, CONFIRM_DT, CONFIRM_STATUS, CONFIRM_INFO, CREATED_BY, 
    CREATED_DT, UPDATED_BY, UPDATED_DT, VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CRM_AGREEMENT_STEPS
    where SID = #{sid,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CRM_AGREEMENT_STEPS
    where SID = #{sid,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="jq.steel.cs.services.cust.facade.model.CrmAgreementSteps" >
    insert into CRM_AGREEMENT_STEPS (SID, CASE_CODE, CONFIRM_BY, 
      CONFIRM_DT, CONFIRM_STATUS, CONFIRM_INFO, 
      CREATED_BY, CREATED_DT, UPDATED_BY, 
      UPDATED_DT, VERSION)
    values (#{sid,jdbcType=NUMERIC}, #{caseCode,jdbcType=VARCHAR}, #{confirmBy,jdbcType=NUMERIC}, 
      #{confirmDt,jdbcType=TIMESTAMP}, #{confirmStatus,jdbcType=VARCHAR}, #{confirmInfo,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedDt,jdbcType=TIMESTAMP}, #{version,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmAgreementSteps" >
    insert into CRM_AGREEMENT_STEPS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="caseCode != null" >
        CASE_CODE,
      </if>
      <if test="confirmBy != null" >
        CONFIRM_BY,
      </if>
      <if test="confirmDt != null" >
        CONFIRM_DT,
      </if>
      <if test="confirmStatus != null" >
        CONFIRM_STATUS,
      </if>
      <if test="confirmInfo != null" >
        CONFIRM_INFO,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=NUMERIC},
      </if>
      <if test="caseCode != null" >
        #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="confirmBy != null" >
        #{confirmBy,jdbcType=NUMERIC},
      </if>
      <if test="confirmDt != null" >
        #{confirmDt,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmStatus != null" >
        #{confirmStatus,jdbcType=VARCHAR},
      </if>
      <if test="confirmInfo != null" >
        #{confirmInfo,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmAgreementSteps" >
    update CRM_AGREEMENT_STEPS
    <set >
      <if test="caseCode != null" >
        CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      </if>
      <if test="confirmBy != null" >
        CONFIRM_BY = #{confirmBy,jdbcType=NUMERIC},
      </if>
      <if test="confirmDt != null" >
        CONFIRM_DT = #{confirmDt,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmStatus != null" >
        CONFIRM_STATUS = #{confirmStatus,jdbcType=VARCHAR},
      </if>
      <if test="confirmInfo != null" >
        CONFIRM_INFO = #{confirmInfo,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=NUMERIC},
      </if>
    </set>
    where SID = #{sid,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="jq.steel.cs.services.cust.facade.model.CrmAgreementSteps" >
    update CRM_AGREEMENT_STEPS
    set CASE_CODE = #{caseCode,jdbcType=VARCHAR},
      CONFIRM_BY = #{confirmBy,jdbcType=NUMERIC},
      CONFIRM_DT = #{confirmDt,jdbcType=TIMESTAMP},
      CONFIRM_STATUS = #{confirmStatus,jdbcType=VARCHAR},
      CONFIRM_INFO = #{confirmInfo,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=NUMERIC}
    where SID = #{sid,jdbcType=NUMERIC}
  </update>
</mapper>