<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.cust.facade.dao.CrmAnnouncementMapper" >
    <resultMap id="BaseResultMap" type="jq.steel.cs.services.cust.facade.model.CrmAnnouncement" >
        <id column="AID" property="aid" jdbcType="NUMERIC" />
        <result column="ANN_NAME" property="annName" jdbcType="VARCHAR" />
        <result column="ANN_TYPE" property="annType" jdbcType="NUMERIC" />
        <result column="ANN_TITLE" property="annTitle" jdbcType="VARCHAR" />
        <result column="CREATE_BYID" property="createByid" jdbcType="NUMERIC" />
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
        <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
        <result column="UPDATE_BYID" property="updateByid" jdbcType="NUMERIC" />
        <result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
    AID, ANN_NAME, ANN_TYPE, ANN_TITLE, CREATE_BYID, CREATE_BY, CREATE_DT, UPDATE_BYID,
    UPDATE_DT
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from CRM_ANNOUNCEMENT
        where AID = #{aid,jdbcType=NUMERIC}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CRM_ANNOUNCEMENT
    where AID = #{aid,jdbcType=NUMERIC}
  </delete>
    <insert id="insert" parameterType="jq.steel.cs.services.cust.facade.model.CrmAnnouncement" >
        <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="aid">
            SELECT SEQ_CRM_ANNOUNCEMENT.nextval FROM dual
        </selectKey>
    insert into CRM_ANNOUNCEMENT (AID, ANN_NAME, ANN_TYPE,
      ANN_TITLE, CREATE_BYID, CREATE_BY,
      CREATE_DT, UPDATE_BYID, UPDATE_DT
      )
    values (#{aid,jdbcType=NUMERIC}, #{annName,jdbcType=VARCHAR}, #{annType,jdbcType=NUMERIC},
      #{annTitle,jdbcType=VARCHAR}, #{createByid,jdbcType=NUMERIC}, #{createBy,jdbcType=VARCHAR},
      #{createDt,jdbcType=TIMESTAMP}, #{updateByid,jdbcType=NUMERIC}, #{updateDt,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmAnnouncement" >
        <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="aid">
            SELECT SEQ_CRM_ANNOUNCEMENT.nextval FROM dual
        </selectKey>
        insert into CRM_ANNOUNCEMENT
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="aid != null" >
                AID,
            </if>
            <if test="annName != null" >
                ANN_NAME,
            </if>
            <if test="annType != null" >
                ANN_TYPE,
            </if>
            <if test="annTitle != null" >
                ANN_TITLE,
            </if>
            <if test="createByid != null" >
                CREATE_BYID,
            </if>
            <if test="createBy != null" >
                CREATE_BY,
            </if>
            <if test="createDt != null" >
                CREATE_DT,
            </if>
            <if test="updateByid != null" >
                UPDATE_BYID,
            </if>
            <if test="updateDt != null" >
                UPDATE_DT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="aid != null" >
                #{aid,jdbcType=NUMERIC},
            </if>
            <if test="annName != null" >
                #{annName,jdbcType=VARCHAR},
            </if>
            <if test="annType != null" >
                #{annType,jdbcType=NUMERIC},
            </if>
            <if test="annTitle != null" >
                #{annTitle,jdbcType=VARCHAR},
            </if>
            <if test="createByid != null" >
                #{createByid,jdbcType=NUMERIC},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDt != null" >
                #{createDt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateByid != null" >
                #{updateByid,jdbcType=NUMERIC},
            </if>
            <if test="updateDt != null" >
                #{updateDt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmAnnouncement" >
        update CRM_ANNOUNCEMENT
        <set >
            <if test="annName != null" >
                ANN_NAME = #{annName,jdbcType=VARCHAR},
            </if>
            <if test="annType != null" >
                ANN_TYPE = #{annType,jdbcType=NUMERIC},
            </if>
            <if test="annTitle != null" >
                ANN_TITLE = #{annTitle,jdbcType=VARCHAR},
            </if>
            <if test="createByid != null" >
                CREATE_BYID = #{createByid,jdbcType=NUMERIC},
            </if>
            <if test="createBy != null" >
                CREATE_BY = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDt != null" >
                CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateByid != null" >
                UPDATE_BYID = #{updateByid,jdbcType=NUMERIC},
            </if>
            <if test="updateDt != null" >
                UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where AID = #{aid,jdbcType=NUMERIC}
    </update>
    <update id="updateByPrimaryKey" parameterType="jq.steel.cs.services.cust.facade.model.CrmAnnouncement" >
    update CRM_ANNOUNCEMENT
    set ANN_NAME = #{annName,jdbcType=VARCHAR},
      ANN_TYPE = #{annType,jdbcType=NUMERIC},
      ANN_TITLE = #{annTitle,jdbcType=VARCHAR},
      CREATE_BYID = #{createByid,jdbcType=NUMERIC},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
      UPDATE_BYID = #{updateByid,jdbcType=NUMERIC},
      UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP}
    where AID = #{aid,jdbcType=NUMERIC}
  </update>
    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from CRM_ANNOUNCEMENT
        <include refid="Base_Where_Column_List" />
        order by AID desc
    </select>
    <sql id="Base_Where_Column_List">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="aid != null">
                and AID = #{aid,jdbcType=NUMERIC}
            </if>
            <if test="annTitle != null">
                and ANN_TITLE LIKE '%' || #{annTitle} ||'%'
            </if>
            <if test="annName != null">
                and ANN_NAME = #{annName,jdbcType=VARCHAR}
            </if>
            <if test="annType != null">
                and ANN_TYPE = #{annType,jdbcType=DECIMAL}
            </if>
            <if test="createByid != null">
                and CREATE_BYID = #{createByid,jdbcType=DECIMAL}
            </if>
            <if test="createDt != null">
                and CREATE_DT = #{createDt,jdbcType=TIMESTAMP}
            </if>
            <if test="updateByid != null">
                and UPDATE_BYID = #{updateByid,jdbcType=DECIMAL}
            </if>
            <if test="updateDt != null">
                and UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>


    <select id="getNewAnnouncement" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM CRM_ANNOUNCEMENT
        WHERE CREATE_DT = (SELECT max(CREATE_DT) FROM CRM_ANNOUNCEMENT)
    </select>

    <select id="selectByTitle" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from CRM_ANNOUNCEMENT
        <trim prefix="where" prefixOverrides="and | or">
            <if test="annTitle != null">
                and ANN_TITLE = #{annTitle}
            </if>
        </trim>
    </select>
</mapper>