<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.cust.facade.dao.CrmClaimInfoMapper" >
  <resultMap id="BaseResultMap" type="jq.steel.cs.services.cust.facade.model.CrmClaimInfo" >
    <id column="SID" property="sid" jdbcType="NUMERIC" />
    <result column="CLAIM_NO" property="claimNo" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="NUMERIC" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NO" property="millSheetNo" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR" />
    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
    <result column="CUST_ADDR" property="custAddr" jdbcType="VARCHAR" />
    <result column="CUST_EMP_NO" property="custEmpNo" jdbcType="VARCHAR" />
    <result column="CUST_TEL" property="custTel" jdbcType="VARCHAR" />
    <result column="LAST_USER_ID" property="lastUserId" jdbcType="VARCHAR" />
    <result column="LAST_USER" property="lastUser" jdbcType="VARCHAR" />
    <result column="LAST_USER_ADDR" property="lastUserAddr" jdbcType="VARCHAR" />
    <result column="CREATE_EMP_NO" property="createEmpNo" jdbcType="VARCHAR" />
    <result column="LAST_USER_TEL" property="lastUserTel" jdbcType="VARCHAR" />
    <result column="LAST_USER_EMAIL" property="lastUserEmail" jdbcType="VARCHAR" />
    <result column="STEEL_TYPE" property="steelType" jdbcType="VARCHAR" />
    <result column="CLAIM_TYPE" property="claimType" jdbcType="VARCHAR" />
    <result column="BATTEN_PLATE_NO" property="battenPlateNo" jdbcType="VARCHAR" />
    <result column="PRO_PROBLEM" property="proProblem" jdbcType="VARCHAR" />
    <result column="DESIGNATION" property="designation" jdbcType="VARCHAR" />
    <result column="USED" property="used" jdbcType="VARCHAR" />
    <result column="CONTRACT_NO" property="contractNo" jdbcType="VARCHAR" />
    <result column="CONTRACT_VOLUME" property="contractVolume" jdbcType="NUMERIC" />
    <result column="SIZE_MARK" property="specs" jdbcType="VARCHAR" />
    <result column="ORIGINAL_WEIGHT" property="originalWeight" jdbcType="NUMERIC" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="ORIGINAL_CAR_NO" property="originalCarNo" jdbcType="VARCHAR" />
    <result column="CONTRACT_UNIT_PRICE" property="contractUnitPrice" jdbcType="NUMERIC" />
    <result column="OBJECTION_NUM" property="objectionNum" jdbcType="NUMERIC" />
    <result column="END_PROCESSING_TECH" property="endProcessingTech" jdbcType="VARCHAR" />
    <result column="CLAIM_DESC" property="claimDesc" jdbcType="VARCHAR" />
    <result column="CLAIM_REASON" property="claimReason" jdbcType="VARCHAR" />
    <result column="CLAIM_STATE" property="claimState" jdbcType="VARCHAR" />
    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
    <result column="CHECK_STATE" property="checkState" jdbcType="VARCHAR" />
    <result column="REJECT_REASON" property="rejectReason" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="NUMERIC" />
    <result column="DISSENTING_UNIT" property="dissentingUnit" jdbcType="NUMERIC" />
    <result column="INQUIRE_STATE" property="inquireState" jdbcType="VARCHAR" />
    <result column="ZCPMC" property="zcpmc" jdbcType="VARCHAR" />
    <result column="ZPH" property="zph" jdbcType="VARCHAR" />
    <result column="PARENT_SID" property="parentSid" jdbcType="NUMERIC" />

    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="PRESENTATION_USER" property="presentationUser" jdbcType="VARCHAR" />
    <result column="PRESENTATION_DATE" property="presentationDate" jdbcType="TIMESTAMP" />
    <result column="AGREEMENT_URL" property="agreementUrl" jdbcType="VARCHAR" />
    <result column="AGREEMENT_NAME" property="agreementName" jdbcType="VARCHAR" />
    <result column="AGREEMENT_STATE" property="agreementState" jdbcType="VARCHAR" />
    <result column="REASONS_FOR_COMPULSORY_CLOSURE" property="reasonsForCompulsoryClosure" jdbcType="VARCHAR" />
    <result column="REPORT_PICTURE" property="reportPictures" jdbcType="VARCHAR" />
    <result column="OBJECTION_CONFIRMATION" property="objectionConfirmation" jdbcType="VARCHAR" />
    <result column="ADMISSIBILITY_TIME" property="admissibilityTime" jdbcType="TIMESTAMP" />
    <result column="CLOSING_TIME" property="closingTime" jdbcType="TIMESTAMP" />
    <result column="MEMO" property="memo"/>
    <result column="IS_TRACK" property="IsTrack"/>
    <result column="EXPIRED_REASON" property="expiredReason"/>

    <result column="LOGISTICS_PROCESS" property="logisticsProcess" />
    <result column="CLAIM_VERDICT" property="claimVerdict" />
    <result column="AGREEMENT_CONTENT" property="agreementContent"/>
    <result column="ZCHEHAO" property="zchehao"/>
    <result column="ZHTH" property="zhth"/>
    <result column="INQUIREINFO" property="inquireInfo"/>
    <result column="AGREEMENT_AMOUNT" property="agreementAmount"/>
    <result column="AGREEMENT_AMOUNT_UPPER" property="agreementAmountUpper"/>
    <result column="INQUIRE_INFO" property="inquireInfo"/>
    <result column="FIELD_CONCLUSION_TEXT" property="fieldConclusionText"/>
    <result column="EXPIRED_SIGN" property="expiredSign"/>
  </resultMap>

  <resultMap id="BaseResultMap1" type="jq.steel.cs.services.cust.facade.model.ObjectionLedger" >
    <id column="SID" property="sid" jdbcType="NUMERIC" />
    <result column="SIZE_MARK" property="specs" jdbcType="VARCHAR" />
    <result column="CLAIM_STATE" property="claimState" jdbcType="VARCHAR" />
    <result column="CLAIM_NO" property="claimNo" jdbcType="VARCHAR" />
    <result column="LAST_USER" property="lastUser" jdbcType="VARCHAR" />
    <result column="LAST_USER_ADDR" property="lastUserAddr" jdbcType="VARCHAR" />
    <result column="CREATE_EMP_NO" property="createEmpNo" jdbcType="VARCHAR" />
    <result column="LAST_USER_TEL" property="lastUserTel" jdbcType="VARCHAR" />
    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
    <result column="CUST_EMP_NO" property="custEmpNo" jdbcType="VARCHAR" />
    <result column="CUST_TEL" property="custTel" jdbcType="VARCHAR" />
    <result column="END_PROCESSING_TECH" property="endProcessingTech" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NO" property="millSheetNo" jdbcType="VARCHAR" />
    <result column="USED" property="used" jdbcType="VARCHAR" />
    <result column="ORIGINAL_WEIGHT" property="originalWeight" jdbcType="NUMERIC" />
    <result column="BATTEN_PLATE_NO" property="battenPlateNo" jdbcType="VARCHAR" />
    <result column="DESIGNATION" property="designation" jdbcType="VARCHAR" />
    <result column="OBJECTION_NUM" property="objectionNum" jdbcType="NUMERIC" />
    <result column="CLAIM_REASON" property="claimReason" jdbcType="VARCHAR" />
    <result column="PRO_PROBLEM" property="proProblem" jdbcType="VARCHAR" />
    <result column="CLAIM_TYPE" property="claimType" jdbcType="VARCHAR" />
    <result column="LOGISTICS_PROCESS" property="logisticsProcess" jdbcType="VARCHAR" />
    <result column="PRODUCT_DT" property="productDt" jdbcType="TIMESTAMP" />
    <result column="HANDING_SUGGESTION" property="handingSuggestion" jdbcType="VARCHAR" />
    <result column="OBJECTION_CONFIRMATION" property="objectionConfirmation" jdbcType="NUMERIC" />
    <result column="ADMISSIBILITY_TIME" property="admissibilityTime" jdbcType="TIMESTAMP" />
    <result column="CLOSING_TIME" property="closingTime" jdbcType="TIMESTAMP" />
    <result column="CLOSING_USER" property="closingUser" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo"/>
    <result column="ORIGINAL_CAR_NO" property="originalCarNo"/>
    <result column="AGREEMENT_AMOUNT" property="agreementAmount"/>
    <result column="MILL_LINE" property="millLine"/>
    <result column="ARRIVAL_TIME" property="arrivalTime"/>
    <result column="IS_TRACK" property="IsTrack"/>
    <result column="HANDLER_USER" property="handlerUser"/>
    <result column="HANDLER_TIME" property="handlerTime"/>
    <result column="HANDLER_RESULTS" property="handlerResults"/>
    <result column="DEFECT_NAME" property="defectName"/>
    <result column="ZCPMC" property="zcpmc"/>
  </resultMap>

  <sql id="Base_Column_List" >
    SID, CLAIM_NO, PRODUCT_ID, PRODUCT_NAME, MILL_SHEET_NO, CUSTOMER_ID, CUSTOMER_NAME, 
    CUST_ADDR, CUST_EMP_NO, CUST_TEL, LAST_USER_ID, LAST_USER, LAST_USER_ADDR, CREATE_EMP_NO, 
    LAST_USER_TEL, LAST_USER_EMAIL, STEEL_TYPE, CLAIM_TYPE, BATTEN_PLATE_NO, PRO_PROBLEM, 
    DESIGNATION, USED, CONTRACT_NO, CONTRACT_VOLUME, SIZE_MARK, ORIGINAL_WEIGHT, ORDER_NO, 
    ORIGINAL_CAR_NO, CONTRACT_UNIT_PRICE, OBJECTION_NUM, END_PROCESSING_TECH, CLAIM_DESC, 
    CLAIM_REASON, CLAIM_STATE, FILE_PATH, CHECK_STATE, REJECT_REASON, CREATED_BY, CREATED_DT,
    UPDATED_BY, UPDATED_DT, VERSION,DISSENTING_UNIT,INQUIRE_STATE
  </sql>
  <!--<select id="select" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimInfo" >
    select 
    <include refid="Base_Column_List" />
    from CRM_CLAIM_INFO
    where CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
  </select>-->
  <delete id="deleteByPrimaryKey" parameterType="java.util.Map" >
    delete from CRM_CLAIM_INFO
    where CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="sid" order="BEFORE" >
      SELECT SEQ_CRM_CLAIM_INFO.nextval  FROM DUAL
    </selectKey>
    insert into CRM_CLAIM_INFO (SID, CLAIM_NO, PRODUCT_ID, 
      PRODUCT_NAME, MILL_SHEET_NO, CUSTOMER_ID, 
      CUSTOMER_NAME, CUST_ADDR, CUST_EMP_NO, 
      CUST_TEL, LAST_USER_ID, LAST_USER, 
      LAST_USER_ADDR, CREATE_EMP_NO, LAST_USER_TEL, 
      LAST_USER_EMAIL, STEEL_TYPE, CLAIM_TYPE, 
      BATTEN_PLATE_NO, PRO_PROBLEM, DESIGNATION, 
      USED, CONTRACT_NO, CONTRACT_VOLUME, 
      SIZE_MARK, ORIGINAL_WEIGHT, ORDER_NO, 
      ORIGINAL_CAR_NO, CONTRACT_UNIT_PRICE, OBJECTION_NUM, 
      END_PROCESSING_TECH, CLAIM_DESC, CLAIM_REASON,
      CLAIM_STATE, FILE_PATH, CHECK_STATE, 
      REJECT_REASON, CREATED_BY, CREATED_DT, 
      UPDATED_BY, UPDATED_DT, VERSION,DISSENTING_UNIT,INQUIRE_STATE,REPORT_PICTURE,OBJECTION_CONFIRMATION
      )
    values (#{sid,jdbcType=NUMERIC}, #{claimNo,jdbcType=VARCHAR}, #{productId,jdbcType=NUMERIC}, 
      #{productName,jdbcType=VARCHAR}, #{millSheetNo,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{custAddr,jdbcType=VARCHAR}, #{custEmpNo,jdbcType=VARCHAR}, 
      #{custTel,jdbcType=VARCHAR}, #{lastUserId,jdbcType=VARCHAR}, #{lastUser,jdbcType=VARCHAR}, 
      #{lastUserAddr,jdbcType=VARCHAR}, #{createEmpNo,jdbcType=VARCHAR}, #{lastUserTel,jdbcType=VARCHAR}, 
      #{lastUserEmail,jdbcType=VARCHAR}, #{steelType,jdbcType=VARCHAR}, #{claimType,jdbcType=VARCHAR}, 
      #{battenPlateNo,jdbcType=VARCHAR}, #{proProblem,jdbcType=VARCHAR}, #{designation,jdbcType=VARCHAR}, 
      #{used,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, #{contractVolume,jdbcType=NUMERIC}, 
      #{specs,jdbcType=VARCHAR}, #{originalWeight,jdbcType=NUMERIC}, #{orderNo,jdbcType=VARCHAR},
      #{originalCarNo,jdbcType=VARCHAR}, #{contractUnitPrice,jdbcType=NUMERIC}, #{objectionNum,jdbcType=NUMERIC}, 
      #{endProcessingTech,jdbcType=VARCHAR}, #{claimDesc,jdbcType=VARCHAR}, #{claimReason,jdbcType=VARCHAR},
      #{claimState,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{checkState,jdbcType=VARCHAR}, 
      #{rejectReason,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdDt,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedDt,jdbcType=TIMESTAMP}, #{version,jdbcType=NUMERIC},#{dissentingUnit,jdbcType=NUMERIC},
      #{inquireState,jdbcType=VARCHAR},#{reportPictures,jdbcType=VARCHAR},#{objectionConfirmation ,jdbcType=NUMERIC}
      )
  </insert>

  <insert id="insertSelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="sid" order="BEFORE" >
      SELECT SEQ_CRM_CLAIM_INFO.nextval  FROM DUAL
    </selectKey>
    insert into CRM_CLAIM_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="claimNo != null and claimNo != ''" >
        CLAIM_NO,
      </if>
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="productName != null and productName != ''" >
        PRODUCT_NAME,
      </if>
      <if test="millSheetNo != null and millSheetNo != ''" >
        MILL_SHEET_NO,
      </if>
      <if test="customerId != null and customerId != ''" >
        CUSTOMER_ID,
      </if>
      <if test="customerName != null and customerName != ''" >
        CUSTOMER_NAME,
      </if>
      <if test="custAddr != null and custAddr != ''" >
        CUST_ADDR,
      </if>
      <if test="custEmpNo != null and custEmpNo != ''" >
        CUST_EMP_NO,
      </if>
      <if test="custTel != null and custTel != ''" >
        CUST_TEL,
      </if>
      <if test="lastUserId != null and lastUserId != ''" >
        LAST_USER_ID,
      </if>
      <if test="lastUser != null and lastUser != ''" >
        LAST_USER,
      </if>
      <if test="lastUserAddr != null and lastUserAddr != ''" >
        LAST_USER_ADDR,
      </if>
      <if test="createEmpNo != null and createEmpNo != ''" >
        CREATE_EMP_NO,
      </if>
      <if test="lastUserTel != null and lastUserTel != ''" >
        LAST_USER_TEL,
      </if>
      <if test="lastUserEmail != null and lastUserEmail != ''" >
        LAST_USER_EMAIL,
      </if>
      <if test="steelType != null and steelType != ''" >
        STEEL_TYPE,
      </if>
      <if test="claimType != null and claimType != ''" >
        CLAIM_TYPE,
      </if>
      <if test="battenPlateNo != null and battenPlateNo != ''" >
        BATTEN_PLATE_NO,
      </if>
      <if test="proProblem != null and proProblem != ''" >
        PRO_PROBLEM,
      </if>
      <if test="designation != null and designation != ''" >
        DESIGNATION,
      </if>
      <if test="used != null and used != ''" >
        USED,
      </if>
      <if test="contractNo != null and contractNo != ''" >
        CONTRACT_NO,
      </if>
      <if test="contractVolume != null" >
        CONTRACT_VOLUME,
      </if>
      <if test="specs != null and specs != ''" >
        SIZE_MARK,
      </if>
      <if test="originalWeight != null" >
        ORIGINAL_WEIGHT,
      </if>
      <if test="orderNo != null and orderNo != ''" >
        ORDER_NO,
      </if>
      <if test="originalCarNo != null and originalCarNo != ''" >
        ORIGINAL_CAR_NO,
      </if>
      <if test="contractUnitPrice != null" >
        CONTRACT_UNIT_PRICE,
      </if>
      <if test="objectionNum != null" >
        OBJECTION_NUM,
      </if>
      <if test="endProcessingTech != null and endProcessingTech != ''" >
        END_PROCESSING_TECH,
      </if>
      <if test="claimDesc != null and claimDesc != ''" >
        CLAIM_DESC,
      </if>
      <if test="claimReason != null and claimReason != ''" >
        CLAIM_REASON,
      </if>
      <if test="claimState != null and claimState != ''" >
        CLAIM_STATE,
      </if>
      <if test="filePath != null and filePath != ''" >
        FILE_PATH,
      </if>
      <if test="checkState != null and checkState != ''" >
        CHECK_STATE,
      </if>
      <if test="rejectReason != null and rejectReason != ''" >
        REJECT_REASON,
      </if>
      <if test="createdBy != null and createdBy != ''" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="updatedBy != null and updatedBy != ''" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="dissentingUnit != null" >
        DISSENTING_UNIT,
      </if>
      <if test="reportPictures != null and reportPictures != ''" >
        REPORT_PICTURE,
      </if>
      <if test="objectionConfirmation != null" >
        OBJECTION_CONFIRMATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=NUMERIC},
      </if>
      <if test="claimNo != null and claimNo != ''" >
        #{claimNo,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=NUMERIC},
      </if>
      <if test="productName != null and productName != ''" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="millSheetNo != null and millSheetNo != ''" >
        #{millSheetNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null and customerId != ''" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null and customerName != ''" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="custAddr != null and custAddr != ''" >
        #{custAddr,jdbcType=VARCHAR},
      </if>
      <if test="custEmpNo != null and custEmpNo != ''" >
        #{custEmpNo,jdbcType=VARCHAR},
      </if>
      <if test="custTel != null and custTel != ''" >
        #{custTel,jdbcType=VARCHAR},
      </if>
      <if test="lastUserId != null and lastUserId != ''" >
        #{lastUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastUser != null and lastUser != ''" >
        #{lastUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUserAddr != null and lastUserAddr != ''" >
        #{lastUserAddr,jdbcType=VARCHAR},
      </if>
      <if test="createEmpNo != null and createEmpNo != ''" >
        #{createEmpNo,jdbcType=VARCHAR},
      </if>
      <if test="lastUserTel != null and lastUserTel != ''" >
        #{lastUserTel,jdbcType=VARCHAR},
      </if>
      <if test="lastUserEmail != null and lastUserEmail != ''" >
        #{lastUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="steelType != null and steelType != ''" >
        #{steelType,jdbcType=VARCHAR},
      </if>
      <if test="claimType != null and claimType != ''" >
        #{claimType,jdbcType=VARCHAR},
      </if>
      <if test="battenPlateNo != null and battenPlateNo != ''" >
        #{battenPlateNo,jdbcType=VARCHAR},
      </if>
      <if test="proProblem != null and proProblem != ''" >
        #{proProblem,jdbcType=VARCHAR},
      </if>
      <if test="designation != null and designation != ''" >
        #{designation,jdbcType=VARCHAR},
      </if>
      <if test="used != null and used != ''" >
        #{used,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null and contractNo != ''" >
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractVolume != null" >
        #{contractVolume,jdbcType=NUMERIC},
      </if>
      <if test="specs != null and specs != ''" >
        #{specs,jdbcType=VARCHAR},
      </if>
      <if test="originalWeight != null" >
        #{originalWeight,jdbcType=NUMERIC},
      </if>
      <if test="orderNo != null and orderNo != ''" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="originalCarNo != null and originalCarNo != ''" >
        #{originalCarNo,jdbcType=VARCHAR},
      </if>
      <if test="contractUnitPrice != null" >
        #{contractUnitPrice,jdbcType=NUMERIC},
      </if>
      <if test="objectionNum != null" >
        #{objectionNum,jdbcType=NUMERIC},
      </if>
      <if test="endProcessingTech != null and endProcessingTech != ''" >
        #{endProcessingTech,jdbcType=VARCHAR},
      </if>
      <if test="claimDesc != null and claimDesc != ''" >
        #{claimDesc,jdbcType=VARCHAR},
      </if>
      <if test="claimReason != null and claimReason != ''" >
        #{claimReason,jdbcType=VARCHAR},
      </if>
      <if test="claimState != null and claimState != ''" >
        #{claimState,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null and filePath != ''" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="checkState != null and checkState != ''" >
        #{checkState,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null and rejectReason != ''" >
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null and createdBy != ''" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null and updatedBy != ''" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=NUMERIC},
      </if>
      <if test="dissentingUnit != null" >
        #{dissentingUnit,jdbcType=NUMERIC},
      </if>
      <if test="reportPictures != null and reportPictures != ''" >
        #{reportPictures,jdbcType=VARCHAR},
      </if>
      <if test="objectionConfirmation != null" >
        #{objectionConfirmation ,jdbcType=NUMERIC}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimInfo" >
    update CRM_CLAIM_INFO
    <trim suffixOverrides=",">
    set version = version + 1,
      <if test="productId != null" >
        PRODUCT_ID = #{productId,jdbcType=NUMERIC},
      </if>
      <if test="productName != null " >
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="millSheetNo != null " >
        MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null " >
        CUSTOMER_ID = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null " >
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="custAddr != null " >
        CUST_ADDR = #{custAddr,jdbcType=VARCHAR},
      </if>
      <if test="custEmpNo != null " >
        CUST_EMP_NO = #{custEmpNo,jdbcType=VARCHAR},
      </if>
      <if test="custTel != null " >
        CUST_TEL = #{custTel,jdbcType=VARCHAR},
      </if>
      <if test="lastUserId != null  " >
        LAST_USER_ID = #{lastUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastUser != null " >
        LAST_USER = #{lastUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUserAddr != null " >
        LAST_USER_ADDR = #{lastUserAddr,jdbcType=VARCHAR},
      </if>
      <if test="createEmpNo != null  " >
        CREATE_EMP_NO = #{createEmpNo,jdbcType=VARCHAR},
      </if>
      <if test="lastUserTel != null " >
        LAST_USER_TEL = #{lastUserTel,jdbcType=VARCHAR},
      </if>
      <if test="lastUserEmail != null  " >
        LAST_USER_EMAIL = #{lastUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="steelType != null " >
        STEEL_TYPE = #{steelType,jdbcType=VARCHAR},
      </if>
      <if test="claimType != null " >
        CLAIM_TYPE = #{claimType,jdbcType=VARCHAR},
      </if>
      <if test="battenPlateNo != null " >
        BATTEN_PLATE_NO = #{battenPlateNo,jdbcType=VARCHAR},
      </if>
      <if test="proProblem != null " >
        PRO_PROBLEM = #{proProblem,jdbcType=VARCHAR},
      </if>
      <if test="designation != null " >
        DESIGNATION = #{designation,jdbcType=VARCHAR},
      </if>
      <if test="used != null " >
        USED = #{used,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null " >
        CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractVolume != null" >
        CONTRACT_VOLUME = #{contractVolume,jdbcType=NUMERIC},
      </if>
      <if test="specs != null" >
        SIZE_MARK = #{specs,jdbcType=VARCHAR},
      </if>
      <if test="originalWeight != null" >
        ORIGINAL_WEIGHT = #{originalWeight,jdbcType=NUMERIC},
      </if>
      <if test="orderNo != null " >
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="originalCarNo != null " >
        ORIGINAL_CAR_NO = #{originalCarNo,jdbcType=VARCHAR},
      </if>
      <if test="contractUnitPrice != null" >
        CONTRACT_UNIT_PRICE = #{contractUnitPrice,jdbcType=NUMERIC},
      </if>
      <if test="objectionNum != null" >
        OBJECTION_NUM = #{objectionNum,jdbcType=NUMERIC},
      </if>
      <if test="endProcessingTech != null  " >
        END_PROCESSING_TECH = #{endProcessingTech,jdbcType=VARCHAR},
      </if>
      <if test="claimDesc != null  " >
        CLAIM_DESC = #{claimDesc,jdbcType=VARCHAR},
      </if>
      <if test="claimReason != null  " >
        CLAIM_REASON = #{claimReason,jdbcType=VARCHAR},
      </if>
      <if test="claimState != null " >
        CLAIM_STATE = #{claimState,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null " >
        FILE_PATH = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="checkState != null  " >
        CHECK_STATE = #{checkState,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null " >
        REJECT_REASON = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null " >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null  " >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="dissentingUnit != null" >
        DISSENTING_UNIT = #{dissentingUnit,jdbcType=NUMERIC},
      </if>
      <if test="inquireState != null  " >
        INQUIRE_STATE = #{inquireState,jdbcType=VARCHAR},
      </if>
      <if test="reportPictures != null " >
        REPORT_PICTURE = #{reportPictures,jdbcType=VARCHAR},
      </if>
      <if test="objectionConfirmation != null" >
        OBJECTION_CONFIRMATION = #{objectionConfirmation ,jdbcType=NUMERIC},
      </if>
      <if test="trace != null" >
        TRACE = #{trace ,jdbcType=VARCHAR},
      </if>
      <if test="trackingTime != null" >
        TRACKING_TIME = #{trackingTime ,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmationPerson != null" >
        CONFIRMATION_PERSON = #{confirmationPerson ,jdbcType=VARCHAR},
      </if>
      <if test="confirmationTime != null" >
        CONFIRMATION_TIME = #{confirmationTime ,jdbcType=TIMESTAMP},
      </if>
      <if test="IsTrack != null" >
        IS_TRACK = #{IsTrack ,jdbcType=VARCHAR},
      </if>
      <if test="expiredReason != null" >
        EXPIRED_REASON = #{expiredReason ,jdbcType=VARCHAR},
      </if>
      <if test="expiredSign != null" >
        EXPIRED_SIGN = #{expiredSign ,jdbcType=VARCHAR},
      </if>
    </trim>
    where CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
  </update>

<!--导出查询-->
  <select id="findByPage" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimInfo" >
    SELECT H.*FROM(SELECT
    A.CLAIM_NO,
    A.CLAIM_STATE,
    A.MILL_SHEET_NO,
    A.PRODUCT_ID,
    A.PRODUCT_NAME,
    A.DESIGNATION,
    A.SIZE_MARK,
    A.CLAIM_TYPE,
    A.OBJECTION_NUM,
    A.INQUIRE_STATE,
    A.LAST_USER,
    A.CUSTOMER_NAME,
    case when B.DEPT_CODE = '1000' then '不锈'
    when B.DEPT_CODE = '2000' then '炼轧'
    when B.DEPT_CODE = '2200' then '碳钢'
    when B.DEPT_CODE='3000' then '榆钢' else B.DEPT_CODE end as DEPT_CODE,
    (select T.TYPE_NAME from sgai_md_common_type t
    WHERE T.SID=(select T.PARENT_SID from sgai_md_common_type t
    WHERE T.TYPE_NAME=F.ZCPMC)) AS ZCPMC,
    (select T.PARENT_SID from sgai_md_common_type t
    WHERE T.SID=(select T.PARENT_SID from sgai_md_common_type t
    WHERE T.TYPE_NAME=F.ZCPMC)) AS PARENT_SID,
    F.ZPH,
    D.PRESENTATION_DATE,
    D.PRESENTATION_USER,
    D.REASONS_FOR_COMPULSORY_CLOSURE,
    E.AGREEMENT_URL,
    E.AGREEMENT_NAME,
    E.AGREEMENT_STATE
    FROM
    WARRANTY.CRM_CLAIM_INFO A
    LEFT JOIN WARRANTY.MILL_SHEET_HOSTS B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_APPLY D ON A.CLAIM_NO = D.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_AGREEMENT_INFO E ON A.CLAIM_NO = E.CASE_CODE
    LEFT JOIN WARRANTY.MILL_SHEET_HEAD F ON A.MILL_SHEET_NO = F.MILL_SHEET_NO)H
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="endDtStr != null" >
        AND TO_CHAR (H.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &lt;= #{endDtStr}
        <!--AND  #{} &gt;= A.PRESENTATION_DATE-->
      </if>
      <if test="startDtStr != null" >
        AND TO_CHAR (H.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &gt;= #{startDtStr}
        <!--AND A.PRESENTATION_DATE  &gt;= #{startDt}-->
      </if>
      <if test="customerId != null and customerId != ''" >
        AND H.CUSTOMER_ID = #{customerId,jdbcType=VARCHAR}
      </if>
      <if test="claimType != null and claimType != ''" >
        AND H.CLAIM_TYPE = #{claimType,jdbcType=VARCHAR}
      </if>
      <if test="productName != null and productName != ''" >
        AND H.PRODUCT_NAME = #{productName,jdbcType=VARCHAR}
      </if>
      <if test="productId != null and productId != ''" >
        AND H.PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      </if>
      <if test="claimNo != null and claimNo != ''" >
        AND H.CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
      </if>
      <if test="battenPlateNo != null and battenPlateNo != ''" >
        AND H.BATTEN_PLATE_NO = #{battenPlateNo,jdbcType=VARCHAR}
      </if>
      <if test="deptCode != null and deptCode != ''" >
        AND  H.DEPT_CODE like  '%' || #{deptCode} ||'%'
      </if>
      <if test="designation != null and designation != ''" >
        AND H.DESIGNATION = #{designation,jdbcType=VARCHAR}
      </if>
      <choose>
        <when test="claimState1 !=null and claimState1 != ''">
          and H.CLAIM_STATE  = #{claimState1,jdbcType=VARCHAR}
        </when>
        <otherwise>
          AND H.CLAIM_STATE IN ('INVESTIGATION', 'HANDLE', 'END', 'EVALUATE','ADOPT')
        </otherwise>
      </choose>
      <!-- <if test="claimState != null and claimState != ''" >
         AND A.CLAIM_STATE = #{claimState,jdbcType=VARCHAR}
       </if>-->
      <if test="inquireState != null and inquireState != ''" >
        AND H.INQUIRE_STATE = #{inquireState}
      </if>
      <if test="sid != null and sid != ''" >
        AND H.PARENT_SID = #{sid,jdbcType=VARCHAR}
      </if>
      <if test="agreementState != null and agreementState != ''" >
        AND H.AGREEMENT_STATE = #{agreementState}
      </if>

    </trim>
  </select>



  <!--查询异议确认量-->
  <select id="findInfo" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimInfo" >
   SELECT A.OBJECTION_CONFIRMATION
    FROM CRM_CLAIM_INFO A
    WHERE A.CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
  </select>





  <!--异议处理查询-->
  <select id="findByPageChuLi" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimInfo" >
    SELECT H.*FROM(SELECT
    A.BATTEN_PLATE_NO,
    A.SID,
    A.IS_TRACK,
    A.EXPIRED_REASON,
    A.CLAIM_NO,
    A.CLAIM_STATE,
    A.MILL_SHEET_NO,
    A.PRODUCT_ID,
    A.PRODUCT_NAME,
    A.DESIGNATION,
    A.SIZE_MARK,
    A.CLAIM_TYPE,
    A.OBJECTION_NUM,
    A.INQUIRE_STATE,
    A.LAST_USER,
    A.CUSTOMER_NAME,
    A.EXPIRED_SIGN,
    B.DEPT_CODE,
    (select T.TYPE_NAME from sgai_md_common_type t
    WHERE T.SID=(select T.PARENT_SID from sgai_md_common_type t
    WHERE T.TYPE_NAME=F.ZCPMC)) AS ZCPMC,
    (select T.SID from sgai_md_common_type t
    WHERE T.SID=(select T.PARENT_SID from sgai_md_common_type t
    WHERE T.TYPE_NAME=F.ZCPMC)) AS PARENT_SID,
    F.ZPH,
    D.PRESENTATION_DATE,
    D.PRESENTATION_USER,
    D.REASONS_FOR_COMPULSORY_CLOSURE,
    D.ADMISSIBILITY_TIME,
    D.CLOSING_TIME,
    E.AGREEMENT_URL,
    E.AGREEMENT_NAME,
    E.REJECT_REASON,
    E.AGREEMENT_STATE,
    G.MEMO AS MEMO,


    D.CLAIM_DESC,
    G.LOGISTICS_PROCESS,
    G.CLAIM_VERDICT,
    F.ZCHEHAO,
    F.ZHTH,
    D.END_PROCESSING_TECH,
    I.INQUIRE_INFO,
    E.AGREEMENT_CONTENT,
    E.AGREEMENT_AMOUNT,
    E.AGREEMENT_AMOUNT_UPPER,
    D.OBJECTION_CONFIRMATION,
    D.CONTRACT_NO,
    I.FIELD_CONCLUSION_TEXT

    FROM
    WARRANTY.CRM_CLAIM_INFO A
    LEFT JOIN WARRANTY.MILL_SHEET_HOSTS B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_APPLY D ON A.CLAIM_NO = D.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_AGREEMENT_INFO E ON A.CLAIM_NO = E.CASE_CODE
    LEFT JOIN WARRANTY.MILL_SHEET_HEAD F ON A.MILL_SHEET_NO = F.MILL_SHEET_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_INNER_INQUIRE G ON A.CLAIM_NO = G.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_OUT_INQUIRE I ON A.CLAIM_NO = I.CLAIM_NO
    )H
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="endDtStr != null" >
        AND TO_CHAR (H.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &lt;= #{endDtStr}
        <!--AND  #{} &gt;= A.PRESENTATION_DATE-->
      </if>
      <if test="startDtStr != null" >
        AND TO_CHAR (H.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &gt;= #{startDtStr}
        <!--AND A.PRESENTATION_DATE  &gt;= #{startDt}-->
      </if>
      <if test="customerId != null and customerId != ''" >
        AND H.CUSTOMER_NAME = #{customerId,jdbcType=VARCHAR}
      </if>
      <if test="claimType != null and claimType != ''" >
        AND H.CLAIM_TYPE = #{claimType,jdbcType=VARCHAR}
      </if>
      <if test="productName != null and productName != ''" >
        AND H.PRODUCT_NAME = #{productName,jdbcType=VARCHAR}
      </if>
      <if test="productId != null and productId != ''" >
        AND H.PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      </if>
      <if test="claimNo != null and claimNo != ''" >
        AND H.CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
      </if>
      <if test="battenPlateNo != null and battenPlateNo != ''" >
        AND H.BATTEN_PLATE_NO = #{battenPlateNo,jdbcType=VARCHAR}
      </if>
      <if test="deptCode != null and deptCode != ''" >
        AND H.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
      </if>
      <if test="deptCodes != null" >
        AND H.DEPT_CODE  in
        <foreach collection="deptCodes"  index="index" close=")" open="(" item="item" separator=",">
          #{deptCodes[${index}]}
        </foreach>
      </if>
      <if test="designation != null and designation != ''" >
        AND H.DESIGNATION = #{designation,jdbcType=VARCHAR}
      </if>
      <choose>
        <when test="claimState1 !=null and claimState1 != ''">
          and H.CLAIM_STATE  = #{claimState1,jdbcType=VARCHAR}
        </when>
        <otherwise>
          AND H.CLAIM_STATE IN ('INVESTIGATION', 'HANDLE', 'END', 'EVALUATE','ADOPT')
        </otherwise>
      </choose>
      <if test="inquireState != null and inquireState != ''" >
        AND H.INQUIRE_STATE = #{inquireState}
      </if>
      <if test="sid != null and sid != ''" >
        AND H.PARENT_SID = #{sid,jdbcType=VARCHAR}
      </if>
      <if test="agreementState != null and agreementState != ''" >
        AND H.AGREEMENT_STATE = #{agreementState}
      </if>
    </trim>
    order by H.SID desc
  </select>
  <!--销售审核查询-->
  <select id="findByParams" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimInfo" >
    SELECT
    A.*,
    B.DEPT_CODE,
    D.PRESENTATION_DATE,
    D.PRESENTATION_USER
    FROM
    WARRANTY.CRM_CLAIM_INFO A
    LEFT JOIN WARRANTY.MILL_SHEET_HOSTS B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_APPLY D ON A.CLAIM_NO = D.CLAIM_NO
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="endDtStr != null" >
      AND TO_CHAR (D.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &lt;= #{endDtStr}
      <!--AND  #{} &gt;= A.PRESENTATION_DATE-->
    </if>
    <if test="customerId != null and customerId != ''" >
      AND A.CUSTOMER_ID = #{customerId,jdbcType=VARCHAR}
    </if>
    <if test="startDtStr != null" >
      AND TO_CHAR (D.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &gt;= #{startDtStr}
      <!--AND A.PRESENTATION_DATE  &gt;= #{startDt}-->
    </if>
      <if test="claimType != null and claimType != ''" >
        AND A.CLAIM_TYPE = #{claimType,jdbcType=VARCHAR}
      </if>
      <if test="productId != null and productId != ''" >
        AND A.PRODUCT_ID = #{productId,jdbcType=VARCHAR}
      </if>
      <if test="productName != null and productName != ''" >
        AND A.PRODUCT_NAME = #{productName,jdbcType=VARCHAR}
      </if>
      <if test="claimNo != null and claimNo != ''" >
        AND A.CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
      </if>
      <if test="battenPlateNo != null and battenPlateNo != ''" >
        AND A.BATTEN_PLATE_NO = #{battenPlateNo,jdbcType=VARCHAR}
      </if>
      <if test="claimState != null and claimState != ''" >
        AND A.CLAIM_STATE = #{claimState,jdbcType=VARCHAR}
      </if>
      <if test="manufactor != null and manufactor != ''" >
        AND  B.DEPT_CODE = #{manufactor,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <!--根据ClaimNo查询-->
  <select id="getByCaimNo" resultType="jq.steel.cs.services.cust.facade.model.CrmClaimInfo" parameterType="java.lang.String">
    select CLAIM_STATE
    from CRM_CLAIM_INFO
    <trim prefix="where" prefixOverrides="AND | OR">
      <if test="claimNo != null and claimNo != ''">
        and CLAIM_NO = #{claimNo}
      </if>
    </trim>
  </select>



  <select id="findLedgerByPage" resultMap="BaseResultMap1" parameterType="jq.steel.cs.services.cust.facade.model.ObjectionLedger" >
    SELECT h.* from(SELECT
    A.SID,
    A.CLAIM_NO,
    A.CLAIM_STATE,
    A.LAST_USER,
    A.LAST_USER_TEL,
    A.CREATE_EMP_NO,
    A.CUSTOMER_NAME,
    A.CUST_EMP_NO,
    A.CUST_TEL,
    A.LAST_USER_ADDR,
    A.END_PROCESSING_TECH,
    A.USED,
    A.SIZE_MARK,
    A.ORIGINAL_CAR_NO,
    A.MILL_SHEET_NO,
    A.BATTEN_PLATE_NO,
    A.DESIGNATION,
    A.OBJECTION_NUM,
    A.CLAIM_REASON,
    A.PRO_PROBLEM,
    A.CLAIM_TYPE,
    A.IS_TRACK,
    B.LOGISTICS_PROCESS,
    B.PRODUCT_DT,
    B.HANDING_SUGGESTION,
    G.AGREEMENT_AMOUNT,
    B.ARRIVAL_TIME,
    B.DEFECT_NAME,
    A.OBJECTION_CONFIRMATION,
    C.PRESENTATION_DATE,
    C.ADMISSIBILITY_TIME,
    C.CLOSING_TIME,
    C.CLOSING_USER,
    D.MEMO,
    E.HANDLER_USER,
    E.HANDLER_TIME,
    E.HANDLER_RESULTS,
    (SELECT TYPE_NAME FROM SGAI_MD_COMMON_TYPE WHERE TYPE_DESC =F.STOREROOM_CODE) AS MILL_LINE,
    F.ZCPMC,
    (select T.SID from sgai_md_common_type t
    WHERE T.SID=(select T.PARENT_SID from sgai_md_common_type t
    WHERE T.TYPE_NAME=F.ZCPMC)) AS PARENT_SID,
    F.DEPT_CODE,
    F.DEPT_CODE as DEPTS
    FROM
    WARRANTY.CRM_CLAIM_INFO A
    LEFT JOIN WARRANTY.CRM_CLAIM_OUT_INQUIRE B ON A.CLAIM_NO = B.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_APPLY C ON A.CLAIM_NO = C.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_INNER_INQUIRE D ON A.CLAIM_NO = D.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_COMMENTS E ON A.CLAIM_NO = E.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_AGREEMENT_INFO G ON A.CLAIM_NO = G.CASE_CODE
    LEFT JOIN WARRANTY.MILL_SHEET_HEAD F ON A.MILL_SHEET_NO = F.MILL_SHEET_NO ) H
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="claimNo != null and claimNo != ''" >
        AND H.CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
      </if>
      <if test="claimState != null and claimState != ''" >
        AND H.CLAIM_STATE = #{claimState,jdbcType=VARCHAR}
      </if>
      <if test="deptCode != null and deptCode != ''" >
        AND H.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
      </if>
      <if test="deptCodes != null" >
        AND H.DEPTS  in
        <foreach collection="deptCodes"  index="index" close=")" open="(" item="item" separator=",">
          #{deptCodes[${index}]}
        </foreach>
      </if>
      <if test="millSheetNos != null">
        AND H.MILL_SHEET_NO  in
        <foreach collection="millSheetNos"  index="index" close=")" open="(" item="item" separator=",">
          #{millSheetNos[${index}]}
        </foreach>
      </if>
      <if test="customerId != null and customerId != ''" >
        AND H.CUSTOMER_NAME = #{customerId,jdbcType=VARCHAR}
      </if>
      <if test="customerName != null and customerName != ''" >
        AND H.CUSTOMER_NAME like  '%' || #{customerName} ||'%'
      </if>
      <if test="designation != null and designation != ''" >
        AND H.DESIGNATION like  '%' || #{designation} ||'%'
      </if>
      <if test="zcpmc != null and zcpmc != ''" >
        AND H.ZCPMC like  '%' || #{zcpmc} ||'%'
      </if>
      <if test="sid != null and sid != ''" >
        AND H.PARENT_SID = #{sid,jdbcType=VARCHAR}
      </if>
      <if test="defectName != null and defectName != ''" >
        AND H.DEFECT_NAME like  '%' || #{defectName} ||'%'
      </if>
      <if test="endDtStr != null and endDtStr != ''" >
        AND TO_CHAR (H.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &lt;= #{endDtStr}
      </if>
      <if test="startDtStr != null  and startDtStr != ''" >
        AND TO_CHAR (H.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &gt;= #{startDtStr}
      </if>
      <if test="flag != null" >
        AND  H.CLAIM_STATE NOT IN ('NEW')
      </if>
    </trim>
    order by H.SID desc
  </select>
</mapper>