<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.cust.facade.dao.CrmClaimOutInquireMapper" >
  <resultMap id="BaseResultMap" type="jq.steel.cs.services.cust.facade.model.CrmClaimOutInquire" >
    <result column="SID" property="sid" jdbcType="NUMERIC" />
    <result column="CLAIM_NO" property="claimNo" jdbcType="VARCHAR" />
    <result column="LOGISTICS_PROCESS" property="logisticsProcess" jdbcType="VARCHAR" />
    <result column="END_PROCESSING_TECH" property="endProcessingTech" jdbcType="VARCHAR" />
    <result column="DEFECT_NAME" property="proProblem" jdbcType="VARCHAR" />
    <result column="PRODUCT_DT" property="productDt" jdbcType="TIMESTAMP" />
    <result column="SHIFT" property="shift" jdbcType="VARCHAR" />
    <result column="FIELD_CONCLUSION" property="fieldConclusion" jdbcType="VARCHAR" />
    <result column="USER_REQUIREMENT" property="userRequirement" jdbcType="VARCHAR" />
    <result column="HANDING_SUGGESTION" property="handingSuggestion" jdbcType="VARCHAR" />
    <result column="INQUIRE_STATE" property="inquireState" jdbcType="VARCHAR" />
    <result column="FOLLOW_REASON" property="followReason" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="NUMERIC" />
    <result column="AMOUNT_OF_USE" property="amountOfUse" jdbcType="NUMERIC" />
    <result column="CLAIM_DESC" property="inquireInfo"/>
    <result column="ZCPMC" property="zcpmc" jdbcType="VARCHAR" />
    <result column="ZPH" property="zph" jdbcType="VARCHAR" />
    <result column="LAST_USER_TEL" property="lastUserTel" jdbcType="VARCHAR" />
    <result column="CREATE_EMP_NO" property="createEmpNo" jdbcType="VARCHAR" />
    <result column="CLAIM_STATE" property="claimState" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NO" property="millSheetNo" jdbcType="VARCHAR" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="PRODUCT_ID" property="productId" jdbcType="NUMERIC" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="VARCHAR" />
    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
    <result column="CUST_ADDR" property="custAddr" jdbcType="VARCHAR" />
    <result column="CUST_EMP_NO" property="custEmpNo" jdbcType="VARCHAR" />
    <result column="CUST_TEL" property="custTel" jdbcType="VARCHAR" />
    <result column="LAST_USER_ID" property="lastUserId" jdbcType="VARCHAR" />
    <result column="LAST_USER" property="lastUser" jdbcType="VARCHAR" />
    <result column="LAST_USER_ADDR" property="lastUserAddr" jdbcType="VARCHAR" />
    <result column="CONTRACT_VOLUME" property="contractVolume" jdbcType="NUMERIC" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="DESIGNATION" property="designation" jdbcType="VARCHAR" />
    <result column="SIZE_MARK" property="specs" jdbcType="VARCHAR" />
    <result column="CLAIM_TYPE" property="claimType" jdbcType="VARCHAR" />
    <result column="CONTRACT_NO" property="contractNo" jdbcType="VARCHAR" />
    <result column="OBJECTION_NUM" property="objectionNum" jdbcType="NUMERIC" />
    <result column="BATTEN_PLATE_NO" property="battenPlateNo" jdbcType="VARCHAR" />
    <result column="ORIGINAL_CAR_NO" property="originalCarNo" jdbcType="VARCHAR" />
    <result column="PRESENTATION_DATE" property="presentationDate" jdbcType="TIMESTAMP" />
    <result column="EXTERNAL_LNVESTIGATOR" property="externalLnvestigator" jdbcType="VARCHAR" />
    <result column="EXTERNAL_LNVESTIGATION_DATE" property="externalLnvestigationDate" jdbcType="TIMESTAMP" />
    <result column="INTERNAL_LNVESTIGATOR" property="internalLnvestigator" jdbcType="VARCHAR" />
    <result column="INTERNAL_LNVESTIGATION_DATE" property="internalLnvestigationDate" jdbcType="TIMESTAMP" />
    <result column="REJECT_REASON" property="rejectReason" jdbcType="VARCHAR" />
    <result column="REPORT_PICTURE" property="reportPictures" jdbcType="VARCHAR" />
    <result column="SALES_MANAGER_SUGGESTS" property="salesManagerSuggests" jdbcType="VARCHAR" />
    <result column="INQUIRE_INFO_PHOTO" property="inquireInfoPhoto" jdbcType="VARCHAR" />
    <result column="INQUIRE_INFO_TEXT" property="inquireInfoText" jdbcType="VARCHAR" />
    <result column="INQUIRE_INFO_ALL" property="inquireInfoAll" jdbcType="VARCHAR" />
    <result column="DISSENTING_UNIT" property="dissentingUnit" jdbcType="NUMERIC" />
    <result column="OBJECTION_CONFIRMATION" property="objectionConfirmation" jdbcType="VARCHAR" />
    <result column="PRO_PROBLEM" property="proProblem" jdbcType="VARCHAR" />
    <result column="FIELD_CONCLUSION_TEXT" property="fieldConclusionText" jdbcType="VARCHAR" />
    <result column="FIELD_CONCLUSION_PHOTO" property="fieldConclusionPhoto" jdbcType="VARCHAR" />
    <result column="ARRIVAL_TIME" property="arrivalTime" jdbcType="TIMESTAMP" />
    <result column="AGREEMENT_CONTENT" property="agreementContent" jdbcType="VARCHAR" />
    <result column="AGREEMENT_AMOUNT" property="agreementAmount" jdbcType="NUMERIC" />




    <!--内部调查-->
    <result column="OUT_INQUIRE_FACT" property="outInquireFact" jdbcType="VARCHAR" />
    <result column="CLAIM_CONFIRM" property="claimConfirm" jdbcType="VARCHAR" />
    <result column="CLAIM_VERDICT" property="claimVerdict" jdbcType="VARCHAR" />
    <result column="IMPROVEMENT" property="improvement" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="PRODUCTION_PROCESS_INVESTIGATI" property="productionProcessInvestigati" jdbcType="VARCHAR" />
    <result column="PRODUCTION_PROCESS_PHOTO" property="productionProcessPhoto" jdbcType="VARCHAR" />
    <result column="QUALITY_GRADE" property="qualityGrade" jdbcType="VARCHAR" />
    <result column="ORIGINAL_JUDGEMENT_RESULT" property="originalJudgementResult" jdbcType="VARCHAR" />
    <result column="SURFACE_STRUCTURE" property="surfaceStructure" jdbcType="VARCHAR" />
    <result column="PRODUCTION_PROCESS_TEXT" property="productionProcessText" jdbcType="VARCHAR" />
    <result column="PRODUCTION_PROCESS_ALL" property="productionProcessAll" jdbcType="VARCHAR" />
  </resultMap>
  <!--<resultMap id="ResultMapWithBLOBs" type="jq.steel.cs.services.cust.facade.model.CrmClaimOutInquire" extends="BaseResultMap" >
    <result column="INQUIRE_INFO" property="inquireInfo" jdbcType="CLOB" />
  </resultMap>-->

  <!--外部调查查询-->
  <select id="findByParams" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimOutInquire" >
    SELECT
    *
    FROM
    CRM_CLAIM_OUT_INQUIRE
WHERE
    CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
  </select>

<!--异议调查-->
  <select id="findByPage" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimOutInquire" >
    SELECT H.* FROM(SELECT
    A.BATTEN_PLATE_NO,
    A.SID,
    A.CLAIM_NO,
    A.CLAIM_STATE,
    A.MILL_SHEET_NO,
    A.CUSTOMER_NAME,
    A.REJECT_REASON,
    B.DEPT_CODE,
    A.PRODUCT_ID,
    A.PRODUCT_NAME,
    A.DESIGNATION,
    A.SIZE_MARK,
    A.CLAIM_TYPE,
    A.OBJECTION_NUM,
    C.PRESENTATION_DATE,
    C.ADMISSIBILITY_TIME,
    A.INQUIRE_STATE,
    D.CREATE_BY AS EXTERNAL_LNVESTIGATOR,
    D.CREATE_DT AS EXTERNAL_LNVESTIGATION_DATE,
    D.FOLLOW_REASON,
    E.CREATE_BY AS INTERNAL_LNVESTIGATOR,
    E.CREATE_DT	AS INTERNAL_LNVESTIGATION_DATE,
    (select T.TYPE_NAME from sgai_md_common_type t
    WHERE T.SID=(select T.PARENT_SID from sgai_md_common_type t
    WHERE T.TYPE_NAME=E.ZCPMC)) AS ZCPMC,
    (select T.SID from sgai_md_common_type t
    WHERE T.SID=(select T.PARENT_SID from sgai_md_common_type t
    WHERE T.TYPE_NAME=E.ZCPMC)) AS PARENT_SID,
    E.ZPH
    FROM
    WARRANTY.CRM_CLAIM_INFO A
    LEFT JOIN WARRANTY.MILL_SHEET_HOSTS B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_APPLY C ON A.CLAIM_NO = C.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_OUT_INQUIRE D ON A.CLAIM_NO = D.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_INNER_INQUIRE E ON A.CLAIM_NO = E.CLAIM_NO
    LEFT JOIN WARRANTY.MILL_SHEET_HEAD E ON A.MILL_SHEET_NO = E.MILL_SHEET_NO
    ) H
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="endDtStr != null" >
        AND TO_CHAR (H.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &lt;= #{endDtStr}
        <!--AND  #{} &gt;= A.PRESENTATION_DATE-->
      </if>
      <if test="startDtStr != null" >
        AND TO_CHAR (H.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &gt;= #{startDtStr}
        <!--AND A.PRESENTATION_DATE  &gt;= #{startDt}-->
      </if>
      <if test="customerId != null and customerId != ''" >
        AND H.CUSTOMER_NAME = #{customerId,jdbcType=VARCHAR}
      </if>
      <if test="claimType != null and claimType != ''" >
        AND H.CLAIM_TYPE = #{claimType,jdbcType=VARCHAR}
      </if>
      <if test="productName != null and productName != ''" >
        AND H.PRODUCT_NAME = #{productName,jdbcType=VARCHAR}
      </if>
      <if test="claimNo != null and claimNo != ''" >
        AND H.CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
      </if>
      <if test="battenPlateNo != null and battenPlateNo != ''" >
        AND H.BATTEN_PLATE_NO = #{battenPlateNo,jdbcType=VARCHAR}
      </if>
      <choose>
        <when test="claimState1 !=null and claimState1 != ''">
          and H.CLAIM_STATE  = #{claimState1,jdbcType=VARCHAR}
        </when>
        <otherwise>
          AND H.CLAIM_STATE IN ('ADOPT','ACCEPTANCE','INVESTIGATION', 'HANDLE', 'END', 'EVALUATE','ADOPT')
        </otherwise>
      </choose>
      <!--<if test="deptCode != null and deptCode != ''" >
        AND   H.DEPT_CODE like  '%' || #{deptCode} ||'%'
      </if>-->
      <if test="deptCode != null and deptCode != ''" >
        AND H.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
      </if>
      <if test="deptCodes != null" >
        AND H.DEPT_CODE  in
        <foreach collection="deptCodes"  index="index" close=")" open="(" item="item" separator=",">
          #{deptCodes[${index}]}
        </foreach>
      </if>
      <if test="sid != null and sid != ''" >
        AND H.PARENT_SID = #{sid,jdbcType=VARCHAR}
      </if>
      <if test="designation != null and designation != ''" >
        AND H.DESIGNATION = #{designation,jdbcType=VARCHAR}
      </if>
      <if test="inquireState != null and inquireState != ''" >
        AND H.INQUIRE_STATE = #{inquireState,jdbcType=VARCHAR}
      </if>
    </trim>
    order by H.SID desc
  </select>

<!--异议处理确认书审核查询-->
  <select id="findDetails" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimOutInquire" >
    SELECT
A.MILL_SHEET_NO,
A.CLAIM_NO,
A.PRO_PROBLEM,
A.PRODUCT_ID,
A.PRODUCT_NAME,
A.CUSTOMER_ID,
A.CUSTOMER_NAME,
A.CUST_EMP_NO,
A.CUST_TEL,
A.LAST_USER_ID,
A.LAST_USER,
A.CREATE_EMP_NO,
A.LAST_USER_TEL,
A.CONTRACT_VOLUME,
A.OBJECTION_NUM,
A.BATTEN_PLATE_NO,
A.ORIGINAL_CAR_NO,
A.LAST_USER_ADDR,
A.CONTRACT_NO,
A.CLAIM_TYPE,
A.DESIGNATION,
A.SIZE_MARK,
A.REPORT_PICTURE,
A.DISSENTING_UNIT,
A.OBJECTION_CONFIRMATION,
A.CLAIM_DESC,
B.FIELD_CONCLUSION_TEXT,
B.FIELD_CONCLUSION_PHOTO,
B.LOGISTICS_PROCESS,
B.END_PROCESSING_TECH,
B.DEFECT_NAME,
B.PRODUCT_DT,
B.SHIFT,
B.INQUIRE_INFO,
B.FIELD_CONCLUSION,
B.USER_REQUIREMENT,
B.HANDING_SUGGESTION,
B.INQUIRE_STATE,
B.FOLLOW_REASON,
B.REJECT_REASON,
B.SALES_MANAGER_SUGGESTS,
B.INQUIRE_INFO_ALL,
B.AMOUNT_OF_USE,
B.ARRIVAL_TIME,
B.AGREEMENT_CONTENT,
B.AGREEMENT_AMOUNT,
C.OUT_INQUIRE_FACT,
C.CLAIM_CONFIRM,
C.CLAIM_VERDICT,
C.IMPROVEMENT,
C.MEMO,
C.PRODUCTION_PROCESS_INVESTIGATI,
C.PRODUCTION_PROCESS_PHOTO,
C.QUALITY_GRADE,
C.ORIGINAL_JUDGEMENT_RESULT,
C.SURFACE_STRUCTURE,
C.PRODUCTION_PROCESS_TEXT,
C.PRODUCTION_PROCESS_ALL
FROM
WARRANTY.CRM_CLAIM_INFO A
LEFT JOIN WARRANTY.CRM_CLAIM_OUT_INQUIRE B ON A.CLAIM_NO = B.CLAIM_NO
LEFT JOIN WARRANTY.CRM_CLAIM_INNER_INQUIRE C ON A.CLAIM_NO = C.CLAIM_NO
  WHERE  A.CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
  </select>



  <insert id="insert" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimOutInquire" >
    <selectKey resultType="java.lang.Long" keyProperty="sid" order="BEFORE" >
      SELECT SEQ_CRM_CLAIM_OUT_INQUIRE.nextval  FROM DUAL
    </selectKey>
    insert into CRM_CLAIM_OUT_INQUIRE (SID, CLAIM_NO, LOGISTICS_PROCESS, 
      END_PROCESSING_TECH, DEFECT_NAME, PRODUCT_DT, 
      SHIFT, FIELD_CONCLUSION, USER_REQUIREMENT, 
      HANDING_SUGGESTION, INQUIRE_STATE, FOLLOW_REASON, 
      CREATE_BY, CREATE_DT, UPDATE_BY, 
      UPDATE_DT, VERSION, INQUIRE_INFO,REJECT_REASON
      AMOUNT_OF_USE,SALES_MANAGER_SUGGESTS,INQUIRE_INFO_PHOTO,
      INQUIRE_INFO_TEXT,INQUIRE_INFO_ALL,FIELD_CONCLUSION_TEXT,
      FIELD_CONCLUSION_PHOTO
      )
    values (#{sid,jdbcType=NUMERIC}, #{claimNo,jdbcType=VARCHAR}, #{logisticsProcess,jdbcType=VARCHAR}, 
      #{endProcessingTech,jdbcType=VARCHAR}, #{proProblem,jdbcType=VARCHAR}, #{productDt,jdbcType=TIMESTAMP},
      #{shift,jdbcType=VARCHAR}, #{fieldConclusion,jdbcType=VARCHAR}, #{userRequirement,jdbcType=VARCHAR}, 
      #{handingSuggestion,jdbcType=VARCHAR}, #{inquireState,jdbcType=VARCHAR}, #{followReason,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDt,jdbcType=TIMESTAMP}, #{version,jdbcType=NUMERIC}, #{inquireInfo,jdbcType=VARCHAR},
    #{rejectReason,jdbcType=VARCHAR},#{amountOfUse,jdbcType=NUMERIC},#{salesManagerSuggests,jdbcType=VARCHAR},#{inquireInfoPhoto,jdbcType=VARCHAR},
    #{inquireInfoText,jdbcType=VARCHAR},#{inquireInfoAll,jdbcType=VARCHAR},#{fieldConclusionText,jdbcType=VARCHAR},#{fieldConclusionPhoto,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimOutInquire" >
    <selectKey resultType="java.lang.Long" keyProperty="sid" order="BEFORE" >
      SELECT SEQ_CRM_CLAIM_OUT_INQUIRE.nextval  FROM DUAL
    </selectKey>
    insert into CRM_CLAIM_OUT_INQUIRE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="claimNo != null and claimNo != ''" >
        CLAIM_NO,
      </if>
      <if test="logisticsProcess != null and logisticsProcess != ''" >
        LOGISTICS_PROCESS,
      </if>
      <if test="endProcessingTech != null and endProcessingTech != ''" >
        END_PROCESSING_TECH,
      </if>
      <if test="proProblem != null and proProblem != ''" >
        DEFECT_NAME,
      </if>
      <if test="productDt != null" >
        PRODUCT_DT,
      </if>
      <if test="shift != null and shift != ''" >
        SHIFT,
      </if>
      <if test="fieldConclusion != null and fieldConclusion != ''" >
        FIELD_CONCLUSION,
      </if>
      <if test="userRequirement != null and userRequirement != ''" >
        USER_REQUIREMENT,
      </if>
      <if test="handingSuggestion != null and handingSuggestion != ''" >
        HANDING_SUGGESTION,
      </if>
      <if test="inquireState != null and inquireState != ''" >
        INQUIRE_STATE,
      </if>
      <if test="followReason != null and followReason != ''" >
        FOLLOW_REASON,
      </if>
      <if test="createBy != null and createBy != ''" >
        CREATE_BY,
      </if>
      <if test="createDt != null" >
        CREATE_DT,
      </if>
      <if test="updateBy != null and updateBy != ''" >
        UPDATE_BY,
      </if>
      <if test="updateDt != null" >
        UPDATE_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="inquireInfo != null and inquireInfo != ''" >
        INQUIRE_INFO,
      </if>
      <if test="rejectReason != null and rejectReason != ''" >
        REJECT_REASON,
      </if>
      <if test="amountOfUse != null" >
        AMOUNT_OF_USE,
      </if>
      <if test="salesManagerSuggests != null and salesManagerSuggests != ''" >
        SALES_MANAGER_SUGGESTS,
      </if>
      <if test="inquireInfoPhoto != null and inquireInfoPhoto != ''" >
        INQUIRE_INFO_PHOTO,
      </if>
      <if test="inquireInfoText != null and inquireInfoText != ''" >
        INQUIRE_INFO_TEXT,
      </if>
      <if test="inquireInfoAll != null and inquireInfoAll != ''" >
        INQUIRE_INFO_ALL,
      </if>
      <if test="fieldConclusionText != null and fieldConclusionText != ''" >
        FIELD_CONCLUSION_TEXT,
      </if>
      <if test="fieldConclusionPhoto != null and fieldConclusionPhoto != ''" >
        FIELD_CONCLUSION_PHOTO,
      </if>
      <if test="arrivalTime != null and arrivalTime != ''" >
        ARRIVAL_TIME,
      </if>
      <if test="agreementContent != null" >
        AGREEMENT_CONTENT,
      </if>
      <if test="agreementAmount != null" >
        AGREEMENT_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=NUMERIC},
      </if>
      <if test="claimNo != null and claimNo != ''" >
        #{claimNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticsProcess != null and logisticsProcess != ''" >
        #{logisticsProcess,jdbcType=VARCHAR},
      </if>
      <if test="endProcessingTech != null and endProcessingTech != ''" >
        #{endProcessingTech,jdbcType=VARCHAR},
      </if>
      <if test="proProblem != null and proProblem != ''" >
        #{proProblem,jdbcType=VARCHAR},
      </if>
      <if test="productDt != null" >
        #{productDt,jdbcType=TIMESTAMP},
      </if>
      <if test="shift != null and shift != ''" >
        #{shift,jdbcType=VARCHAR},
      </if>
      <if test="fieldConclusion != null and fieldConclusion != ''" >
        #{fieldConclusion,jdbcType=VARCHAR},
      </if>
      <if test="userRequirement != null and userRequirement != ''" >
        #{userRequirement,jdbcType=VARCHAR},
      </if>
      <if test="handingSuggestion != null and handingSuggestion != ''" >
        #{handingSuggestion,jdbcType=VARCHAR},
      </if>
      <if test="inquireState != null and inquireState != ''" >
        #{inquireState,jdbcType=VARCHAR},
      </if>
      <if test="followReason != null and followReason != ''" >
        #{followReason,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null and createBy != ''" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null and updateBy != ''" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null" >
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=NUMERIC},
      </if>
      <if test="inquireInfo != null and inquireInfo != ''" >
        #{inquireInfo,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null and rejectReason != ''" >
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="amountOfUse != null" >
        #{amountOfUse,jdbcType=NUMERIC},
      </if>
      <if test="salesManagerSuggests != null and salesManagerSuggests != ''" >
        #{salesManagerSuggests,jdbcType=VARCHAR},
      </if>
      <if test="inquireInfoPhoto != null and inquireInfoPhoto != ''" >
        #{inquireInfoPhoto,jdbcType=VARCHAR},
      </if>
      <if test="inquireInfoText != null and inquireInfoText != ''" >
        #{inquireInfoText,jdbcType=VARCHAR},
      </if>
      <if test="inquireInfoAll != null and inquireInfoAll != ''" >
        #{inquireInfoAll,jdbcType=VARCHAR},
      </if>
      <if test="fieldConclusionText != null and fieldConclusionText != ''" >
        #{fieldConclusionText,jdbcType=VARCHAR},
      </if>
      <if test="fieldConclusionPhoto != null and fieldConclusionPhoto != ''" >
        #{fieldConclusionPhoto,jdbcType=VARCHAR},
      </if>
      <if test="arrivalTime != null and arrivalTime != ''" >
        #{arrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agreementContent != null" >
        #{agreementContent ,jdbcType=VARCHAR},
      </if>
      <if test="agreementAmount != null" >
        #{agreementAmount ,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>



  <update id="update" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimOutInquire" >
    update CRM_CLAIM_OUT_INQUIRE
    <trim suffixOverrides=",">
      set version = version + 1,
      <if test="logisticsProcess != null and logisticsProcess != ''" >
        LOGISTICS_PROCESS = #{logisticsProcess,jdbcType=VARCHAR},
      </if>
      <if test="amountOfUse != null" >
        AMOUNT_OF_USE = #{amountOfUse,jdbcType=NUMERIC},
      </if>
      <if test="endProcessingTech != null and endProcessingTech != ''" >
        END_PROCESSING_TECH = #{endProcessingTech,jdbcType=VARCHAR},
      </if>
      <if test="proProblem != null and proProblem != ''" >
        DEFECT_NAME = #{proProblem,jdbcType=VARCHAR},
      </if>
      <if test="productDt != null" >
        PRODUCT_DT = #{productDt,jdbcType=TIMESTAMP},
      </if>
      <if test="shift != null and shift != ''" >
        SHIFT = #{shift,jdbcType=VARCHAR},
      </if>
      <if test="inquireInfo != null and inquireInfo != ''" >
        INQUIRE_INFO = #{inquireInfo,jdbcType=VARCHAR},
      </if>
      <if test="fieldConclusion != null and fieldConclusion != ''" >
        FIELD_CONCLUSION = #{fieldConclusion,jdbcType=VARCHAR},
      </if>
      <if test="userRequirement != null and userRequirement != ''" >
        USER_REQUIREMENT = #{userRequirement,jdbcType=VARCHAR},
      </if>
      <if test="handingSuggestion != null and handingSuggestion != ''" >
        HANDING_SUGGESTION = #{handingSuggestion,jdbcType=VARCHAR},
      </if>
      <if test="inquireState != null and inquireState != ''" >
        INQUIRE_STATE = #{inquireState,jdbcType=VARCHAR},
      </if>
      <if test="followReason != null and followReason != ''" >
        FOLLOW_REASON = #{followReason,jdbcType=VARCHAR},
      </if>
      <if test="rejectReason != null and rejectReason != ''" >
        REJECT_REASON = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="salesManagerSuggests != null and salesManagerSuggests != ''" >
        SALES_MANAGER_SUGGESTS =  #{salesManagerSuggests,jdbcType=VARCHAR},
      </if>
      <if test="inquireInfoPhoto != null and inquireInfoPhoto != ''" >
        INQUIRE_INFO_PHOTO = #{inquireInfoPhoto,jdbcType=VARCHAR},
      </if>
      <if test="inquireInfoText != null and inquireInfoText != ''" >
        INQUIRE_INFO_TEXT = #{inquireInfoText,jdbcType=VARCHAR},
      </if>
      <if test="inquireInfoAll != null and inquireInfoAll != ''" >
        INQUIRE_INFO_ALL = #{inquireInfoAll,jdbcType=VARCHAR},
      </if>
      <if test="fieldConclusionText != null and fieldConclusionText != ''" >
        FIELD_CONCLUSION_TEXT = #{fieldConclusionText,jdbcType=VARCHAR},
      </if>
      <if test="fieldConclusionPhoto != null and fieldConclusionPhoto != ''" >
        FIELD_CONCLUSION_PHOTO = #{fieldConclusionPhoto,jdbcType=VARCHAR},
      </if>
      <if test="trace != null" >
        TRACE = #{trace ,jdbcType=VARCHAR},
      </if>
      <if test="trackingTime != null" >
        TRACKING_TIME = #{trackingTime ,jdbcType=TIMESTAMP},
      </if>
      <if test="arrivalTime != null and arrivalTime != ''" >
        ARRIVAL_TIME = #{arrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agreementContent != null" >
        AGREEMENT_CONTENT = #{agreementContent ,jdbcType=VARCHAR},
      </if>
      <if test="agreementAmount != null" >
        AGREEMENT_AMOUNT = #{agreementAmount ,jdbcType=NUMERIC},
      </if>
    </trim>
    where CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
  </update>


<!--导出查询-->
  <select id="find" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.CrmClaimOutInquire" >
    SELECT H.* FROM(SELECT
    A.CLAIM_NO,
    A.CLAIM_STATE,
    A.MILL_SHEET_NO,
    A.CUSTOMER_NAME,
    B.DEPT_CODE,
    A.PRODUCT_ID,
    A.PRODUCT_NAME,
    A.DESIGNATION,
    A.SIZE_MARK,
    A.CLAIM_TYPE,
    A.OBJECTION_NUM,
    C.PRESENTATION_DATE,
    C.ADMISSIBILITY_TIME,
    A.INQUIRE_STATE,
    D.CREATE_BY AS EXTERNAL_LNVESTIGATOR,
    D.CREATE_DT AS EXTERNAL_LNVESTIGATION_DATE,
    D.FOLLOW_REASON,
    E.CREATE_BY AS INTERNAL_LNVESTIGATOR,
    E.CREATE_DT	AS INTERNAL_LNVESTIGATION_DATE,
    (select T.TYPE_NAME from sgai_md_common_type t
    WHERE T.SID=(select T.PARENT_SID from sgai_md_common_type t
    WHERE T.TYPE_NAME=E.ZCPMC)) AS ZCPMC,
    (select T.PARENT_SID from sgai_md_common_type t
    WHERE T.SID=(select T.PARENT_SID from sgai_md_common_type t
    WHERE T.TYPE_NAME=E.ZCPMC)) AS PARENT_SID,
    E.ZPH
    FROM
    WARRANTY.CRM_CLAIM_INFO A
    LEFT JOIN WARRANTY.MILL_SHEET_HOSTS B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_APPLY C ON A.CLAIM_NO = C.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_OUT_INQUIRE D ON A.CLAIM_NO = D.CLAIM_NO
    LEFT JOIN WARRANTY.CRM_CLAIM_INNER_INQUIRE E ON A.CLAIM_NO = E.CLAIM_NO
    LEFT JOIN WARRANTY.MILL_SHEET_HEAD E ON A.MILL_SHEET_NO = E.MILL_SHEET_NO ) H
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="endDtStr != null" >
        AND TO_CHAR (H.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &lt;= #{endDtStr}
        <!--AND  #{} &gt;= A.PRESENTATION_DATE-->
      </if>
      <if test="startDtStr != null" >
        AND TO_CHAR (H.PRESENTATION_DATE, 'yyyy-MM-dd hh24:mi:ss') &gt;= #{startDtStr}
        <!--AND A.PRESENTATION_DATE  &gt;= #{startDt}-->
      </if>
      <if test="customerId != null and customerId != ''" >
        AND H.CUSTOMER_NAME = #{customerId,jdbcType=VARCHAR}
      </if>
      <if test="claimType != null and claimType != ''" >
        AND H.CLAIM_TYPE = #{claimType,jdbcType=VARCHAR}
      </if>
      <if test="productName != null and productName != ''" >
        AND H.PRODUCT_NAME = #{productName,jdbcType=VARCHAR}
      </if>
      <if test="claimNo != null and claimNo != ''" >
        AND H.CLAIM_NO = #{claimNo,jdbcType=VARCHAR}
      </if>
      <if test="battenPlateNo != null and battenPlateNo != ''" >
        AND H.BATTEN_PLATE_NO = #{battenPlateNo,jdbcType=VARCHAR}
      </if>
      <!--  <if test="claimState != null and claimState != ''" >
          AND A.CLAIM_STATE = #{claimState,jdbcType=VARCHAR}
        </if>-->
      <choose>
        <when test="claimState1 !=null and claimState1 != ''">
          and H.CLAIM_STATE  = #{claimState1,jdbcType=VARCHAR}
        </when>
        <otherwise>
          AND H.CLAIM_STATE IN ('ADOPT','ACCEPTANCE','INVESTIGATION', 'HANDLE', 'END', 'EVALUATE','ADOPT')
        </otherwise>
      </choose>
      <if test="deptCode != null and deptCode != ''" >
        AND  H.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
      </if>
      <if test="sid != null and sid != ''" >
        AND H.PARENT_SID = #{sid,jdbcType=VARCHAR}
      </if>
      <if test="designation != null and designation != ''" >
        AND H.DESIGNATION = #{designation,jdbcType=VARCHAR}
      </if>
      <if test="inquireState != null and inquireState != ''" >
        AND H.INQUIRE_STATE = #{inquireState,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
</mapper>