<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.cust.facade.dao.CrmFeedbackMapper" >
  <resultMap id="BaseResultMap" type="jq.steel.cs.services.cust.facade.model.CrmFeedback" >
    <id column="CID" property="cid" jdbcType="NUMERIC" />
    <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR" />
    <result column="CREATE_BYID" property="createByid" jdbcType="NUMERIC" />
    <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CID, CATEGORY_NAME, CREATE_BYID, CREATE_DT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CRM_FEEDBACK
    where CID = #{cid,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CRM_FEEDBACK
    where CID = #{cid,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="jq.steel.cs.services.cust.facade.model.CrmFeedback" >
    insert into CRM_FEEDBACK (CID, CATEGORY_NAME, CREATE_BYID, 
      CREATE_DT)
    values (#{cid,jdbcType=NUMERIC}, #{categoryName,jdbcType=VARCHAR}, #{createByid,jdbcType=NUMERIC}, 
      #{createDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmFeedback" >
    insert into CRM_FEEDBACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        CID,
      </if>
      <if test="categoryName != null" >
        CATEGORY_NAME,
      </if>
      <if test="createByid != null" >
        CREATE_BYID,
      </if>
      <if test="createDt != null" >
        CREATE_DT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=NUMERIC},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="createByid != null" >
        #{createByid,jdbcType=NUMERIC},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmFeedback" >
    update CRM_FEEDBACK
    <set >
      <if test="categoryName != null" >
        CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="createByid != null" >
        CREATE_BYID = #{createByid,jdbcType=NUMERIC},
      </if>
      <if test="createDt != null" >
        CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CID = #{cid,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="jq.steel.cs.services.cust.facade.model.CrmFeedback" >
    update CRM_FEEDBACK
    set CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      CREATE_BYID = #{createByid,jdbcType=NUMERIC},
      CREATE_DT = #{createDt,jdbcType=TIMESTAMP}
    where CID = #{cid,jdbcType=NUMERIC}
  </update>
</mapper>