<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.cust.facade.dao.CrmVersionUpdateMapper" >
  <resultMap id="BaseResultMap" type="jq.steel.cs.services.cust.facade.model.CrmVersionUpdate" >
    <id column="VID" property="vid" jdbcType="NUMERIC" />
    <result column="VERSION_NUMBER" property="versionNumber" jdbcType="VARCHAR" />
    <result column="VERSION_CONTENT" property="versionContent" jdbcType="VARCHAR" />
    <result column="UPDATE_WAY" property="updateWay" jdbcType="NUMERIC" />
    <result column="CREATE_BYID" property="createByid" jdbcType="NUMERIC" />
    <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BYID" property="updateByid" jdbcType="NUMERIC" />
    <result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    VID, VERSION_NUMBER, VERSION_CONTENT, UPDATE_WAY, CREATE_BYID, CREATE_DT, UPDATE_BYID, 
    UPDATE_DT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CRM_VERSION_UPDATE
    where VID = #{vid,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CRM_VERSION_UPDATE
    where VID = #{vid,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="jq.steel.cs.services.cust.facade.model.CrmVersionUpdate" >
    insert into CRM_VERSION_UPDATE (VID, VERSION_NUMBER, VERSION_CONTENT, 
      UPDATE_WAY, CREATE_BYID, CREATE_DT, 
      UPDATE_BYID, UPDATE_DT)
    values (#{vid,jdbcType=NUMERIC}, #{versionNumber,jdbcType=VARCHAR}, #{versionContent,jdbcType=VARCHAR}, 
      #{updateWay,jdbcType=NUMERIC}, #{createByid,jdbcType=NUMERIC}, #{createDt,jdbcType=TIMESTAMP}, 
      #{updateByid,jdbcType=NUMERIC}, #{updateDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmVersionUpdate" >
    insert into CRM_VERSION_UPDATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        VID,
      </if>
      <if test="versionNumber != null" >
        VERSION_NUMBER,
      </if>
      <if test="versionContent != null" >
        VERSION_CONTENT,
      </if>
      <if test="updateWay != null" >
        UPDATE_WAY,
      </if>
      <if test="createByid != null" >
        CREATE_BYID,
      </if>
      <if test="createDt != null" >
        CREATE_DT,
      </if>
      <if test="updateByid != null" >
        UPDATE_BYID,
      </if>
      <if test="updateDt != null" >
        UPDATE_DT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        #{vid,jdbcType=NUMERIC},
      </if>
      <if test="versionNumber != null" >
        #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="versionContent != null" >
        #{versionContent,jdbcType=VARCHAR},
      </if>
      <if test="updateWay != null" >
        #{updateWay,jdbcType=NUMERIC},
      </if>
      <if test="createByid != null" >
        #{createByid,jdbcType=NUMERIC},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByid != null" >
        #{updateByid,jdbcType=NUMERIC},
      </if>
      <if test="updateDt != null" >
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmVersionUpdate" >
    update CRM_VERSION_UPDATE
    <set >
      <if test="versionNumber != null" >
        VERSION_NUMBER = #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="versionContent != null" >
        VERSION_CONTENT = #{versionContent,jdbcType=VARCHAR},
      </if>
      <if test="updateWay != null" >
        UPDATE_WAY = #{updateWay,jdbcType=NUMERIC},
      </if>
      <if test="createByid != null" >
        CREATE_BYID = #{createByid,jdbcType=NUMERIC},
      </if>
      <if test="createDt != null" >
        CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateByid != null" >
        UPDATE_BYID = #{updateByid,jdbcType=NUMERIC},
      </if>
      <if test="updateDt != null" >
        UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where VID = #{vid,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="jq.steel.cs.services.cust.facade.model.CrmVersionUpdate" >
    update CRM_VERSION_UPDATE
    set VERSION_NUMBER = #{versionNumber,jdbcType=VARCHAR},
      VERSION_CONTENT = #{versionContent,jdbcType=VARCHAR},
      UPDATE_WAY = #{updateWay,jdbcType=NUMERIC},
      CREATE_BYID = #{createByid,jdbcType=NUMERIC},
      CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
      UPDATE_BYID = #{updateByid,jdbcType=NUMERIC},
      UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP}
    where VID = #{vid,jdbcType=NUMERIC}
  </update>
</mapper>