<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jq.steel.cs.services.cust.facade.dao.CrmVersionUpdateMapper">
    <resultMap id="BaseResultMap" type="jq.steel.cs.services.cust.facade.model.CrmVersionUpdate">
        <id column="VID" property="vid" />
        <result column="VERSION_NUMBER" jdbcType="VARCHAR" property="versionNumber" />
        <result column="VERSION_PATH" jdbcType="VARCHAR" property="versionPath" />
        <result column="VERSION_CONTENT" jdbcType="VARCHAR" property="versionContent" />
        <result column="UPDATE_WAY" jdbcType="DECIMAL" property="updateWay" />
        <result column="CREATE_BYID" jdbcType="DECIMAL" property="createByid" />
        <result column="CREATE_DT" jdbcType="TIMESTAMP" property="createDt" />
        <result column="UPDATE_BYID" jdbcType="DECIMAL" property="updateByid" />
        <result column="UPDATE_DT" jdbcType="TIMESTAMP" property="updateDt" />
    </resultMap>
    <sql id="Base_Column_List">
        VID, VERSION_NUMBER, VERSION_PATH, VERSION_CONTENT, UPDATE_WAY, CREATE_BYID, CREATE_DT, 
        UPDATE_BYID, UPDATE_DT
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from CRM_VERSION_UPDATE
        where VID = #{vid,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from CRM_VERSION_UPDATE
        where VID = #{vid,jdbcType=NUMERIC}
    </delete>
    <insert id="insert" parameterType="jq.steel.cs.services.cust.facade.model.CrmVersionUpdate">
        <selectKey resultType="java.lang.Long" keyProperty="vid" order="BEFORE" >
            SELECT SEQ_CRM_VERSION_UPDATE.nextval  FROM DUAL
        </selectKey>
        insert into CRM_VERSION_UPDATE (VID, VERSION_NUMBER, VERSION_PATH, 
            VERSION_CONTENT, UPDATE_WAY, CREATE_BYID, 
            CREATE_DT, UPDATE_BYID, UPDATE_DT
            )
        values (#{vid,jdbcType=DECIMAL}, #{versionNumber,jdbcType=VARCHAR}, #{versionPath,jdbcType=VARCHAR}, 
            #{versionContent,jdbcType=VARCHAR}, #{updateWay,jdbcType=DECIMAL}, #{createByid,jdbcType=DECIMAL}, 
            #{createDt,jdbcType=TIMESTAMP}, #{updateByid,jdbcType=DECIMAL}, #{updateDt,jdbcType=TIMESTAMP}
            )
    </insert>
    <insert id="insertSelective" >
        <selectKey resultType="java.lang.Long" keyProperty="vid" order="BEFORE" >
            SELECT SEQ_CRM_VERSION_UPDATE.nextval  FROM DUAL
        </selectKey>
        insert into CRM_VERSION_UPDATE
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="vid != null">
                VID,
            </if>
            <if test="versionNumber != null">
                VERSION_NUMBER,
            </if>
            <if test="versionPath != null">
                VERSION_PATH,
            </if>
            <if test="versionContent != null">
                VERSION_CONTENT,
            </if>
            <if test="updateWay != null">
                UPDATE_WAY,
            </if>
            <if test="createByid != null">
                CREATE_BYID,
            </if>
            <if test="createDt != null">
                CREATE_DT,
            </if>
            <if test="updateByid != null">
                UPDATE_BYID,
            </if>
            <if test="updateDt != null">
                UPDATE_DT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="vid != null">
                #{vid,jdbcType=NUMERIC},
            </if>
            <if test="versionNumber != null">
                #{versionNumber,jdbcType=VARCHAR},
            </if>
            <if test="versionPath != null">
                #{versionPath,jdbcType=VARCHAR},
            </if>
            <if test="versionContent != null">
                #{versionContent,jdbcType=VARCHAR},
            </if>
            <if test="updateWay != null">
                #{updateWay,jdbcType=DECIMAL},
            </if>
            <if test="createByid != null">
                #{createByid,jdbcType=DECIMAL},
            </if>
            <if test="createDt != null">
                #{createDt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateByid != null">
                #{updateByid,jdbcType=DECIMAL},
            </if>
            <if test="updateDt != null">
                #{updateDt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="jq.steel.cs.services.cust.facade.model.CrmVersionUpdate">
        update CRM_VERSION_UPDATE
        <set>
            <if test="versionNumber != null">
                VERSION_NUMBER = #{versionNumber,jdbcType=VARCHAR},
            </if>
            <if test="versionPath != null">
                VERSION_PATH = #{versionPath,jdbcType=VARCHAR},
            </if>
            <if test="versionContent != null">
                VERSION_CONTENT = #{versionContent,jdbcType=VARCHAR},
            </if>
            <if test="updateWay != null">
                UPDATE_WAY = #{updateWay,jdbcType=DECIMAL},
            </if>
            <if test="createByid != null">
                CREATE_BYID = #{createByid,jdbcType=DECIMAL},
            </if>
            <if test="createDt != null">
                CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateByid != null">
                UPDATE_BYID = #{updateByid,jdbcType=DECIMAL},
            </if>
            <if test="updateDt != null">
                UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where VID = #{vid,jdbcType=NUMERIC}
    </update>
    <update id="updateByPrimaryKey" parameterType="jq.steel.cs.services.cust.facade.model.CrmVersionUpdate">
        update CRM_VERSION_UPDATE
        set VERSION_NUMBER = #{versionNumber,jdbcType=VARCHAR},
            VERSION_PATH = #{versionPath,jdbcType=VARCHAR},
            VERSION_CONTENT = #{versionContent,jdbcType=VARCHAR},
            UPDATE_WAY = #{updateWay,jdbcType=DECIMAL},
            CREATE_BYID = #{createByid,jdbcType=DECIMAL},
            CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
            UPDATE_BYID = #{updateByid,jdbcType=DECIMAL},
            UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP}
        where VID = #{vid,jdbcType=DECIMAL}
    </update>
    <select id="select" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from CRM_VERSION_UPDATE
        <include refid="Base_Where_Column_List" />
    </select>
    <sql id="Base_Where_Column_List">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="vid != null">
                and VID = #{vid,jdbcType=DECIMAL}
            </if>
            <if test="versionNumber != null">
                and VERSION_NUMBER = #{versionNumber,jdbcType=VARCHAR}
            </if>
            <if test="versionPath != null">
                and VERSION_PATH = #{versionPath,jdbcType=VARCHAR}
            </if>
            <if test="versionContent != null">
                and VERSION_CONTENT = #{versionContent,jdbcType=VARCHAR}
            </if>
            <if test="updateWay != null">
                and UPDATE_WAY = #{updateWay,jdbcType=DECIMAL}
            </if>
            <if test="createByid != null">
                and CREATE_BYID = #{createByid,jdbcType=DECIMAL}
            </if>
            <if test="createDt != null">
                and CREATE_DT = #{createDt,jdbcType=TIMESTAMP}
            </if>
            <if test="updateByid != null">
                and UPDATE_BYID = #{updateByid,jdbcType=DECIMAL}
            </if>
            <if test="updateDt != null">
                and UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </sql>

    <select id="getNewVersion" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from CRM_VERSION_UPDATE
        where
        VERSION_NUMBER = (select max(VERSION_NUMBER)from CRM_VERSION_UPDATE)
    </select>
</mapper>