<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.cust.facade.dao.MillSheetNeedsMapper" >
  <resultMap id="BaseResultMap" type="jq.steel.cs.services.cust.facade.model.MillSheetNeeds" >
    <id column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="MILL_SHEET_NO" property="millSheetNo" jdbcType="VARCHAR" />
    <result column="SPE_NEED_URL" property="speNeedUrl" jdbcType="VARCHAR" />
    <result column="SPE_NEED_NAME" property="speNeedName" jdbcType="VARCHAR" />
    <result column="SPE_REAL_NAME" property="speRealName" jdbcType="VARCHAR" />
    <result column="SPE_NEED_SIZE" property="speNeedSize" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    SID, MILL_SHEET_NO, SPE_NEED_URL, SPE_NEED_NAME, SPE_REAL_NAME, SPE_NEED_SIZE, CREATED_BY, 
    CREATED_DT, UPDATED_BY, UPDATED_DT, VERSION, TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from MILL_SHEET_NEEDS
    where SID = #{sid,jdbcType=DECIMAL}
  </select>

  <select id="findByType" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetNeeds" >
    select
    <include refid="Base_Column_List" />
    from MILL_SHEET_NEEDS
    where MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR} AND TYPE = #{type,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetNeeds" >
    delete from MILL_SHEET_NEEDS
    where MILL_SHEET_NO = #{millSheetNo,jdbcType=millSheetNo}
  </delete>
  <insert id="insert" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetNeeds" >
    insert into MILL_SHEET_NEEDS (SID, MILL_SHEET_NO, SPE_NEED_URL, 
      SPE_NEED_NAME, SPE_REAL_NAME, SPE_NEED_SIZE, 
      CREATED_BY, CREATED_DT, UPDATED_BY, 
      UPDATED_DT, VERSION, TYPE
      )
    values (#{sid,jdbcType=DECIMAL}, #{millSheetNo,jdbcType=millSheetNo}, #{speNeedUrl,jdbcType=VARCHAR},
      #{speNeedName,jdbcType=VARCHAR}, #{speRealName,jdbcType=VARCHAR}, #{speNeedSize,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedDt,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetNeeds" >
    insert into MILL_SHEET_NEEDS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="millSheetNo != null" >
        MILL_SHEET_NO,
      </if>
      <if test="speNeedUrl != null" >
        SPE_NEED_URL,
      </if>
      <if test="speNeedName != null" >
        SPE_NEED_NAME,
      </if>
      <if test="speRealName != null" >
        SPE_REAL_NAME,
      </if>
      <if test="speNeedSize != null" >
        SPE_NEED_SIZE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=DECIMAL},
      </if>
      <if test="millSheetNo != null" >
        #{millSheetNo,jdbcType=VARCHAR},
      </if>
      <if test="speNeedUrl != null" >
        #{speNeedUrl,jdbcType=VARCHAR},
      </if>
      <if test="speNeedName != null" >
        #{speNeedName,jdbcType=VARCHAR},
      </if>
      <if test="speRealName != null" >
        #{speRealName,jdbcType=VARCHAR},
      </if>
      <if test="speNeedSize != null" >
        #{speNeedSize,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetNeeds" >
    update MILL_SHEET_NEEDS
    <set >
      <if test="millSheetNo != null" >
        MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR},
      </if>
      <if test="speNeedUrl != null" >
        SPE_NEED_URL = #{speNeedUrl,jdbcType=VARCHAR},
      </if>
      <if test="speNeedName != null" >
        SPE_NEED_NAME = #{speNeedName,jdbcType=VARCHAR},
      </if>
      <if test="speRealName != null" >
        SPE_REAL_NAME = #{speRealName,jdbcType=VARCHAR},
      </if>
      <if test="speNeedSize != null" >
        SPE_NEED_SIZE = #{speNeedSize,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetNeeds" >
    update MILL_SHEET_NEEDS
    set MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR},
      SPE_NEED_URL = #{speNeedUrl,jdbcType=VARCHAR},
      SPE_NEED_NAME = #{speNeedName,jdbcType=VARCHAR},
      SPE_REAL_NAME = #{speRealName,jdbcType=VARCHAR},
      SPE_NEED_SIZE = #{speNeedSize,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL},
      TYPE = #{type,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
</mapper>