<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.cust.facade.dao.MillSheetHostsMapper" >
  <resultMap id="BaseResultMap" type="jq.steel.cs.services.cust.facade.model.MillSheetHosts" >
    <result column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="DATA_STATE" property="dataState" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NO_OLD" property="millSheetNoOld" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NO" property="millSheetNo" jdbcType="VARCHAR" />
    <result column="SPECIAL_NEED" property="specialNeed" jdbcType="VARCHAR" />
    <result column="PRINTABLE_NUM" property="printableNum" jdbcType="DECIMAL" />
    <result column="PRINTED_NUM" property="printedNum" jdbcType="DECIMAL" />
    <result column="MILL_SHEET_URL" property="millSheetUrl" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NAME" property="millSheetName" jdbcType="VARCHAR" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="DOWNABLE_NUM" property="downableNum" jdbcType="DECIMAL" />
    <result column="DOWN_NUM" property="downNum" jdbcType="DECIMAL" />
    <result column="CHEM_STATE" property="chemState" jdbcType="VARCHAR" />
    <result column="SPLIT_MAX_VALUE" property="splitMaxValue" jdbcType="VARCHAR" />
    <result column="PHY_STATE" property="phyState" jdbcType="VARCHAR" />
    <result column="HAVE_STATE" property="haveState" jdbcType="VARCHAR" />
    <result column="SPLIT_STATE" property="splitState" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_TYPE" property="millSheetType" jdbcType="VARCHAR" />
    <result column="SURPLUS_BATCH" property="surplusBatch" jdbcType="DECIMAL" />
    <result column="ZKUNNR" property="zkunnr" jdbcType="VARCHAR" />
    <result column="ZKUNWE" property="zkunwe" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="LFDAT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="SPILT_CUSTOMER" property="spiltCustomer" jdbcType="VARCHAR" />
    <result column="ZCHEHAO" property="zchehao" jdbcType="VARCHAR" />
    <result column="ZHTH" property="zhth" jdbcType="VARCHAR" />
    <result column="ZPH" property="zph" jdbcType="VARCHAR" />
    <result column="TOTAL_ZLOSMENGE" property="totalZlosmenge" jdbcType="DECIMAL" />
    <result column="ORIGINALCARNO" property="originalCarNo" jdbcType="VARCHAR" />
    <result column="CONTRACTNO" property="contractNo" jdbcType="VARCHAR" />
    <result column="CONTRACTVOLUME" property="contractVolume" jdbcType="DECIMAL" />
    <result column="DESIGNATION" property="designation" jdbcType="VARCHAR" />
    <result column="ZCPMC" property="zcpmc" jdbcType="VARCHAR" />
    <result column="PRODUCTNAME" property="productName" jdbcType="VARCHAR" />

  </resultMap>


  <resultMap id="FullMap" type="jq.steel.cs.services.cust.facade.model.MillSheetHosts" >
    <result column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="DATA_STATE" property="dataState" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NO_OLD" property="millSheetNoOld" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NO" property="millSheetNo" jdbcType="VARCHAR" />
    <result column="SPECIAL_NEED" property="specialNeed" jdbcType="VARCHAR" />
    <result column="PRINTABLE_NUM" property="printableNum" jdbcType="DECIMAL" />
    <result column="PRINTED_NUM" property="printedNum" jdbcType="DECIMAL" />
    <result column="MILL_SHEET_URL" property="millSheetUrl" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NAME" property="millSheetName" jdbcType="VARCHAR" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="DOWNABLE_NUM" property="downableNum" jdbcType="DECIMAL" />
    <result column="DOWN_NUM" property="downNum" jdbcType="DECIMAL" />
    <result column="CHEM_STATE" property="chemState" jdbcType="VARCHAR" />
    <result column="PHY_STATE" property="phyState" jdbcType="VARCHAR" />
    <result column="HAVE_STATE" property="haveState" jdbcType="VARCHAR" />
    <result column="SPLIT_STATE" property="splitState" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_TYPE" property="millSheetType" jdbcType="VARCHAR" />
    <result column="SPLIT_MAX_VALUE" property="splitMaxValue" jdbcType="VARCHAR" />
    <result column="SURPLUS_BATCH" property="surplusBatch" jdbcType="DECIMAL" />
    <result column="ZKUNNR" property="zkunnr" jdbcType="VARCHAR" />
    <result column="ZKUNWE" property="zkunwe" jdbcType="VARCHAR" />
    <result column="ZCHARG" property="zcharg" jdbcType="VARCHAR" />
    <result column="ZCHEHAO" property="zchehao" jdbcType="VARCHAR" />
    <result column="ZCPMC" property="zcpmc" jdbcType="VARCHAR" />
    <result column="ZHTH" property="zhth" jdbcType="VARCHAR" />
    <result column="ZPH" property="zph" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="LFDAT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="SPILT_CUSTOMER" property="spiltCustomer" jdbcType="VARCHAR" />
    <result column="ZKDAUF" property="zkdauf"/>
    <result column="MILL_LINE" property="millLine"/>
    <result column="FALLBACK_REASON" property="fallbackReason"/>
    <result column="REJECTION_REASON" property="rejectionReason"/>
    <result column="JC_FLAG" property="jcFlag"/>
    <result column="ZDAOZHAN" property="zdaozhan" jdbcType="VARCHAR" />
    <result column="ZKDAUF" property="zkdauf"/>
    <result column="LFDAT" property="lfdat"/>

    <result column="ZJISHU" property="zjishu"/>
    <result column="ZLOSMENGE" property="zlosmenge"/>
    <result column="SURPLUS_ZJISHU" property="surplusZjishu"/>
    <result column="SURPLUS_ZLOSMENGE" property="surplusZlosmenge"/>
  </resultMap>

  <resultMap id="MillSheetHeadResultMap" type="jq.steel.cs.services.cust.facade.model.MillSheetHead" >
    <id column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="ZCHEHAO" property="zchehao" jdbcType="VARCHAR" />
    <result column="ZCHARG" property="zcharg" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NO" property="millSheetNo" jdbcType="VARCHAR" />
    <result column="ZKDAUF" property="zkdauf" jdbcType="VARCHAR" />
    <result column="ZKUNNR" property="zkunnr" jdbcType="VARCHAR" />
    <result column="ZKUNWE" property="zkunwe" jdbcType="VARCHAR" />
    <result column="ZDAOZHAN" property="zdaozhan" jdbcType="VARCHAR" />
    <result column="VBELN_VL" property="vbelnVl" jdbcType="VARCHAR" />
    <result column="LFDAT" property="lfdat" jdbcType="TIMESTAMP" />
    <result column="ZHTH" property="zhth" jdbcType="VARCHAR" />
    <result column="ZCPMC" property="productName" jdbcType="VARCHAR" />
    <result column="ZPH" property="zph" jdbcType="VARCHAR" />
    <result column="ZZXBZ" property="zzxbz" jdbcType="VARCHAR" />
    <result column="ZFJSM" property="zfjsm" jdbcType="VARCHAR" />
    <result column="TOTAL_ZJISHU" property="totalZjishu" jdbcType="DECIMAL" />
    <result column="TOTAL_ZLOSMENGE" property="totalZlosmenge" jdbcType="DECIMAL" />
    <result column="ZJISHU_UNIT" property="zjishuUnit" jdbcType="VARCHAR" />
    <result column="ZMEINS" property="zmeins" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
  </resultMap>

  <!--异议提报插入异议单位-->
  <select id="findDeptCode" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
   SELECT
    MILL_SHEET_NO,
    DEPT_CODE
FROM
    WARRANTY.MILL_SHEET_HOSTS
    WHERE
MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR}
  </select>

  <select id="findIsTrue" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
A.STATE,
A.DATA_STATE,
A.MILL_SHEET_NO_OLD,
A.MILL_SHEET_NO,
A.SPECIAL_NEED,
A.PRINTABLE_NUM,
A.PRINTED_NUM,
A.MILL_SHEET_URL,
A.MILL_SHEET_NAME,
A.DEPT_CODE,
A.DOWNABLE_NUM,
A.DOWN_NUM,
A.CHEM_STATE,
A.PHY_STATE,
A.HAVE_STATE,
A.SPLIT_STATE,
A.MILL_SHEET_TYPE,
A.SURPLUS_BATCH,
A.ZKUNNR,
A.ZKUNWE,
A.FREQUENCY_OF_SPLIT,
A.SPLIT_MAX_VALUE,
A.MANUAL_MARKING,
B.ZCHEHAO AS originalCarNo,
B.ZHTH AS contractNo,
B.TOTAL_ZLOSMENGE AS contractVolume,
B.ZPH AS designation,
(select T.TYPE_NAME from sgai_md_common_type t
    WHERE T.SID=(select T.PARENT_SID from sgai_md_common_type t
    WHERE T.TYPE_NAME=B.ZCPMC)) AS PRODUCTNAME
FROM
WARRANTY.MILL_SHEET_HOSTS A
LEFT JOIN WARRANTY.MILL_SHEET_HEAD B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR} AND  A.STATE IN ('EXAMINED', 'DOWNLOADED', 'PRIVIEWED', 'PRINTED')
  </select>


  <!--拆分校验-->
  <select id="findExist" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
     SELECT
    A.STATE,
    A.MILL_SHEET_NO
    FROM WARRANTY.MILL_SHEET_HOSTS A
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR}
  </select>

  <select id="findAllow" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
    A.STATE,
    A.MILL_SHEET_NO
    FROM WARRANTY.MILL_SHEET_HOSTS A
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR} AND  A.STATE IN ('EXAMINED', 'PRIVIEWED','SPLITED')
  </select>

  <select id="findType" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
    A.STATE,
    A.MILL_SHEET_NO,
    A.MILL_SHEET_TYPE
    FROM WARRANTY.MILL_SHEET_HOSTS A
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR} AND  A.MILL_SHEET_TYPE not in('S')
  </select>

  <select id="findMillSheetType" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
    A.STATE,
    A.MILL_SHEET_NO,
    A.MILL_SHEET_TYPE
    FROM WARRANTY.MILL_SHEET_HOSTS A
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR}
  </select>


  <select id="findMillSheetZkunner" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
    A.STATE,
    A.MILL_SHEET_NO,
    (select distinct name1 from MILL_CUSTOMER where KUNNR = A.ZKUNNR) AS ZKUNNR
    FROM WARRANTY.MILL_SHEET_HOSTS A
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR}
  </select>






  <!--校验checkCoil-->
  <select id="checkCoil" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
  SELECT
  A.ZCHARG,
  A.MILL_SHEET_NO
  FROM
  WARRANTY.MILL_COIL_INFO A
  LEFT JOIN WARRANTY.MILL_SHEET_HOSTS B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
  WHERE  A.ZCHARG= #{zcharg,jdbcType=VARCHAR}
  </select>

  <!--校验checkCoil-->
  <select id="checkCoil1" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
    A.ZCHARG,
    A.MILL_SHEET_NO
    FROM
    WARRANTY.MILL_COIL_INFO A
    LEFT JOIN WARRANTY.MILL_SHEET_HOSTS B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
    WHERE B.STATE IN ('EXAMINED', 'DOWNLOADED', 'PRIVIEWED', 'PRINTED') AND A.ZCHARG= #{zcharg,jdbcType=VARCHAR}
  </select>

  <!--分页查询-->
  <select id="findMillSheetByPage" resultMap="FullMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
    MFI.FALLBACK_REASON,
    case when MFS.STEP_RESULT ='Y' then '' else MFI.REJECTION_REASON end as REJECTION_REASON,
    MSO.STATE,
    MSO.DATA_STATE,
    MSO.MILL_SHEET_NO_OLD,
    MSO.MILL_SHEET_NO,
    MSO.SPECIAL_NEED,
    MSO.PRINTABLE_NUM,
    MSO.PRINTED_NUM,
    MSO.MILL_SHEET_URL,
    MSO.MILL_SHEET_NAME,
    MSO.DEPT_CODE,
    MSO.DOWNABLE_NUM,
    MSO.DOWN_NUM,
    MSO.HAVE_STATE,
    MSO.SPLIT_STATE,
    MSO.MILL_SHEET_TYPE,
    MSO.SURPLUS_BATCH,
    MSO.ZKUNWE,
    MSO.JC_FLAG,
    MSH.ZCHEHAO,
    MSH.ZHTH,
    MSH.ZCPMC,
    MSH.LFDAT,
    MSH.SPILT_CUSTOMER,
    MSH.ZPH,
    MSH.MILL_LINE,
    MSH.ZKDAUF AS ZKDAUF,
    MSO.SID,
    (SELECT sum(ZJISHU) FROM MILL_COIL_INFO WHERE MILL_SHEET_NO=MSH.MILL_SHEET_NO )as ZJISHU,
    (SELECT sum(ZLOSMENGE) FROM MILL_COIL_INFO WHERE MILL_SHEET_NO=MSH.MILL_SHEET_NO )as ZLOSMENGE,
    (SELECT sum(SURPLUS_ZJISHU) FROM MILL_COIL_INFO WHERE MILL_SHEET_NO=MSH.MILL_SHEET_NO )as SURPLUS_ZJISHU,
    (SELECT sum(SURPLUS_ZLOSMENGE) FROM MILL_COIL_INFO WHERE MILL_SHEET_NO=MSH.MILL_SHEET_NO )as SURPLUS_ZLOSMENGE,
    (select distinct name1 from MILL_CUSTOMER where KUNNR = MSO.ZKUNNR) AS ZKUNNR
    FROM
    WARRANTY.MILL_SHEET_HOSTS MSO
    LEFT JOIN WARRANTY.MILL_SHEET_HEAD MSH ON MSO.MILL_SHEET_NO = MSH.MILL_SHEET_NO
    LEFT JOIN WARRANTY.MILL_FALLBACK_INFO MFI ON MSO.MILL_SHEET_NO = MFI.MILL_SHEET_NO
    LEFT JOIN WARRANTY.MILL_FALLBACK_STEPS MFS ON MSO.MILL_SHEET_NO = MFS.MILL_SHEET_NO
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="endDtStr != null" >
        AND TO_CHAR (MSH.LFDAT, 'yyyy-MM-dd hh24:mi:ss') &lt;= #{endDtStr}
      </if>
      <if test="startDtStr != null" >
        AND TO_CHAR (MSh.LFDAT, 'yyyy-MM-dd hh24:mi:ss') &gt;= #{startDtStr}
      </if>
      <if test="millSheetNo != null  and millSheetNo != ''" >
        AND MSO.MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR}
      </if>
      <if test="millSheetNos != null">
        AND MSO.MILL_SHEET_NO  in
        <foreach collection="millSheetNos"  index="index" close=")" open="(" item="item" separator=",">
          #{millSheetNos[${index}]}
        </foreach>
      </if>
      <if test="noMillSheetNos != null">
        AND MSO.MILL_SHEET_NO NOT in
        <foreach collection="noMillSheetNos"  index="index" close=")" open="(" item="item" separator=",">
          #{noMillSheetNos[${index}]}
        </foreach>
      </if>
      <if test="zchehao != null and zchehao != ''" >
        AND MSH.ZCHEHAO like '%' || #{zchehao,jdbcType=VARCHAR} || '%'
      </if>
      <if test="zhth != null  and zhth != ''" >
        AND MSH.ZHTH = #{zhth,jdbcType=VARCHAR}
      </if>
      <if test="zkunnr != null  and zkunnr != ''" >
        AND MSH.SPILT_CUSTOMER = #{zkunnr,jdbcType=VARCHAR}
      </if>
      <if test="zph != null  and zph != ''" >
        AND MSH.ZPH = #{zph,jdbcType=VARCHAR}
      </if>
      <if test="spiltCustomer != null  and spiltCustomer != ''" >
        AND MSH.SPILT_CUSTOMER = #{spiltCustomer,jdbcType=VARCHAR}
      </if>
      <if test="zkunnrs != null  and zkunnrs != ''" >
        AND MSH.SPILT_CUSTOMER = #{zkunnrs,jdbcType=VARCHAR}
      </if>
      <if test="deptCode != null and deptCode != ''" >
        AND MSO.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
      </if>
      <if test="deptCodes != null" >
        AND MSO.DEPT_CODE  in
        <foreach collection="deptCodes"  index="index" close=")" open="(" item="item" separator=",">
          #{deptCodes[${index}]}
        </foreach>
      </if>
      <!--<choose>
            <when test="deptCodes != null">
              AND MSO.DEPT_CODE  in
              <foreach collection="deptCodes"  index="index" close=")" open="(" item="item" separator=",">
                #{deptCodes[${index}]}
              </foreach>
            </when>
            <otherwise>
              AND   MSO.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
            </otherwise>
          </choose>-->
      <if test="millLine != null and millLine != ''" >
        AND MSH.MILL_LINE = #{millLine,jdbcType=VARCHAR}
      </if>
      <choose>
        <when test="states !=null and states != ''">
          and MSO.STATE  = #{states,jdbcType=VARCHAR}
        </when>
        <otherwise>
          AND MSO.STATE  IN ('EXAMINED', 'DOWNLOADED', 'PRIVIEWED', 'PRINTED','SPLITED')
        </otherwise>
      </choose>
      <if test="orgName != null  and orgName != ''" >
        AND MSH.SPILT_CUSTOMER = #{orgName}
      </if>
      <if test="millSheetType != null  and millSheetType != ''" >
        AND MSO.MILL_SHEET_TYPE = #{millSheetType}
      </if>
      AND MSH.ZCHEHAO NOT LIKE '-%'
    </trim>
    order by MSO.SID desc
  </select>

  <select id="findUrl" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
    A.SID,
    A.STATE,
    A.DATA_STATE,
    A.MILL_SHEET_NO_OLD,
    A.MILL_SHEET_NO,
    A.SPECIAL_NEED,
    A.PRINTABLE_NUM,
    A.PRINTED_NUM,
    A.MILL_SHEET_URL,
    A.MILL_SHEET_NAME,
    A.DEPT_CODE,
    A.DOWNABLE_NUM,
    A.DOWN_NUM,
    A.CHEM_STATE,
    A.PHY_STATE,
    A.HAVE_STATE,
    A.SPLIT_STATE,
    A.MILL_SHEET_TYPE,
    A.SURPLUS_BATCH,
    A.ZKUNNR,
    A.ZKUNWE,
    A.FREQUENCY_OF_SPLIT,
    A.SPLIT_MAX_VALUE,
    A.MANUAL_MARKING,
    A.CREATED_BY,
    A.CREATED_DT,
    A.UPDATED_BY,
    A.UPDATED_DT,
    A.VERSION
    FROM
    WARRANTY.MILL_SHEET_HOSTS A
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR}
  </select>

  <!--质证书申请回退查询-->
  <select id="findMillsheetNo" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
    A.SID,
    A.STATE,
    A.DATA_STATE,
    A.MILL_SHEET_NO_OLD,
    A.MILL_SHEET_NO,
    A.SPECIAL_NEED,
    A.PRINTABLE_NUM,
    A.PRINTED_NUM,
    A.MILL_SHEET_URL,
    A.MILL_SHEET_NAME,
    A.DEPT_CODE,
    A.DOWNABLE_NUM,
    A.DOWN_NUM,
    A.CHEM_STATE,
    A.PHY_STATE,
    A.HAVE_STATE,
    A.SPLIT_STATE,
    A.MILL_SHEET_TYPE,
    A.SURPLUS_BATCH,
    A.ZKUNNR,
    A.ZKUNWE,
    A.FREQUENCY_OF_SPLIT,
    A.SPLIT_MAX_VALUE,
    A.MANUAL_MARKING,
    A.CREATED_BY,
    A.CREATED_DT,
    A.UPDATED_BY,
    A.UPDATED_DT,
    A.VERSION
    FROM
    WARRANTY.MILL_SHEET_HOSTS A
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR} AND  A.STATE IN ('EXAMINED', 'DOWNLOADED', 'PRIVIEWED', 'PRINTED')
  </select>


  <select id="findList" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
    A.STATE,
    A.DATA_STATE,
    A.MILL_SHEET_NO_OLD,
    A.MILL_SHEET_NO,
    A.SPECIAL_NEED,
    A.PRINTABLE_NUM,
    A.PRINTED_NUM,
    A.MILL_SHEET_URL,
    A.MILL_SHEET_NAME,
    A.DEPT_CODE,
    A.DOWNABLE_NUM,
    A.DOWN_NUM,
    A.CHEM_STATE,
    A.PHY_STATE,
    A.HAVE_STATE,
    A.SPLIT_STATE,
    A.MILL_SHEET_TYPE,
    A.SURPLUS_BATCH,
    A.ZKUNNR,
    A.ZKUNWE,
    A.FREQUENCY_OF_SPLIT,
    A.SPLIT_MAX_VALUE,
    A.MANUAL_MARKING
    FROM
    WARRANTY.MILL_SHEET_HOSTS A
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR} AND A.STATE IN ('EXAMINED', 'DOWNLOADED', 'PRIVIEWED', 'PRINTED','SPLITED')
  </select>

  <select id="findUrlList" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
    A.STATE,
    A.DATA_STATE,
    A.MILL_SHEET_NO_OLD,
    A.MILL_SHEET_NO,
    A.SPECIAL_NEED,
    A.PRINTABLE_NUM,
    A.PRINTED_NUM,
    A.MILL_SHEET_URL,
    A.MILL_SHEET_NAME,
    A.DEPT_CODE,
    A.DOWNABLE_NUM,
    A.DOWN_NUM,
    A.CHEM_STATE,
    A.PHY_STATE,
    A.HAVE_STATE,
    A.SPLIT_STATE,
    A.MILL_SHEET_TYPE,
    A.SURPLUS_BATCH,
    A.ZKUNNR,
    A.ZKUNWE,
    A.FREQUENCY_OF_SPLIT,
    A.SPLIT_MAX_VALUE,
    A.MANUAL_MARKING
    FROM
    WARRANTY.MILL_SHEET_HOSTS A
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR}
  </select>



  <insert id="insert" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts" >
    insert into MILL_SHEET_HOSTS (SID, STATE, DATA_STATE, 
      MILL_SHEET_NO_OLD, MILL_SHEET_NO, SPECIAL_NEED, 
      PRINTABLE_NUM, PRINTED_NUM, MILL_SHEET_URL, 
      MILL_SHEET_NAME, DEPT_CODE, DOWNABLE_NUM, 
      DOWN_NUM, CHEM_STATE, PHY_STATE, 
      HAVE_STATE, SPLIT_STATE, MILL_SHEET_TYPE, 
      SURPLUS_BATCH, ZKUNNR, ZKUNWE, 
      CREATED_BY, CREATED_DT, UPDATED_BY, 
      UPDATED_DT, VERSION)
    values (#{sid,jdbcType=DECIMAL}, #{state,jdbcType=VARCHAR}, #{dataState,jdbcType=VARCHAR}, 
      #{millSheetNoOld,jdbcType=VARCHAR}, #{millSheetNo,jdbcType=VARCHAR}, #{specialNeed,jdbcType=VARCHAR}, 
      #{printableNum,jdbcType=DECIMAL}, #{printedNum,jdbcType=DECIMAL}, #{millSheetUrl,jdbcType=VARCHAR}, 
      #{millSheetName,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, #{downableNum,jdbcType=DECIMAL}, 
      #{downNum,jdbcType=DECIMAL}, #{chemState,jdbcType=VARCHAR}, #{phyState,jdbcType=VARCHAR}, 
      #{haveState,jdbcType=VARCHAR}, #{splitState,jdbcType=VARCHAR}, #{millSheetType,jdbcType=VARCHAR}, 
      #{surplusBatch,jdbcType=DECIMAL}, #{zkunnr,jdbcType=VARCHAR}, #{zkunwe,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedDt,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts" >
    insert into MILL_SHEET_HOSTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null  and sid != ''" >
        SID,
      </if>
      <if test="state != null  and state != ''" >
        STATE,
      </if>
      <if test="dataState != null  and dataState != ''" >
        DATA_STATE,
      </if>
      <if test="millSheetNoOld != null and millSheetNoOld != ''" >
        MILL_SHEET_NO_OLD,
      </if>
      <if test="millSheetNo != null and millSheetNo != ''" >
        MILL_SHEET_NO,
      </if>
      <if test="specialNeed != null and specialNeed != ''" >
        SPECIAL_NEED,
      </if>
      <if test="printableNum != null and printableNum != ''" >
        PRINTABLE_NUM,
      </if>
      <if test="printedNum != null and printedNum != ''" >
        PRINTED_NUM,
      </if>
      <if test="millSheetUrl != null and millSheetUrl != ''" >
        MILL_SHEET_URL,
      </if>
      <if test="millSheetName != null and millSheetName != ''" >
        MILL_SHEET_NAME,
      </if>
      <if test="deptCode != null and deptCode != ''" >
        DEPT_CODE,
      </if>
      <if test="downableNum != null and downableNum != ''" >
        DOWNABLE_NUM,
      </if>
      <if test="downNum != null and downNum != ''" >
        DOWN_NUM,
      </if>
      <if test="chemState != null and chemState != ''" >
        CHEM_STATE,
      </if>
      <if test="phyState != null and phyState != ''" >
        PHY_STATE,
      </if>
      <if test="haveState != null and haveState != ''" >
        HAVE_STATE,
      </if>
      <if test="splitState != null and splitState != ''" >
        SPLIT_STATE,
      </if>
      <if test="millSheetType != null and millSheetType != ''" >
        MILL_SHEET_TYPE,
      </if>
      <if test="surplusBatch != null and surplusBatch != ''" >
        SURPLUS_BATCH,
      </if>
      <if test="zkunnr != null and zkunnr != ''" >
        ZKUNNR,
      </if>
      <if test="zkunwe != null and zkunwe != ''" >
        ZKUNWE,
      </if>
      <if test="createdBy != null and createdBy != ''" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="updatedBy != null and updatedBy != ''" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="version != null and version != ''" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null and sid != ''" >
        #{sid,jdbcType=DECIMAL},
      </if>
      <if test="state != null and state != ''" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="dataState != null and dataState != ''" >
        #{dataState,jdbcType=VARCHAR},
      </if>
      <if test="millSheetNoOld != null and millSheetNoOld != ''" >
        #{millSheetNoOld,jdbcType=VARCHAR},
      </if>
      <if test="millSheetNo != null and millSheetNo != ''" >
        #{millSheetNo,jdbcType=VARCHAR},
      </if>
      <if test="specialNeed != null and specialNeed != ''" >
        #{specialNeed,jdbcType=VARCHAR},
      </if>
      <if test="printableNum != null and printableNum != ''" >
        #{printableNum,jdbcType=DECIMAL},
      </if>
      <if test="printedNum != null and printedNum != ''" >
        #{printedNum,jdbcType=DECIMAL},
      </if>
      <if test="millSheetUrl != null and millSheetUrl != ''" >
        #{millSheetUrl,jdbcType=VARCHAR},
      </if>
      <if test="millSheetName != null and millSheetName != ''" >
        #{millSheetName,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null and deptCode != ''" >
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="downableNum != null and downableNum != ''" >
        #{downableNum,jdbcType=DECIMAL},
      </if>
      <if test="downNum != null and downNum != ''">
        #{downNum,jdbcType=DECIMAL},
      </if>
      <if test="chemState != null and chemState != ''" >
        #{chemState,jdbcType=VARCHAR},
      </if>
      <if test="phyState != null and phyState != ''" >
        #{phyState,jdbcType=VARCHAR},
      </if>
      <if test="haveState != null and haveState != ''" >
        #{haveState,jdbcType=VARCHAR},
      </if>
      <if test="splitState != null and splitState != ''" >
        #{splitState,jdbcType=VARCHAR},
      </if>
      <if test="millSheetType != null and millSheetType != ''" >
        #{millSheetType,jdbcType=VARCHAR},
      </if>
      <if test="surplusBatch != null and surplusBatch != ''" >
        #{surplusBatch,jdbcType=DECIMAL},
      </if>
      <if test="zkunnr != null and zkunnr != ''" >
        #{zkunnr,jdbcType=VARCHAR},
      </if>
      <if test="zkunwe != null and zkunwe != ''" >
        #{zkunwe,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null and createdBy != ''" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null and updatedBy != ''" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null and version != ''" >
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>


  <update id="updateNum" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    update MILL_SHEET_HOSTS
    <trim suffixOverrides=",">
      set version = version + 1,
      <if test="printableNum != null" >
        PRINTABLE_NUM = #{printableNum,jdbcType=DECIMAL},
      </if>
      <if test="printedNum != null" >
        PRINTED_NUM = #{printedNum,jdbcType=DECIMAL},
      </if>
      <if test="downableNum != null" >
        DOWNABLE_NUM = #{downableNum,jdbcType=DECIMAL},
      </if>
      <if test="downNum != null">
        DOWN_NUM = #{downNum,jdbcType=DECIMAL},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null and state != ''" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </trim>
    where MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR}
  </update>

  <!---->
  <select id="getUrlForApp" resultMap="BaseResultMap">
    select MILL_SHEET_URL , MILL_SHEET_NAME , DOWNABLE_NUM
    from MILL_SHEET_HOSTS
    where MILL_SHEET_NO = #{millSheetNo}
    <choose>
      <when test="states !=null and states != ''">
        and STATE  = #{states}
      </when>
      <otherwise>
        AND STATE  IN ('EXAMINED', 'DOWNLOADED', 'PRIVIEWED')
      </otherwise>
    </choose>
  </select>




  <!--分页查询（酒钢）-->
  <select id="findMillSheetByPage1" resultMap="FullMap" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT H.*FROM(SELECT
    MFI.FALLBACK_REASON,
    case when MFS.STEP_RESULT ='Y' then '' else MFI.REJECTION_REASON end as REJECTION_REASON,
    MSO.STATE,
    MSO.DATA_STATE,
    MSO.MILL_SHEET_NO_OLD,
    MSO.MILL_SHEET_NO,
    MSO.SPECIAL_NEED,
    MSO.PRINTABLE_NUM,
    MSO.PRINTED_NUM,
    MSO.MILL_SHEET_URL,
    MSO.MILL_SHEET_NAME,
    MSO.DEPT_CODE,
    MSO.DOWNABLE_NUM,
    MSO.DOWN_NUM,
    MSO.HAVE_STATE,
    MSO.SPLIT_STATE,
    MSO.MILL_SHEET_TYPE,
    MSO.SURPLUS_BATCH,
    MSO.ZKUNWE,
    MSO.JC_FLAG,
    MSH.ZCHEHAO,
    MSH.ZHTH,
    MSH.ZCPMC,
    MSH.LFDAT,
    MSH.ZPH,
    MSH.ZDAOZHAN,
    MSH.MILL_LINE,
    MSH.ZKDAUF AS ZKDAUF,
    MSH.SPILT_CUSTOMER,
    MSO.SID,
    (SELECT sum(ZJISHU) FROM MILL_COIL_INFO WHERE MILL_SHEET_NO=MSH.MILL_SHEET_NO )as ZJISHU,
    (SELECT sum(ZLOSMENGE) FROM MILL_COIL_INFO WHERE MILL_SHEET_NO=MSH.MILL_SHEET_NO )as ZLOSMENGE,
    (SELECT sum(SURPLUS_ZJISHU) FROM MILL_COIL_INFO WHERE MILL_SHEET_NO=MSH.MILL_SHEET_NO )as SURPLUS_ZJISHU,
    (SELECT sum(SURPLUS_ZLOSMENGE) FROM MILL_COIL_INFO WHERE MILL_SHEET_NO=MSH.MILL_SHEET_NO )as SURPLUS_ZLOSMENGE,
    (select distinct name1 from MILL_CUSTOMER where KUNNR = MSO.ZKUNNR) AS ZKUNNR
    FROM
    WARRANTY.MILL_SHEET_HOSTS MSO
    LEFT JOIN WARRANTY.MILL_SHEET_HEAD MSH ON MSO.MILL_SHEET_NO = MSH.MILL_SHEET_NO
    LEFT JOIN WARRANTY.MILL_FALLBACK_INFO MFI ON MSO.MILL_SHEET_NO = MFI.MILL_SHEET_NO
    LEFT JOIN WARRANTY.MILL_FALLBACK_STEPS MFS ON MSO.MILL_SHEET_NO = MFS.MILL_SHEET_NO) h
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="endDtStr != null" >
        AND TO_CHAR (H.LFDAT, 'yyyy-MM-dd hh24:mi:ss') &lt;= #{endDtStr}
      </if>
      <if test="startDtStr != null" >
        AND TO_CHAR (H.LFDAT, 'yyyy-MM-dd hh24:mi:ss') &gt;= #{startDtStr}
      </if>
      <if test="millSheetNo != null  and millSheetNo != ''" >
        AND H.MILL_SHEET_NO like  '%' || #{millSheetNo} ||'%'
      </if>
      <if test="millSheetNos != null">
        AND H.MILL_SHEET_NO  in
        <foreach collection="millSheetNos"  index="index" close=")" open="(" item="item" separator=",">
          #{millSheetNos[${index}]}
        </foreach>
      </if>
      <if test="noMillSheetNos != null">
        AND H.MILL_SHEET_NO NOT in
        <foreach collection="noMillSheetNos"  index="index" close=")" open="(" item="item" separator=",">
          #{noMillSheetNos[${index}]}
        </foreach>
      </if>
      <if test="zchehao != null and zchehao != ''" >
        AND H.ZCHEHAO like '%' || #{zchehao,jdbcType=VARCHAR} || '%'
      </if>
      <if test="zhth != null  and zhth != ''" >
        AND H.ZHTH = #{zhth,jdbcType=VARCHAR}
      </if>
      <if test="zkunnr != null  and zkunnr != ''" >
        AND H.ZKUNNR = #{zkunnr,jdbcType=VARCHAR}
      </if>
      <if test="zph != null  and zph != ''" >
        AND H.ZPH = #{zph,jdbcType=VARCHAR}
      </if>
      <!--<if test="spiltCustomer != null  and spiltCustomer != ''" >
        AND H.SPILT_CUSTOMER = #{spiltCustomer,jdbcType=VARCHAR}
      </if>-->
      <if test="zkunnrs != null  and zkunnrs != ''" >
        AND H.SPILT_CUSTOMER like  '%' || #{zkunnrs} ||'%'
      </if>
      <if test="deptCode != null and deptCode != ''" >
        AND H.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
      </if>
      <if test="millSheetType != null  and millSheetType != ''" >
        AND H.MILL_SHEET_TYPE = #{millSheetType}
      </if>
      <if test="zdaozhan != null  and zdaozhan != ''" >
        AND H.ZDAOZHAN = #{zdaozhan}
      </if>
      <if test="deptCodes != null" >
        AND H.DEPT_CODE  in
        <foreach collection="deptCodes"  index="index" close=")" open="(" item="item" separator=",">
          #{deptCodes[${index}]}
        </foreach>
      </if>
      <!--<choose>
            <when test="deptCodes != null">
              AND MSO.DEPT_CODE  in
              <foreach collection="deptCodes"  index="index" close=")" open="(" item="item" separator=",">
                #{deptCodes[${index}]}
              </foreach>
            </when>
            <otherwise>
              AND   MSO.DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
            </otherwise>
          </choose>-->
      <if test="millLine != null and millLine != ''" >
        AND H.MILL_LINE like  '%' || #{millLine} ||'%'
      </if>
      <choose>
        <when test="states !=null and states != ''">
          and H.STATE  = #{states,jdbcType=VARCHAR}
        </when>
        <otherwise>
          AND H.STATE  IN ('EXAMINED', 'DOWNLOADED', 'PRIVIEWED', 'PRINTED','SPLITED')
        </otherwise>
      </choose>
      AND H.ZCHEHAO NOT LIKE '-%'
    </trim>
    order by H.SID desc
  </select>

  <select id="getSheetHostsMsgHaveZcharg" resultMap="FullMap">
    SELECT
    mss.STATE,
    msd.ZCPMC, msd.MILL_SHEET_NO, msd.ZPH, msd.ZKDAUF, msd.LFDAT
    FROM MILL_SHEET_HOSTS mss
    LEFT JOIN MILL_SHEET_HEAD msd ON MSD.MILL_SHEET_NO = MSS.MILL_SHEET_NO
    <if test="zcharg != null and zcharg != ''">
      WHERE msd.MILL_SHEET_NO IN
      (
      SELECT
      mco.MILL_SHEET_NO
      FROM MILL_COIL_INFO mco
      WHERE mco.ZCHARG= #{zcharg}
      GROUP BY mco.MILL_SHEET_NO
      )
      <if test="zchehao != null and zchehao != ''">
        AND msd.ZCHEHAO= #{zchehao}
      </if>
      <if test="lfdat != null  and lfdat != ''" >
        AND TO_CHAR (msd.LFDAT, 'yyyy-MM-dd') = #{lfdat}
      </if>

      <if test="startDtStr != null and startDtStr != '' " >
        AND TO_CHAR (msd.LFDAT, 'yyyy-MM-dd') >= #{startDtStr}
      </if>
      <if test="endDtStr != null and endDtStr != '' " >
        AND TO_CHAR (msd.LFDAT, 'yyyy-MM-dd') &lt;= #{endDtStr}
      </if>

      <if test="millSheetNo != null and millSheetNo != '' ">
        AND mss.MILL_SHEET_NO like  '%' || #{millSheetNo} ||'%'
      </if>
      <if test="orgName != null and orgName != '' ">
        AND msd.SPILT_CUSTOMER = #{orgName}
      </if>
    </if>
    AND mss.STATE  IN ('EXAMINED', 'DOWNLOADED', 'PRIVIEWED', 'PRINTED','SPLITED')
  </select>

  <select id="getSheetHostsMsgNoZcharg" resultMap="FullMap">
    SELECT
    mss.STATE,
    msd.ZCPMC, msd.MILL_SHEET_NO, msd.ZPH, msd.ZKDAUF, msd.LFDAT
    FROM MILL_SHEET_HOSTS mss
    LEFT JOIN MILL_SHEET_HEAD msd ON MSD.MILL_SHEET_NO = MSS.MILL_SHEET_NO
    <trim prefix="WHERE" prefixOverrides="AND |OR ">

      <if test="zchehao != null and zchehao != ''">
        AND msd.ZCHEHAO= #{zchehao}
      </if>
      <if test="lfdat != null  and lfdat != ''" >
        AND TO_CHAR (msd.LFDAT, 'yyyy-MM-dd') = #{lfdat}
      </if>

      <if test="startDtStr != null and startDtStr != '' " >
        AND TO_CHAR (msd.LFDAT, 'yyyy-MM-dd') >= #{startDtStr}
      </if>
      <if test="endDtStr != null and endDtStr != '' " >
        AND TO_CHAR (msd.LFDAT, 'yyyy-MM-dd') &lt;= #{endDtStr}
      </if>

      <if test="millSheetNo != null and millSheetNo != '' ">
        AND mss.MILL_SHEET_NO like  '%' || #{millSheetNo} ||'%'
      </if>
      <if test="orgName != null and orgName != '' ">
        AND msd.SPILT_CUSTOMER = #{orgName}
      </if>

    </trim>
    AND mss.STATE  IN ('EXAMINED', 'DOWNLOADED', 'PRIVIEWED', 'PRINTED','SPLITED')
  </select>

  <select id="selectByMillSheetNOWithCreateOrUpdate" resultMap="MillSheetHeadResultMap">
    SELECT *
    FROM MILL_SHEET_HEAD
    WHERE MILL_SHEET_NO = #{millSheetNo}
  </select>


  <select id="updateStateAndPrintNum" resultType="java.lang.Integer">
    UPDATE MILL_SHEET_HOSTS
    SET
    STATE='DOWNLOADED',
    DOWNABLE_NUM = DOWNABLE_NUM - 1,
    DOWN_NUM = DOWN_NUM + 1
    WHERE
    MILL_SHEET_NO = #{millSheetNo}
  </select>

  <select id="selectByMillSheetNo" resultMap="BaseResultMap">
    SELECT *
    FROM MILL_SHEET_HOSTS
    WHERE MILL_SHEET_NO = #{MILLSHEETNO}
  </select>

  <delete id="deleteMillSheetNo" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts" >
    delete from MILL_SHEET_HOSTS
    where MILL_SHEET_NO = #{millSheetNo}
  </delete>





  <resultMap id="FullMap2" type="jq.steel.cs.services.cust.facade.model.MillSheetHosts" >
    <result column="MILL_SHEET_NO" property="millSheetNo" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="ZCPMC" property="zcpmc" jdbcType="VARCHAR" />
    <result column="ZPH" property="zph" jdbcType="VARCHAR" />
    <result column="ZKUNNR" property="zkunnr" jdbcType="VARCHAR" />
    <result column="ZKUNWE" property="zkunwe" jdbcType="VARCHAR" />
    <result column="SPILT_CUSTOMER" property="spiltCustomer" jdbcType="VARCHAR" />
    <result column="ZDAOZHAN" property="zdaozhan" jdbcType="VARCHAR" />
    <result column="ZCHEHAO" property="zchehao" jdbcType="VARCHAR" />
    <result column="LFDAT" property="lfdat" jdbcType="TIMESTAMP" />
    <result column="TOTAL_ZJISHU" property="totalZjishu" jdbcType="DECIMAL" />
    <result column="TOTAL_ZLOSMENGE" property="totalZlosmenge" jdbcType="DECIMAL" />
    <result column="SPECS" property="specs" jdbcType="VARCHAR" />
    <result column="ZCHARG" property="zcharg" jdbcType="VARCHAR" />
    <result column="ZLPH" property="zlph" jdbcType="VARCHAR" />
    <result column="ZJISHU" property="zjishu" jdbcType="DECIMAL" />
    <result column="ZLOSMENGE" property="zlosmenge" jdbcType="DECIMAL" />
  </resultMap>

  <!--导出查询-->
  <select id="findExportInfo" resultMap="FullMap2" parameterType="jq.steel.cs.services.cust.facade.model.MillSheetHosts">
    SELECT
	head.mill_sheet_no,
	CASE
WHEN hosts.state = 'NEW' THEN
	'新建'
WHEN hosts.state = 'CREATED' THEN
	'已生成'
WHEN hosts.state = 'EXAMINED' THEN
	'已审核'
WHEN hosts.state = 'CONFIRMED' THEN
	'已确认'
WHEN hosts.state = 'FALLBACKED' THEN
	'已回退'
WHEN hosts.state = 'PENDING' THEN
	'待处理'
WHEN hosts.state = 'DISSUSED' THEN
	'已置废'
WHEN hosts.state = 'DOWNLOADED' THEN
	'已下载'
WHEN hosts.state = 'PRIVIEWED' THEN
	'已预览'
WHEN hosts.state = 'PRINTED' THEN
	'已打印'
WHEN hosts.state = 'DELETED' THEN
	'已删除'
ELSE
	hosts.state
END AS STATE,
 head.zcpmc,
 head.zph,
 (
	SELECT DISTINCT
		name1
	FROM
		mill_customer
	WHERE
		head.zkunnr = kunnr
	AND head.dept_code = bukrs
) AS zkunnr,
 (
	SELECT DISTINCT
		name1
	FROM
		mill_customer
	WHERE
		head.zkunwe = kunnr
	AND head.dept_code = bukrs
) AS zkunwe,
 head.SPILT_CUSTOMER,
 head.zdaozhan,
 head.zchehao,
 head.lfdat,
 head.total_zlosmenge,
 head.total_zjishu,
 coil.specs,
 coil.zcharg,
 coil.zlph,
 coil.zjishu,
 coil.zlosmenge
FROM
	mill_coil_info coil,
	mill_sheet_head head,
	mill_sheet_hosts hosts
WHERE
	head.mill_sheet_no = coil.mill_sheet_no
AND head.mill_sheet_no = hosts.mill_sheet_no
    AND hosts.MILL_SHEET_NO  in
    <foreach collection="millSheetNos"  index="index" close=")" open="(" item="item" separator=",">
      #{millSheetNos[${index}]}
    </foreach>
  </select>


</mapper>