<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.cust.facade.dao.MillCoilInfoMapper" >
  <resultMap id="BaseResultMap" type="jq.steel.cs.services.cust.facade.model.MillCoilInfo" >
    <id column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="ZCHEHAO" property="zchehao" jdbcType="VARCHAR" />
    <result column="ZLPH" property="zlph" jdbcType="VARCHAR" />
    <result column="ZCHARG" property="zcharg" jdbcType="VARCHAR" />
    <result column="SPECS" property="specs" jdbcType="VARCHAR" />
    <result column="ZDIAMETER" property="zdiameter" jdbcType="DECIMAL" />
    <result column="ZTHICK" property="zthick" jdbcType="DECIMAL" />
    <result column="ZWIDTH" property="zwidth" jdbcType="DECIMAL" />
    <result column="ZLENGTH" property="zlength" jdbcType="DECIMAL" />
    <result column="ZJISHU" property="zjishu" jdbcType="DECIMAL" />
    <result column="ZLOSMENGE" property="zlosmenge" jdbcType="DECIMAL" />
    <result column="ZJISHU_UNIT" property="zjishuUnit" jdbcType="VARCHAR" />
    <result column="ZMEINS" property="zmeins" jdbcType="VARCHAR" />
    <result column="ZDCZT" property="zdczt" jdbcType="VARCHAR" />
    <result column="ZJHZT" property="zjhzt" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NO" property="millsheetNo" jdbcType="VARCHAR" />
    <result column="HH" property="millSheetNo" jdbcType="VARCHAR" />
    <result column="ZBMJD" property="zbmjd" jdbcType="VARCHAR" />
    <result column="ZBZFS" property="zbzfs" jdbcType="VARCHAR" />
    <result column="ZTSBZ" property="ztsbz" jdbcType="VARCHAR" />
    <result column="ZHDPC" property="zhdpc" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />

    <result column="SPECS" property="specs" jdbcType="VARCHAR" />
    <result column="ORIGINALWEIGHT" property="originalWeight" jdbcType="DECIMAL" />
  </resultMap>

  <resultMap id="FullMap" type="jq.steel.cs.services.cust.facade.model.MillCoilInfo" >
    <id column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="ZCHEHAO" property="zchehao" jdbcType="VARCHAR" />
    <result column="ZLPH" property="zlph" jdbcType="VARCHAR" />
    <result column="ZCHARG" property="zcharg" jdbcType="VARCHAR" />
    <result column="SPECS" property="specs" jdbcType="VARCHAR" />
    <result column="ZDIAMETER" property="zdiameter" jdbcType="DECIMAL" />
    <result column="ZTHICK" property="zthick" jdbcType="DECIMAL" />
    <result column="ZWIDTH" property="zwidth" jdbcType="DECIMAL" />
    <result column="ZLENGTH" property="zlength" jdbcType="DECIMAL" />
    <result column="ZJISHU" property="zjishu" jdbcType="DECIMAL" />
    <result column="ZLOSMENGE" property="zlosmenge" jdbcType="DECIMAL" />
    <result column="SURPLUS_ZJISHU" property="surplusZjishu" jdbcType="DECIMAL" />
    <result column="SURPLUS_ZLOSMENGE" property="surplusZlosmenge" jdbcType="DECIMAL" />
    <result column="ZJISHU_UNIT" property="zjishuUnit" jdbcType="VARCHAR" />
    <result column="ZMEINS" property="zmeins" jdbcType="VARCHAR" />
    <result column="ZDCZT" property="zdczt" jdbcType="VARCHAR" />
    <result column="ZJHZT" property="zjhzt" jdbcType="VARCHAR" />
    <result column="MILL_SHEET_NO" property="millsheetNo" jdbcType="VARCHAR" />
    <result column="ZBMJD" property="zbmjd" jdbcType="VARCHAR" />
    <result column="ZBZFS" property="zbzfs" jdbcType="VARCHAR" />
    <result column="ZTSBZ" property="ztsbz" jdbcType="VARCHAR" />
    <result column="ZHDPC" property="zhdpc" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="MILL_SHEET_TYPE" property="millsheetType" jdbcType="VARCHAR" />
    <result column="SPLIT_MAX_VALUE" property="splitMaxValue" jdbcType="VARCHAR" />
    <result column="ZCPMC" property="zcpmc" jdbcType="VARCHAR" />
    <result column="ZKUNNR" property="zkunnr" jdbcType="VARCHAR" />
    <result column="ZKUNWE" property="zkunwe" jdbcType="VARCHAR" />

  </resultMap>

  <resultMap id="MapForCoilAndPhysics" type="jq.steel.cs.services.cust.facade.model.CrmMillCoilInfo">
    <result column="STATE" property="state"/>
    <result column="ZCHARG" property="zcharg"/>
    <result column="SPECS" property="specs"/>
    <result column="ZLOSMENGE" property="zlosmenge"/>
    <result column="ZJISHU" property="zJiShu"/>
    <result column="ZLPH" property="zlph"/>
    <association property="millSheetHead" javaType="jq.steel.cs.services.cust.facade.model.MillSheetHead">
      <result column="MILL_SHEET_NO" property="millSheetNo"/>
      <result column="ZKUNWE" property="zkunwe"/>
      <result column="ZCPMC" property="zcpmc"/>
      <result column="ZPH" property="zph"/>
      <result column="ZZXBZ" property="zzxbz"/>
      <result column="ZCHEHAO" property="zchehao"/>
      <result column="ZDAOZHAN" property="zdaozhan"/>
      <result column="ZJHZT" property="zjhzt"/>
      <result column="NAME1" property="name"/>
    </association>
    <collection property="listForMillPhysicsData"
                ofType="jq.steel.cs.services.cust.facade.model.CrmMillPhysicsData"
                columnPrefix="MPD_">
      <id column="SID" property="sid"/>
      <result column="KURZTEXT" property="kurztext"/>
      <result column="ORIGINAL_INPUT" property="originalInput"/>
    </collection>
  </resultMap>

  <resultMap id="MapForCoilAndChemistry" type="jq.steel.cs.services.cust.facade.model.CrmMillCoilInfo">
    <result column="STATE" property="state"/>
    <result column="ZCHARG" property="zcharg"/>
    <result column="SPECS" property="specs"/>
    <result column="ZLOSMENGE" property="zlosmenge"/>
    <result column="ZJISHU" property="zJiShu"/>
    <result column="ZLPH" property="zlph"/>
    <association property="millSheetHead" javaType="jq.steel.cs.services.cust.facade.model.MillSheetHead">
      <result column="MILL_SHEET_NO" property="millSheetNo"/>
      <result column="ZKUNWE" property="zkunwe"/>
      <result column="ZCPMC" property="zcpmc"/>
      <result column="ZPH" property="zph"/>
      <result column="ZZXBZ" property="zzxbz"/>
      <result column="ZCHEHAO" property="zchehao"/>
      <result column="ZDAOZHAN" property="zdaozhan"/>
      <result column="ZJHZT" property="zjhzt"/>
      <result column="NAME1" property="name"/>
    </association>
    <collection property="listForMillChemistryData"
                ofType="jq.steel.cs.services.cust.facade.model.CrmMillChemistryData"
                columnPrefix="MCD_">
      <id column="SID" property="sid"/>
      <result column="KURZTEXT" property="kurztext"/>
      <result column="ORIGINAL_INPUT" property="original_input"/>
    </collection>
  </resultMap>

  <select id="splitFind" resultMap="FullMap" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo">
    SELECT
    A.SID,
    A.CREATED_DT,
    A.MILL_SHEET_NO,
    A.ZCHARG,
    A.SPECS,
    B.MILL_SHEET_TYPE,
    B.SPLIT_MAX_VALUE,
    A.ZCHEHAO,
    C.ZCPMC,
    A.ZJISHU_UNIT,
    (select distinct name1 from MILL_CUSTOMER where KUNNR = B.ZKUNNR and B.DEPT_CODE = BUKRS) AS ZKUNNR,
    (select distinct name1 from MILL_CUSTOMER where KUNNR = B.ZKUNWE and B.DEPT_CODE = BUKRS) AS ZKUNWE,
    A.ZLPH,
    B.SURPLUS_BATCH,
    A.SURPLUS_ZLOSMENGE AS ZLOSMENGE,
    A.SURPLUS_ZJISHU AS ZJISHU
    FROM
        WARRANTY.MILL_COIL_INFO A
        LEFT JOIN WARRANTY.MILL_SHEET_HOSTS B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
        LEFT JOIN WARRANTY.MILL_SHEET_HEAD C ON A.MILL_SHEET_NO = C.MILL_SHEET_NO
        WHERE A.MILL_SHEET_NO = #{millsheetNo,jdbcType=VARCHAR}
  </select>


  <select id="findInfo" resultMap="FullMap" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo">
    SELECT
    A.SID,
    A.CREATED_DT,
    A.MILL_SHEET_NO,
    A.ZCHARG,
    A.SPECS,
    B.MILL_SHEET_TYPE,
    B.SPLIT_MAX_VALUE,
    A.ZCHEHAO,
    C.ZCPMC,
    A.ZJISHU_UNIT,
    (select distinct name1 from MILL_CUSTOMER where KUNNR = B.ZKUNNR) AS ZKUNNR,
    (select distinct name1 from MILL_CUSTOMER where KUNNR = B.ZKUNWE) AS ZKUNWE,
    A.ZLPH,
    B.SURPLUS_BATCH,
    A.ZJISHU,
    A.ZLOSMENGE,
    A.SURPLUS_ZJISHU,
    A.SURPLUS_ZLOSMENGE
    FROM
    WARRANTY.MILL_COIL_INFO A
    LEFT JOIN WARRANTY.MILL_SHEET_HOSTS B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
    LEFT JOIN WARRANTY.MILL_SHEET_HEAD C ON A.MILL_SHEET_NO = C.MILL_SHEET_NO
    WHERE A.MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR} AND  A.ZCHARG= #{zcharg,jdbcType=VARCHAR}  AND  A.SPECS = #{specs}
  </select>



  <select id="findCoil" resultMap="FullMap" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo">
  SELECT
  ZCHEHAO,
  ZLPH,
  ZCHARG,
  SPECS,
  ZJISHU,
  ZLOSMENGE,
  SURPLUS_ZJISHU,
  SURPLUS_ZLOSMENGE,
  MILL_SHEET_NO
  FROM
  WARRANTY.MILL_COIL_INFO
  WHERE MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR}
</select>


  <select id="findSpecs" resultMap="FullMap" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo">
   SELECT DISTINCT
	SPECS
    FROM
    WARRANTY.MILL_COIL_INFO
    WHERE MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR}
  </select>

  <!--拆分校验是否有此卷-->
  <select id="findVolume" resultMap="FullMap" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo">
    SELECT
    ZCHEHAO,
    ZCHARG,
    SPECS,
    ZJISHU,
    ZLOSMENGE,
    SURPLUS_ZJISHU,
    SURPLUS_ZLOSMENGE,
    MILL_SHEET_NO
    FROM
    WARRANTY.MILL_COIL_INFO
    WHERE MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR} AND ZCHARG= #{zcharg,jdbcType=VARCHAR}  AND SPECS = #{specs}
  </select>



  <!--不锈钢厂碳钢厂拆分校验是否有此卷-->
  <select id="findVolumeNeed" resultMap="FullMap" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo">
   SELECT
A.ZCHEHAO,
A.ZCHARG,
A.SPECS,
A.ZJISHU,
A.ZLOSMENGE,
A.SURPLUS_ZJISHU,
A.SURPLUS_ZLOSMENGE,
A.MILL_SHEET_NO
FROM
WARRANTY.MILL_COIL_INFO A
LEFT JOIN WARRANTY.MILL_SHEET_HOSTS B ON A.MILL_SHEET_NO = B.MILL_SHEET_NO
    WHERE A.ZCHARG= #{zcharg,jdbcType=VARCHAR}
    AND B.STATE NOT IN ('DISSUSED')
    AND TO_CHAR (A.CREATED_DT, 'yyyy') = #{createdYear}
  </select>




  <select id="findIsTrue" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo">
   SELECT
   A.MILL_SHEET_NO AS hh,
  A.SPECS AS specs,
  A.ZLOSMENGE AS  originalWeight
  FROM
  WARRANTY.MILL_COIL_INFO A
    WHERE
    A.MILL_SHEET_NO= #{millSheetNo,jdbcType=VARCHAR} AND A.ZCHARG= #{zcharg,jdbcType=VARCHAR}
  </select>


  <select id="findMillsheetNumber" resultMap="FullMap" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo">
  SELECT
  MILL_SHEET_NO,
  ZCHARG
  FROM
  MILL_COIL_INFO
  WHERE ZCHARG like '%' || #{zcharg,jdbcType=VARCHAR} || '%'
  </select>
<!--  WHERE ZCHARG =  #{zcharg,jdbcType=VARCHAR}-->
  <!--like '%' || #{zchehao,jdbcType=VARCHAR} || '%'-->



  <sql id="Base_Column_List" >
    SID, ZCHEHAO, ZLPH, ZCHARG, SPECS, ZDIAMETER, ZTHICK, ZWIDTH, ZLENGTH, ZJISHU, ZLOSMENGE,
    ZJISHU_UNIT, ZMEINS, ZDCZT, ZJHZT, MILL_SHEET_NO, ZBMJD, ZBZFS, ZTSBZ, ZHDPC, CREATED_BY, 
    CREATED_DT, UPDATED_BY, UPDATED_DT, VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from MILL_COIL_INFO
    where SID = #{sid,jdbcType=DECIMAL}
  </select>

  <select id="selectZchargs" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo" >
   SELECT
ZCHARG,
MILL_SHEET_NO
FROM
MILL_COIL_INFO
    where MILL_SHEET_NO = #{millSheetNo,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MILL_COIL_INFO
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo" >
    insert into MILL_COIL_INFO (SID, ZCHEHAO, ZLPH,
      ZCHARG, SPECS, ZDIAMETER, 
      ZTHICK, ZWIDTH, ZLENGTH, 
      ZJISHU, ZLOSMENGE, ZJISHU_UNIT, 
      ZMEINS, ZDCZT, ZJHZT, 
      MILL_SHEET_NO, ZBMJD, ZBZFS, 
      ZTSBZ, ZHDPC, CREATED_BY, 
      CREATED_DT, UPDATED_BY, UPDATED_DT, 
      VERSION)
    values (#{sid,jdbcType=DECIMAL}, #{zchehao,jdbcType=VARCHAR}, #{zlph,jdbcType=VARCHAR}, 
      #{zcharg,jdbcType=VARCHAR}, #{specs,jdbcType=VARCHAR}, #{zdiameter,jdbcType=DECIMAL}, 
      #{zthick,jdbcType=DECIMAL}, #{zwidth,jdbcType=DECIMAL}, #{zlength,jdbcType=DECIMAL}, 
      #{zjishu,jdbcType=DECIMAL}, #{zlosmenge,jdbcType=DECIMAL}, #{zjishuUnit,jdbcType=VARCHAR}, 
      #{zmeins,jdbcType=VARCHAR}, #{zdczt,jdbcType=VARCHAR}, #{zjhzt,jdbcType=VARCHAR}, 
      #{millsheetNo,jdbcType=VARCHAR}, #{zbmjd,jdbcType=VARCHAR}, #{zbzfs,jdbcType=VARCHAR},
      #{ztsbz,jdbcType=VARCHAR}, #{zhdpc,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedDt,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo" >
    insert into MILL_COIL_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="zchehao != null" >
        ZCHEHAO,
      </if>
      <if test="zlph != null" >
        ZLPH,
      </if>
      <if test="zcharg != null" >
        ZCHARG,
      </if>
      <if test="specs != null" >
        SPECS,
      </if>
      <if test="zdiameter != null" >
        ZDIAMETER,
      </if>
      <if test="zthick != null" >
        ZTHICK,
      </if>
      <if test="zwidth != null" >
        ZWIDTH,
      </if>
      <if test="zlength != null" >
        ZLENGTH,
      </if>
      <if test="zjishu != null" >
        ZJISHU,
      </if>
      <if test="zlosmenge != null" >
        ZLOSMENGE,
      </if>
      <if test="zjishuUnit != null" >
        ZJISHU_UNIT,
      </if>
      <if test="zmeins != null" >
        ZMEINS,
      </if>
      <if test="zdczt != null" >
        ZDCZT,
      </if>
      <if test="zjhzt != null" >
        ZJHZT,
      </if>
      <if test="millsheetNo != null" >
        MILL_SHEET_NO,
      </if>
      <if test="zbmjd != null" >
        ZBMJD,
      </if>
      <if test="zbzfs != null" >
        ZBZFS,
      </if>
      <if test="ztsbz != null" >
        ZTSBZ,
      </if>
      <if test="zhdpc != null" >
        ZHDPC,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=DECIMAL},
      </if>
      <if test="zchehao != null" >
        #{zchehao,jdbcType=VARCHAR},
      </if>
      <if test="zlph != null" >
        #{zlph,jdbcType=VARCHAR},
      </if>
      <if test="zcharg != null" >
        #{zcharg,jdbcType=VARCHAR},
      </if>
      <if test="specs != null" >
        #{specs,jdbcType=VARCHAR},
      </if>
      <if test="zdiameter != null" >
        #{zdiameter,jdbcType=DECIMAL},
      </if>
      <if test="zthick != null" >
        #{zthick,jdbcType=DECIMAL},
      </if>
      <if test="zwidth != null" >
        #{zwidth,jdbcType=DECIMAL},
      </if>
      <if test="zlength != null" >
        #{zlength,jdbcType=DECIMAL},
      </if>
      <if test="zjishu != null" >
        #{zjishu,jdbcType=DECIMAL},
      </if>
      <if test="zlosmenge != null" >
        #{zlosmenge,jdbcType=DECIMAL},
      </if>
      <if test="zjishuUnit != null" >
        #{zjishuUnit,jdbcType=VARCHAR},
      </if>
      <if test="zmeins != null" >
        #{zmeins,jdbcType=VARCHAR},
      </if>
      <if test="zdczt != null" >
        #{zdczt,jdbcType=VARCHAR},
      </if>
      <if test="zjhzt != null" >
        #{zjhzt,jdbcType=VARCHAR},
      </if>
      <if test="millsheetNo != null" >
        #{millsheetNo,jdbcType=VARCHAR},
      </if>
      <if test="zbmjd != null" >
        #{zbmjd,jdbcType=VARCHAR},
      </if>
      <if test="zbzfs != null" >
        #{zbzfs,jdbcType=VARCHAR},
      </if>
      <if test="ztsbz != null" >
        #{ztsbz,jdbcType=VARCHAR},
      </if>
      <if test="zhdpc != null" >
        #{zhdpc,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo" >
    update MILL_COIL_INFO
    <set >
      <if test="zchehao != null" >
        ZCHEHAO = #{zchehao,jdbcType=VARCHAR},
      </if>
      <if test="zlph != null" >
        ZLPH = #{zlph,jdbcType=VARCHAR},
      </if>
      <if test="zcharg != null" >
        ZCHARG = #{zcharg,jdbcType=VARCHAR},
      </if>
      <if test="specs != null" >
        SPECS = #{specs,jdbcType=VARCHAR},
      </if>
      <if test="zdiameter != null" >
        ZDIAMETER = #{zdiameter,jdbcType=DECIMAL},
      </if>
      <if test="zthick != null" >
        ZTHICK = #{zthick,jdbcType=DECIMAL},
      </if>
      <if test="zwidth != null" >
        ZWIDTH = #{zwidth,jdbcType=DECIMAL},
      </if>
      <if test="zlength != null" >
        ZLENGTH = #{zlength,jdbcType=DECIMAL},
      </if>
      <if test="zjishu != null" >
        ZJISHU = #{zjishu,jdbcType=DECIMAL},
      </if>
      <if test="zlosmenge != null" >
        ZLOSMENGE = #{zlosmenge,jdbcType=DECIMAL},
      </if>
      <if test="zjishuUnit != null" >
        ZJISHU_UNIT = #{zjishuUnit,jdbcType=VARCHAR},
      </if>
      <if test="zmeins != null" >
        ZMEINS = #{zmeins,jdbcType=VARCHAR},
      </if>
      <if test="zdczt != null" >
        ZDCZT = #{zdczt,jdbcType=VARCHAR},
      </if>
      <if test="zjhzt != null" >
        ZJHZT = #{zjhzt,jdbcType=VARCHAR},
      </if>
      <if test="millsheetNo != null" >
        MILL_SHEET_NO = #{millsheetNo,jdbcType=VARCHAR},
      </if>
      <if test="zbmjd != null" >
        ZBMJD = #{zbmjd,jdbcType=VARCHAR},
      </if>
      <if test="zbzfs != null" >
        ZBZFS = #{zbzfs,jdbcType=VARCHAR},
      </if>
      <if test="ztsbz != null" >
        ZTSBZ = #{ztsbz,jdbcType=VARCHAR},
      </if>
      <if test="zhdpc != null" >
        ZHDPC = #{zhdpc,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null" >
        CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
    </set>
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo" >
    update MILL_COIL_INFO
    set ZCHEHAO = #{zchehao,jdbcType=VARCHAR},
      ZLPH = #{zlph,jdbcType=VARCHAR},
      ZCHARG = #{zcharg,jdbcType=VARCHAR},
      SPECS = #{specs,jdbcType=VARCHAR},
      ZDIAMETER = #{zdiameter,jdbcType=DECIMAL},
      ZTHICK = #{zthick,jdbcType=DECIMAL},
      ZWIDTH = #{zwidth,jdbcType=DECIMAL},
      ZLENGTH = #{zlength,jdbcType=DECIMAL},
      ZJISHU = #{zjishu,jdbcType=DECIMAL},
      ZLOSMENGE = #{zlosmenge,jdbcType=DECIMAL},
      ZJISHU_UNIT = #{zjishuUnit,jdbcType=VARCHAR},
      ZMEINS = #{zmeins,jdbcType=VARCHAR},
      ZDCZT = #{zdczt,jdbcType=VARCHAR},
      ZJHZT = #{zjhzt,jdbcType=VARCHAR},
      MILL_SHEET_NO = #{millsheetNo,jdbcType=VARCHAR},
      ZBMJD = #{zbmjd,jdbcType=VARCHAR},
      ZBZFS = #{zbzfs,jdbcType=VARCHAR},
      ZTSBZ = #{ztsbz,jdbcType=VARCHAR},
      ZHDPC = #{zhdpc,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
  <select id="getPhysicsListByMillSheet" resultMap="MapForCoilAndPhysics" parameterType="jq.steel.cs.services.cust.api.vo.CrmMillSheetDetailVO">
    SELECT
    msh.MILL_SHEET_NO,
    msh.STATE,
    mci.ZCHARG, mci.SPECS, mci.ZLOSMENGE,mci.ZJISHU,
    mpd.SID AS MPD_SID, mpd.KURZTEXT AS MPD_KURZTEXT, mpd.ORIGINAL_INPUT as MPD_ORIGINAL_INPUT
    FROM MILL_SHEET_HOSTS msh
    LEFT JOIN MILL_COIL_INFO mci on msh.MILL_SHEET_NO = mci.MILL_SHEET_NO
    LEFT JOIN MILL_PHYSICS_DATA mpd on mci.ZCHARG = mpd.ZCHARG AND mpd.MILL_SHEET_NO=msh.MILL_SHEET_NO
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="millSheetNo != null and millSheetNo != ''" >
        and msh.MILL_SHEET_NO = #{millSheetNo}
      </if>
      <if test="showFlag != null and showFlag != ''" >
        and mpd.SHOW_FLAG = #{showFlag}
      </if>
    </trim>
  </select>

  <select id="getChemistryListByMillSheet" resultMap="MapForCoilAndChemistry" parameterType="jq.steel.cs.services.cust.api.vo.CrmMillSheetDetailVO">
  SELECT msh.MILL_SHEET_NO,
  msh.STATE,
  mci.ZCHARG, mci.SPECS, mci.ZLOSMENGE,mci.ZJISHU,
  mcd.SID AS MCD_SID, mcd.KURZTEXT AS MCD_KURZTEXT, mcd.ORIGINAL_INPUT AS MCD_ORIGINAL_INPUT
  FROM MILL_SHEET_HOSTS msh
  LEFT JOIN MILL_COIL_INFO mci on msh.MILL_SHEET_NO = mci.MILL_SHEET_NO
  LEFT JOIN MILL_CHEMISTRY_DATA mcd on mci.ZCHARG = mcd.ZCHARG  AND mcd.MILL_SHEET_NO=msh.MILL_SHEET_NO
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="millSheetNo != null and millSheetNo != ''" >
        and msh.MILL_SHEET_NO = #{millSheetNo}
      </if>
      <if test="showFlag != null and showFlag != ''" >
        and mcd.SHOW_FLAG = #{showFlag}
      </if>
    </trim>
  </select>



  <select id="queryForListByCurrentUser" resultMap="BaseResultMap">

    SELECT
    mci.SID, mci.ZCHEHAO, mci.ZLPH, mci.ZCHARG, mci.SPECS, mci.ZDIAMETER, mci.ZTHICK, mci.ZWIDTH, mci.ZLENGTH, mci.ZJISHU, mci.ZLOSMENGE,
    mci.ZJISHU_UNIT, mci.ZMEINS, mci.ZDCZT, mci.MILL_SHEET_NO, mci.ZBMJD, mci.ZBZFS, mci.ZTSBZ, mci.ZHDPC, mci.CREATED_BY,
    mci.CREATED_DT, mci.UPDATED_BY, mci.UPDATED_DT, mci.VERSION
    FROM MILL_COIL_INFO mci
    LEFT JOIN MILL_SHEET_HEAD msh
    ON mci.MILL_SHEET_NO = msh.MILL_SHEET_NO
    WHERE mci. MILL_SHEET_NO IN
    (
    SELECT DISTINCT MILL_SHEET_NO
    FROM MILL_SHEET_HEAD
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="zkunnr != null and zkunnr != ''" >
        AND ZKUNNR = #{zkunnr}
      </if>
      <if test="zcharg != null and zcharg != ''" >
        AND ZCHARG = #{zcharg}
      </if>
    </trim>
    )

  </select>

  <select id="getPhysicsInfoListByCoil" resultMap="MapForCoilAndPhysics">

    SELECT DISTINCT
    mci.ZCHARG,
    mci.SPECS,
    mpd.ORIGINAL_INPUT as MPD_ORIGINAL_INPUT,
    mpd.KURZTEXT AS MPD_KURZTEXT
    FROM
    MILL_COIL_INFO mci
    LEFT JOIN MILL_PHYSICS_DATA mpd ON mci.ZCHARG = mpd.ZCHARG
    AND mci.MILL_SHEET_NO = mpd.MILL_SHEET_NO
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="sid != null" >
        AND mci.SID = #{sid}
      </if>
      <if test="zcharg != null and zcharg != ''" >
        AND mci.ZCHARG = #{zcharg}
      </if>
      <if test="showFlag != null and showFlag != ''" >
        AND mpd.SHOW_FLAG = #{showFlag}
      </if>
    </trim>

  </select>

  <select id="getChemistryListByCoil" resultMap="MapForCoilAndChemistry">

    SELECT
    DISTINCT mci.ZCHARG, mci.SPECS, mci.ZLOSMENGE,
    mcd.SID AS MCD_SID, mcd.KURZTEXT AS MCD_KURZTEXT, mcd.ORIGINAL_INPUT AS MCD_ORIGINAL_INPUT
    FROM MILL_COIL_INFO mci
    LEFT JOIN MILL_CHEMISTRY_DATA mcd on mci.ZCHARG = mcd.ZCHARG AND mcd.MILL_SHEET_NO=mci.MILL_SHEET_NO
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="sid != null" >
        AND mci.SID = #{sid}
      </if>
      <if test="zcharg != null and zcharg != ''" >
        AND mci.ZCHARG = #{zcharg}
      </if>
      <if test="showFlag != null and showFlag != ''" >
        AND mcd.SHOW_FLAG = #{showFlag}
      </if>
    </trim>

  </select>

  <select id="getChemistryListByByQrCode" resultMap="MapForCoilAndChemistry">
    SELECT
    msd.MILL_SHEET_NO,
    msd.ZKUNWE,
    msd.ZCPMC,
    msd.ZPH,
    msd.ZZXBZ,
    msd.ZCHEHAO,
    msd.ZDAOZHAN,
    msd.ZJHZT,
    mci.ZCHARG,
    mci.SPECS,
    mci.ZLOSMENGE,
    mci.ZJISHU,
    mci.ZLPH,
    mcd. SID AS MCD_SID,
    mcd.KURZTEXT AS MCD_KURZTEXT,
    mcd.ORIGINAL_INPUT AS MCD_ORIGINAL_INPUT,
    mcd.SHOW_FLAG,
    (select distinct name1 from MILL_CUSTOMER where KUNNR = msd.ZKUNWE) AS NAME1
    FROM
    MILL_SHEET_HEAD msd
    LEFT JOIN MILL_COIL_INFO mci ON msd.MILL_SHEET_NO = mci.MILL_SHEET_NO
    LEFT JOIN MILL_CHEMISTRY_DATA mcd ON mci.ZCHARG = mcd.ZCHARG
    AND msd.MILL_SHEET_NO = mcd.MILL_SHEET_NO and mcd.SPECS = mci.SPECS
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="millSheetNo != null and millSheetNo != ''" >
        and msd.MILL_SHEET_NO = #{millSheetNo}
      </if>
      <if test="showFlag != null and showFlag != ''" >
        and mcd.SHOW_FLAG = #{showFlag}
      </if>
    </trim>

    ORDER BY
    CASE
    WHEN  MCD_KURZTEXT = 'C'then 1
    WHEN  MCD_KURZTEXT = 'Si'then 2
    WHEN  MCD_KURZTEXT = 'Mn'then 3
    WHEN  MCD_KURZTEXT = 'P'then 4
    WHEN  MCD_KURZTEXT = 'S'then 5
    END

  </select>

  <select id="getPhysicsListByQrCode" resultMap="MapForCoilAndPhysics">
    SELECT
    msd.MILL_SHEET_NO,
    msd.ZKUNWE,
    msd.ZCPMC,
    msd.ZPH,
    msd.ZZXBZ,
    msd.ZCHEHAO,
    msd.ZDAOZHAN,
    msd.ZJHZT,
    mci.ZCHARG,
    mci.SPECS,
    mci.ZLOSMENGE,
    mci.ZJISHU,
    mci.ZLPH,
    mpd. SID AS MPD_SID,
    mpd.KURZTEXT AS MPD_KURZTEXT,
    mpd.ORIGINAL_INPUT AS MPD_ORIGINAL_INPUT,
    (
    SELECT DISTINCT
    name1
    FROM
    MILL_CUSTOMER
    WHERE
    KUNNR = msd.ZKUNWE
    ) AS NAME1
    FROM
    MILL_SHEET_HEAD msd
    LEFT JOIN MILL_COIL_INFO mci ON msd.MILL_SHEET_NO = mci.MILL_SHEET_NO
    LEFT JOIN MILL_PHYSICS_DATA mpd ON mpd.ZCHARG = mci.ZCHARG
    AND msd.MILL_SHEET_NO = mpd.MILL_SHEET_NO
    AND mpd.SPECS = mci.SPECS
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="millSheetNo != null and millSheetNo != ''" >
        and msd.MILL_SHEET_NO = #{millSheetNo}
      </if>
      <if test="showFlag != null and showFlag != ''" >
        and mpd.SHOW_FLAG = #{showFlag}
      </if>
    </trim>
  </select>


  <select id="selectByZcharg" resultMap="BaseResultMap">
	SELECT SPECS , ZLOSMENGE
	FROM MILL_COIL_INFO
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="zcharg != null and zcharg != ''" >
        and ZCHARG = #{zcharg}
      </if>
      <if test="millSheetNo != null and millSheetNo != ''" >
        and MILL_SHEET_NO = #{millSheetNo}
      </if>
    </trim>
  </select>



  <select id="findDate" resultMap="BaseResultMap">
    SELECT MILL_SHEET_NO,
            ZCHARG,
            SPECS,
            SURPLUS_ZLOSMENGE AS ZLOSMENGE,
            SURPLUS_ZJISHU AS ZJISHU
    FROM MILL_COIL_INFO
    WHERE
    MILL_SHEET_NO = #{millSheetNo}
        and ZCHARG = #{zcharg}
        and SPECS = #{specs}
  </select>


  <update id="updateDate" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo" >
    update MILL_COIL_INFO
    <trim suffixOverrides=",">
      set version = version + 1,
      <if test="zjishu != null">
        SURPLUS_ZJISHU = #{zjishu,jdbcType=DECIMAL},
      </if>
      <if test="zlosmenge != null">
        SURPLUS_ZLOSMENGE = #{zlosmenge,jdbcType=DECIMAL},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
    WHERE
    MILL_SHEET_NO = #{millSheetNo}
    and ZCHARG = #{zcharg}
    and SPECS = #{specs}
  </update>


  <delete id="deleteMillSheetNo" parameterType="jq.steel.cs.services.cust.facade.model.MillCoilInfo" >
    delete from MILL_COIL_INFO
    where MILL_SHEET_NO = #{millSheetNo}
  </delete>
</mapper>