<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.base.facade.dao.AcctRoleRealMapper" >
  <resultMap id="BaseResultMap" type="jq.steel.cs.services.base.facade.model.AcctRoleReal" >
    <id column="RELA_ID" property="relaId" />
    <result column="ACCT_ID" property="acctId" />
    <result column="ROLE_ID" property="roleId" />
    <result column="STATUS" property="status"  />
    <result column="CREATED_BY" property="createdBy" />
    <result column="CREATED_TIME" property="createdTime"  />
    <result column="UPDATED_BY" property="updatedBy" />
    <result column="UPDATED_TIME" property="updatedTime"  />
  </resultMap>
  <sql id="Base_Column_List" >
    RELA_ID, ACCT_ID, ROLE_ID, STATUS, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from acct_role_real
    where RELA_ID = #{relaId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from acct_role_real
    where ACCT_ID = #{acctId}
  </delete>
  <insert id="insert" parameterType="jq.steel.cs.services.base.facade.model.AcctRoleReal" >
    <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="relaId">
      SELECT SEQ_ACCT_ROLE_REAL.nextval AS relaId FROM dual
    </selectKey>
    insert into acct_role_real (RELA_ID, ACCT_ID, ROLE_ID,
      STATUS, CREATED_BY, CREATED_TIME, 
      UPDATED_BY, UPDATED_TIME)
    values (#{relaId}, #{acctId}, #{roleId},
      #{status}, #{createdBy}, #{createdTime},
      #{updatedBy}, #{updatedTime})
  </insert>
  <insert id="insertSelective" parameterType="jq.steel.cs.services.base.facade.model.AcctRoleReal" >
    <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="relaId">
      SELECT SEQ_ACCT_ROLE_REAL.nextval AS relaId FROM dual
    </selectKey>
    insert into acct_role_real
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="relaId != null" >
        RELA_ID,
      </if>
      <if test="acctId != null" >
        ACCT_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdTime != null" >
        CREATED_TIME,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedTime != null" >
        UPDATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="relaId != null" >
        #{relaId},
      </if>
      <if test="acctId != null" >
        #{acctId},
      </if>
      <if test="roleId != null" >
        #{roleId},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="createdTime != null" >
        #{createdTime},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy},
      </if>
      <if test="updatedTime != null" >
        #{updatedTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="jq.steel.cs.services.base.facade.model.AcctRoleReal" >
    update acct_role_real
    <set >
      <if test="acctId != null" >
        ACCT_ID = #{acctId},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId},
      </if>
      <if test="status != null" >
        STATUS = #{status},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy},
      </if>
      <if test="createdTime != null" >
        CREATED_TIME = #{createdTime},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy},
      </if>
      <if test="updatedTime != null" >
        UPDATED_TIME = #{updatedTime},
      </if>
    </set>
    where RELA_ID = #{relaId}
  </update>
  <update id="updateByPrimaryKey" parameterType="jq.steel.cs.services.base.facade.model.AcctRoleReal" >
    update acct_role_real
    set ACCT_ID = #{acctId},
      ROLE_ID = #{roleId},
      STATUS = #{status},
      CREATED_BY = #{createdBy},
      CREATED_TIME = #{createdTime},
      UPDATED_BY = #{updatedBy},
      UPDATED_TIME = #{updatedTime}
    where RELA_ID = #{relaId}
  </update>

  <!-- 中间表 添加 来源：zhaoyichen-->
  <insert id="addSysAcct2Role" parameterType="jq.steel.cs.services.base.facade.model.AcctRoleReal">
      <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="relaId">
          SELECT SEQ_ACCT_ROLE_REAL.nextval AS relaId FROM dual
      </selectKey>
		insert into acct_role_real(RELA_ID,ACCT_ID,ROLE_ID) values(#{relaId},#{acctId},#{roleId})
	</insert>
  <!-- 中间表 删除 来源：zhaoyichen-->
  <delete id="deleteByPrimaryKey2" parameterType="java.lang.Long" >
		delete from acct_role_real where ROLE_ID in (#{roleId})
	</delete>

  <!--删除中间表 按用户id  来源：zhaoyichen-->
  <delete id="deleteByPrimaryKey3" parameterType="jq.steel.cs.services.base.facade.model.AcctRoleReal">
    delete from acct_role_real where ACCT_ID = #{acctId} and ROLE_ID = #{roleId}</delete>


  <!--查询 按用户id 来源：zhaoyichen-->
  <select id="selectAcctRoleRealListByAcctId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List"/>
  from acct_role_real where ACCT_ID=#{acctId}
</select>


    <!--添加 用户角色中间-->
  <insert id="insertAcctRole" parameterType="jq.steel.cs.services.base.facade.model.AcctRoleReal">
    <!--添加 用户角色中间   映射有问题！谁的代码记得改一下-->
    <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="relaId">
      SELECT SEQ_ACCT_ROLE_REAL.nextval AS relaId FROM dual
    </selectKey>
  insert into acct_role_real

  <trim suffixOverrides="," suffix=")" prefix="(">

  <if test="relaId != null"> RELA_ID, </if>

  <if test="acctId != null"> ACCT_ID, </if>

  <if test="roleId != null"> ROLE_ID, </if>

  <if test="status != null"> STATUS, </if>

  <if test="createdBy != null"> CREATED_BY, </if>

  <if test="createdTime != null"> CREATED_TIME, </if>

  <if test="updatedBy != null"> UPDATED_BY, </if>

  <if test="updatedTime != null"> UPDATED_TIME, </if>

</trim>


  <trim suffixOverrides="," suffix=")" prefix="values (">

  <if test="relaId != null"> #{relaId}, </if>

  <if test="acctId != null"> #{acctId}, </if>

  <if test="roleId != null"> #{roleId}, </if>

  <if test="status != null"> #{status}, </if>

  <if test="createdBy != null"> #{createdBy}, </if>

  <if test="createdTime != null"> #{createdTime}, </if>

  <if test="updatedBy != null"> #{updatedBy}, </if>

  <if test="updatedTime != null"> #{updatedTime}, </if>

</trim>

</insert>

  <delete id="deleteAcctRole" parameterType="jq.steel.cs.services.base.facade.model.AcctRoleReal" >

    delete from acct_role_real where ACCT_ID = #{acctId}
  </delete>

  <select id="getRoleIdsByAcctId" parameterType="java.lang.Long">
    SELECT
        b.ROLE_ID
    FROM
        ACCT_INFO A
    LEFT JOIN ACCT_ROLE_REAL b ON A .ACCT_ID = b.ACCT_ID
    where a.ACCT_ID = #{acctId}
  </select>

</mapper>