<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jq.steel.cs.services.base.facade.dao.OrgInfoMapper" >


	<resultMap id="BaseResultMap" type="jq.steel.cs.services.base.facade.model.OrgInfo" >
		<id column="ID" property="id" />
		<result column="ORG_CODE" property="orgCode" />
		<result column="ORG_NAME" property="orgName" />
		<result column="PARENT_ID" property="parentId" />
		<result column="PARENT_NAME" property="parentName" />
		<result column="REMARK" property="remark" />
		<result column="STATUS" property="status" />
		<result column="CREATED_BY" property="createdBy" />
		<result column="CREATED_TIME" property="createdTime"  />
		<result column="UPDATED_BY" property="updatedBy" />
		<result column="UPDATED_TIME" property="updatedTime"  />
		<result column="SAP_CODE" property="sapCode"  />
		<result column="BUKRS" property="bukrs"  />
		<result column="ORG_TYPE" property="orgType"  />
		<result column="TEL" property="tel"  />
		<result column="ADDR" property="addr"  />
		<result column="EMAIL" property="email"  />
		<result column="REG_TYPE" property="regType"  />
		<result column="INDUSTRIAL_CODE" property="industrialCode"  />
	</resultMap>

	<insert id="insertOrgInfo"  parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
  	INSERT INTO org_info (
  		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		EMAIL,
		REG_TYPE,
		INDUSTRIAL_CODE
	)
	VALUES
		(
			#{id},
			#{orgCode},
			#{orgName},
			#{parentId},
			#{remark},
			#{status},
			#{createdBy},
			#{createdTime},
			#{updatedBy},
			#{updatedTime},
			#{sapCode},
			#{bukrs},
			#{orgType},
			#{tel},
			#{addr},
			#{email},
			#{regType},
			#{industrialCode}
		)

  </insert>

	<update id="updateOrgInfo" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
		UPDATE org_info
		<set >
			<if test="orgCode != null" >
				ORG_CODE = #{orgCode},
			</if>
			<if test="orgName != null" >
				ORG_NAME = #{orgName},
			</if>
			<if test="parentId != null" >
				PARENT_ID = #{parentId},
			</if>
			<if test="remark != null" >
				REMARK = #{remark},
			</if>
			<if test="status != null" >
				STATUS = #{status},
			</if>
			<if test="createdBy != null" >
				CREATED_BY = #{createdBy},
			</if>
			<if test="createdTime != null" >
				CREATED_TIME = #{createdTime},
			</if>
			<if test="updatedBy != null" >
				UPDATED_BY = #{updatedBy},
			</if>
			<if test="updatedTime != null" >
				UPDATED_TIME = #{updatedTime},
			</if>
			<if test="sapCode != null" >
				SAP_CODE = #{sapCode},
			</if>
			<if test="bukrs != null" >
				BUKRS = #{bukrs},
			</if>
			<if test="orgType != null" >
				ORG_TYPE = #{orgType},
			</if>
			<if test="tel != null" >
				TEL = #{tel},
			</if>
			<if test="addr != null" >
				ADDR = #{addr},
			</if>
			<if test="email != null" >
				EMAIL = #{email}
			</if>
			<if test="industrialCode != null" >
				INDUSTRIAL_CODE = #{industrialCode}
			</if>
		</set>
		where ID = #{id}
	</update>

	<select id="queryChildOrgInfo" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
  	SELECT
		ID,
		ORG_CODE,

		CONCAT (
    ORG_NAME,
    CASE
    WHEN ORG_TYPE=1
    then '--销售公司'
    WHEN ORG_TYPE=2
    then '--一级代理'
    WHEN ORG_TYPE=3
    then '--贸易商'
    WHEN ORG_TYPE=4
    then '--终端客户'
    WHEN ORG_TYPE=5
    then '--酒钢机构'
    END
    ) AS ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		EMAIL,
		INDUSTRIAL_CODE
	FROM
		org_info
	WHERE
		ID LIKE CONCAT( #{parentId}, '%')
		and STATUS != 2 and STATUS != 3 AND status != 4
		order by parent_id,ORG_TYPE
  </select>

	<delete id="deleteOrgInfo" parameterType="java.lang.String">
		DELETE
		FROM
		org_info
		WHERE
		ID IN
		<foreach item="id" collection="cascadeDeletionOrgInfo" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="selectListOrgInfoAll" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
  	SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		EMAIL,
		INDUSTRIAL_CODE
	FROM
		org_info
	WHERE
		ID = #{id2}
  </select>










	<select id="selectOrgInfo" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
  	SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		CREATED_TIME,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		email,
		INDUSTRIAL_CODE
	FROM
		org_info
	WHERE
		ID = #{id}
  </select>
	<select id="selectOrgInfo1" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
  	SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		email,
		INDUSTRIAL_CODE
	FROM
		org_info
	WHERE
		ORG_CODE = #{parentId}
  </select>

	<select id="selectOrgInfoAcctInfo" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
		SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		email,
		INDUSTRIAL_CODE
		FROM
		org_info
		WHERE
		ID = #{parentId,jdbcType=INTEGER}
	</select>

	<select id="selectListOrgInfo" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
    SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		email,
		INDUSTRIAL_CODE
	FROM
		org_info	
  </select>

	<select id="selectOrgInfoListById" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo" resultMap="BaseResultMap">
	  SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		EMAIL,
		INDUSTRIAL_CODE
	  FROM org_info WHERE ID =#{id}
	</select>



	<select id="getChildOrgInfo" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo" >
  	SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		EMAIL
	FROM
		org_info
	WHERE
		PARENT_ID = #{id}
		and status != 2 and status !=5 and status != 4
  </select>

	<select id="getOrgInfoId" resultType="java.lang.String">
  	SELECT
		MAX(ID) ID
	FROM
		org_info
	WHERE
		PARENT_ID = #{id}
  </select >

	<select id="getOrgInfoIdAll" resultType="java.lang.String" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
  	SELECT
	 ID
	FROM
		org_info
	WHERE
		ID LIKE CONCAT( #{id}, '%')
  </select>

	<select id="getMaterielOrginfo" resultMap="BaseResultMap" resultType="java.lang.String" >
    SELECT
	    ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR
	FROM
		org_info
	WHERE
		ID LIKE CONCAT( #{acctInfoId}, '%')
  </select>

	<select id="getOrgInfo" resultType="jq.steel.cs.services.base.facade.model.OrgInfo"  parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
  	SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		email
	FROM
		org_info
	WHERE
		ID = #{parentId}
  </select>

	<select id="getOrgInfoName" resultType="java.lang.String" parameterType="java.lang.String">
  	SELECT
		ID
	FROM
		org_info
	WHERE
	ORG_NAME = #{orgName}
  </select>


	<select id="selectOrgInfo2" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
		SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		email
		FROM
		org_info
		WHERE
		ID = #{parentId,jdbcType=VARCHAR}
	</select>

	<select id="selectAuditOrg"  resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
		SELECT
		a.ID,
		a.ORG_CODE,
		a.ORG_NAME,
		a.PARENT_ID,
		a.REMARK,
		a.STATUS,
		a.CREATED_BY,
		a.UPDATED_BY,
		a.UPDATED_TIME,
		a.SAP_CODE,
		a.BUKRS,
		a.ORG_TYPE,
		a.TEL,
		a.ADDR,
		a.email,
		a.REG_TYPE,
		b.ORG_NAME as PARENT_NAME
		FROM
		org_info a left join
		org_info b on a.parent_id = b.id
		WHERE 1 = 1
		<choose>
			<when test="status != null and status != '' ">
				and a.STATUS = #{status}
			</when>
			<otherwise>
				and a.status = 2 or a.status = 5
			</otherwise>
		</choose>
		<if test="orgName != null" >
			and a.ORG_NAME LIKE '%' || #{orgName} ||'%'
		</if>
		order by a.CREATED_TIME desc
	</select>


	<select id="selectOrgName" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
		SELECT
		ID,
		ORG_CODE,
		ORG_NAME
		FROM
		org_info
		WHERE
		ORG_NAME = #{orgName,jdbcType=VARCHAR}
	</select>

	<select id="queryExistsOrgInfo" resultMap="BaseResultMap" parameterType="jq.steel.cs.services.base.facade.model.OrgInfo">
		SELECT
		ID,
		ORG_CODE,
		ORG_NAME,
		PARENT_ID,
		REMARK,
		STATUS,
		CREATED_BY,
		UPDATED_BY,
		UPDATED_TIME,
		SAP_CODE,
		BUKRS,
		ORG_TYPE,
		TEL,
		ADDR,
		email
		FROM
		org_info
		where ORG_NAME = #{orgName} or TEL = #{tel}
	</select>

	<select id="getCode" resultType="java.lang.Long">
		SELECT SEQ_ORG_INFO.nextval FROM dual
	</select>

	<select id="getOrgCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		select DISTINCT NAME1 as ORG_NAME FROM MILL_CUSTOMER
		WHERE 1=1
		<if test="sapCode != null and sapCode != ''">
			and KUNNR = #{sapCode}
		</if>

	</select>

	<!--查询销售公司下所有orgName-->
	<select id="findOrgNameByOrgId" parameterType="java.lang.String" resultMap="BaseResultMap">
SELECT
A.ID,
A.ORG_NAME
FROM
WARRANTY.ORG_INFO A
WHERE A.PARENT_ID like'%' || #{parentId} ||'%'
	</select>
</mapper>