.manageNews{
  width: 990px;
  color: #666;
  font-size: 12px;
}
.manageNews-main{
  padding: 20px 30px;
  width: 990px;
  height: auto;
}
.manageNews-main-title{
  line-height: 16px;
  height: 16px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}
.manageNews-main-search{
  /*margin-bottom: 20px;*/
}
.manageNews-main-search-list{
  width: 425px;
  padding: 0px 30px 10px 0;
  line-height: 28px;
  float: left;
  height: 28px;
}
.manageNews-mainSearch-list-name{
  float: left;
  width: 80px;
  text-align: right;
  line-height: 28px;
  height: 28px;
  margin-right: 10px;
}
.manageNews-mainSearch-list-input{
  float: left;
  width: 310px;
}
.manageNews-mainSearch-list-check{
  margin-right: 12px;
  margin-left: 100px;
  cursor: pointer;
}
.manageNews-mainSearch-list-searchBtn{
  margin-left: 315px;
  margin-right: 12px;
}
.manageNews-main-table-td{
  padding: 0 10px;
}
.manageNews-main-tableTd-del{
  margin-left: 15px;
}
.manageNews-main-tableTd-edit{
  margin-left: 5px;
}
.manageNews-main-tableTd-ope{
  margin-right: 20px;
}
.textChangeBox-box{
  padding: 20px;
}
.textChangeBox-box-operate{
  margin-left: 780px;
}
.textChangeBox-box-operate .btnBaseCommon{
  margin-right: 20px;
}
.resourchSe {
  .resourchSe-ul {
    display: flex;
    flex-wrap: wrap;
    textarea {
      width: 151px;
      height: 50px;
      resize: none;
      border: 1px solid #eeeeee;
    }
    width:100%;
  }
  .resourchSe-ul li {
    display: flex;
    margin-top: 20px;
    margin: 14px 42px;
    width: 240px;
  }
  .resourchSe-ul .chosen-single {
    margin-left: -12px;
  }
  .required {
    width: 160px;
    border: 1px solid #eeeeee;
    height: 28px;
    padding-left: 5px;
  }
  .resourchSe-ul label {
    width: 70px;
    text-align: left;
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
    text-align: center;
  }
  .resourchSe-ul input[type=text] {
    width: 150px;
    border: 1px solid #eeeeee;
    height: 28px;
    padding-left: 5px;
  }
}

#inputAnswer .title {
  width: 453px;
  height: 44px;
  background: #eee;
}

#inputAnswer .title h2 {
  width: 473px;
  height: 44px;
  margin-left: 6px;
  font-size: 12px;
  line-height: 44px;
  font-weight: normal;
}

#inputAnswer .content {
  margin-left: 25px;
  margin-top: 15px;
  height: 210px !important;
  .table-list {
    width: 420px;
    .table-list-currentrow-tdetail {
      text-align: center;
    }
  }
  .button {
    margin-left: 148px;
    margin-bottom: 18px;
    div {
      margin-right: 50px;
      width: 38px;
    }
  }
}

.table-list-currentrow-tdetail{
  padding: 0 10px;
}