.newsList{
  width: 950px;
  padding: 20px;
  font-size: 12px;
  color: #666;
  background: #fafafa;
}
.newsList-search{
  padding: 20px 0;
  line-height: 28px;
  height: 28px;
  .newsList-search__name{
    margin-right: 5px;
  }
  .newsList-search__input{
    width: 130px;
     margin-right: 4px;
  }
}
.newsList-title{
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  color: #333;
  margin-bottom: 4px;
  .newsList-title__border{
    width: 16px;
    height: 16px;
    margin-top: 1px;
    margin-right: 5px;
    background: #6390f3;
  }
}

.newsList-content{
  padding: 10px;
  width: 880px;
  background: #fff;
  border-radius: 8px;
  color: #666;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
.newsList-content-create{
  position: absolute;
  width: 16px;
  height: 16px;
  left: 15px;
  top: 15px;
  cursor: pointer;
  background: url("../images/createPlus.png");
  background-size: 16px 16px;
}
.newsList-content-main-list{
  float: left;
  line-height: 28px;
  margin-bottom: 4px;
  width: 290px;
}
.newsList-content-mainList-title{
  width: 90px;
  text-align: right;
  margin-right: 12px;
  line-height: 28px;
}
.newsList-content-mainList-text{
  width: 165px;
}

.newsList-content2{
  margin-bottom: 10px;
}
.newsList-content2-boxFir{
  width: 720px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  color: #666;
  margin-right: 10px;
}
.newsList-content2-boxSec{
  width: 150px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  color: #666;
}
.newsList-content2-boxFir-list{
  float: left;
  width: 170px;
  height: 30px;
  line-height: 30px;
}
.newsList-content2-boxFirList-checked{
  margin-right: 15px;
  cursor: pointer;
  margin-top: 6px;
}
.newsList-content-main-list2{
  width: 215px;
  margin-bottom: 4px;
  float: left;
  .newsList-content-mainList-text{
    width: 90px;
  }
}
.newsList-content-mainList-select{
  height: 28px;
  width: 112px;
}
.newsList-content-main-listSpecial{
  width: 429px;
  margin-bottom: 4px;
  float: left;
  .newsList-content-mainList-text{
    width: 305px;
  }
}
.newsList-content-main-listRow{
  width: 900px;
  margin-bottom: 4px;
  float: left;
  .newsList-content-mainList-text{
    height: 52px;
    width: 735px;
  }
  .newsList-content-mainList-textChecked{
    line-height: 28px;
    height: 28px;
    .newsList-content2-boxFir-list{
      width: 100px;
    }
  }
}
.newsList-content-main-listRows{
  width: 900px;
  margin-bottom: 4px;
  float: left;
  .newsList-content-mainList-main{
    height: 200px;
    width: 755px;
    padding: 0;
  }
}
.newsList-content-mainListRows-ul{
  border-bottom: 1px solid #dee3e6;
  width: 735px;
  padding: 10px;
}
.newsList-content-mainListRows-ulList{
  width: 180px;
  margin-bottom: 4px;
  float: left;
}
.newsList-content-mainListRowsUlList-title{
  width: 80px;
  margin-right: 6px;
  line-height: 28px;
  text-align: right;
}
.newsList-content-mainListRowsUlList-text{
  width: 70px;
}
.newsList-content-mainListRows-text{
  width: 735px;
  height: 83px;
  line-height: 24px;
  padding: 0 10px;
}

.newsList-content-mainList-titleTip{
  color: #fa5b6d;
}
.newsList-operater{
  width: 859px;
}
.mustText{
  color: #fa5b6d;
}
*[disabled=true]{
  opacity: 0.3; filter: alpha(opacity=30);
}
.newsList-search .chosen-container{
  float: left;
}
.newsList-content-main-list2 .chosen-container{
  width: 112px;
  margin-left: 0;
}
.newsList-content-main-list .chosen-container{
  width: 187px;
  margin-left: 0;
}
.table-list-currentrow-tdetail{
  padding: 0 10px;
}
.disNone{
  display: none;
}

.edui-default{width:755px!important;}
.edui-button{width:28px!important}
.newsList-content-mainList-textEdit{
  height: 200px;
}
.inputBaseListCon{
  width: 34px;
  height: 22px;
  background-size: 34px 22px;
  cursor: pointer;
}

.textChangeBox-box { padding: 20px; }

.textChangeBox-box-operate { margin-left: 780px; }

.textChangeBox-box-operate .btnBaseCommon { margin-right: 20px; }

.manageNews-main-search-list { width: 425px; padding: 0px 30px 10px 0; line-height: 28px; float: left; height: 28px; }

.manageNews-mainSearch-list-name { float: left; width: 80px; text-align: right; line-height: 28px; height: 28px; margin-right: 10px; }

.manageNews-mainSearch-list-input { float: left; width: 310px; }

.manageNews-mainSearch-list-check { margin-right: 12px; margin-left: 100px; cursor: pointer; }

.manageNews-mainSearch-list-searchBtn { margin-left: 315px; margin-right: 12px; }