.submission{
    margin:0 auto;
    width:990px;
}
.submission-title{
    width:990px; 
    height:40px;
    line-height:40px;
    border-bottom:1px solid #6390f3;
}
.submission-Home-page{
    margin:13px 0 0 15px;
}
.submission-questionnaire{ 
    position: relative;
    width: 65px;
    margin-left:-5px;
    .submission-title-close{
        position: absolute;
        top:-7px;
        right:2px;
    }
}

.management-box{
    width:990px;
    .management-box-list{
        width:990px;
    }
    // .submission-table{
    //     width:800px !important;
    //     margin-top:20px;
    //     margin-left:22px;
    //     overflow-x: scroll;
    //     overflow-y: scroll;
    // }
}
.management-box-list__Content{
    margin-left:12px;
    margin-top:20px;
    width:850px;
    .submission-box-list__Every{
        float: left;
        width:268px;
        height:28px;
        margin-bottom:5px;
        margin-right:14px;
        .submission-box-list__Name{
            display: inline-block;
            width:64px;
            margin-right:6px;
            text-align: right;
        }
        .inputBase{
            width:170px;
            height:28px;
            line-height:28px;
        }
        .Wdate{
            width:180px;
            border:1px solid #dee3e6;
        }
        .submission-box-list__Select{
            width:190px;
        }
    }
}
.submission-box-list__Every .submission-box-list__Select{
    width:197px;
}

.submission-box-button{
    /*margin-top:26px;*/
    margin-left:22px;
    div{
        margin-right:4px;
    }
}
.submission-table{
    width:950px;
    height:auto;
    margin-top:20px;
    margin-left:22px;
    overflow-x:scroll;
    overflow-y:scroll;
}
.table-list{
    table-layout: fixed;
    width:1600px !important;
    .table-list-currentrow-tdetail{
        width:45px !important;
        text-align:center;
        word-break: break-all;
        img{
            width: 20px;
            height:20px;
        }
        .submission-box-watch{
            color: #6390f3;
        }
    }
}


.resourchSe {
    .resourchSe-ul {
        display: flex;
        flex-wrap: wrap;
        textarea {
            width: 151px;
            height: 50px;
            resize: none;
            border: 1px solid #eeeeee;
        }
        width:100%;
    }
    .resourchSe-ul li {
        display: flex;
        margin-top: 20px;
        margin: 14px 42px;
        width: 240px;
    }
    .resourchSe-ul .chosen-single {
        margin-left: -12px;
    }
    .required {
        width: 160px;
        border: 1px solid #eeeeee;
        height: 28px;
        padding-left: 5px;
    }
    .resourchSe-ul label {
        width: 70px;
        text-align: left;
        display: inline-block;
        line-height: 30px;
        vertical-align: top;
        text-align: center;
    }
    .resourchSe-ul input[type=text] {
        width: 150px;
        border: 1px solid #eeeeee;
        height: 28px;
        padding-left: 5px;
    }
}

#inputAnswer .title {
    width: 340px;
    height: 44px;
    background: #eee;
}

#inputAnswer .title h2 {
    width:360px;
    height: 44px;
    margin-left: 6px;
    font-size: 12px;
    line-height: 44px;
    font-weight: normal;
}
#inputAnswer .content {
    width:360px;
}
#inputAnswer .content .content-Input{
    margin-left:20px;
    margin-top:20px;
    width:320px;
    height:134px;
    border: 1px solid #dee3e6;
    border-radius:10px;
}
#inputAnswer2 .content .content-Input{
    margin-left:20px;
    margin-top:20px;
    width:320px;
    height:134px;
    border: 1px solid #dee3e6;
    border-radius:10px;
}
#inputAnswer .content .button {
        margin-left:92px;
        margin-top:10px;
        div {
            margin-right: 50px;
            width: 38px;
        }
    }
.chosen-single{
     min-width: 170px;
 }