.submission {
    margin: 0 auto;
    width: 990px;
}

.submission-title {
    width: 990px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #6390f3;
}

.submission-Home-page {
    margin: 13px 0 0 15px;
}

.submission-questionnaire {
    position: relative;
    width: 65px;
    margin-left: -5px;
    .submission-title-close {
        position: absolute;
        top: -7px;
        right: 2px;
    }
}

.management-box {
    width: 990px;
    .management-box-list {
        width: 990px;
    }
}

.management-box-list__Content {
    margin-left: 12px;
    margin-top: 20px;
    width: 850px;
    .submission-box-list__Every {
        float: left;
        width: 268px;
        height: 28px;
        margin-bottom: 5px;
        margin-right: 14px;
        .submission-box-list__Name {
            display: inline-block;
            width: 64px;
            margin-right: 6px;
            text-align: right;
        }
        .inputBase {
            width: 170px;
            height: 28px;
            line-height: 28px;
        }
        .Wdate {
            width: 180px;
            border: 1px solid #dee3e6;
        }
        .submission-box-list__Select {
            width: 190px;
        }
    }
}

.submission-box-list__Every .submission-box-list__Select {
    width: 197px;
}

.submission-box-button {
    margin-top: 5px;
    margin-left: 22px;
    div {
        margin-right: 4px;
    }
}

.table-list {
    table-layout: fixed;
    width: 950px !important;
    margin-top: 10px;
    margin-left: 22px;
    .table-list-currentrow-tdetail {
        width: 45px !important;
        text-align: center;
        word-break: break-all;
        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .submission-box-watch {
            color: #6390f3;
        }
    }
}

.resourchSe {
    .resourchSe-ul {
        display: flex;
        flex-wrap: wrap;
        textarea {
            width: 151px;
            height: 50px;
            resize: none;
            border: 1px solid #eeeeee;
        }
        width:100%;
    }
    .resourchSe-ul li {
        display: flex;
        margin-top: 20px;
        margin: 14px 42px;
        width: 240px;
    }
    .resourchSe-ul .chosen-single {
        margin-left: -12px;
    }
    .required {
        width: 160px;
        border: 1px solid #eeeeee;
        height: 28px;
        padding-left: 5px;
    }
    .resourchSe-ul label {
        width: 70px;
        text-align: left;
        display: inline-block;
        line-height: 30px;
        vertical-align: top;
        text-align: center;
    }
    .resourchSe-ul input[type=text] {
        width: 150px;
        border: 1px solid #eeeeee;
        height: 28px;
        padding-left: 5px;
    }
}

#inputAnswer .title {
    width: 390px;
    height: 44px;
    background: #eee;
}

#inputAnswer .title h2 {
    width: 410px;
    height: 44px;
    margin-left: 6px;
    font-size: 12px;
    line-height: 44px;
    font-weight: normal;
}

.content .content-list {
    width: 370px;
    margin-left: 20px;
    margin-top: 18px;
    .content-list-main {
        height:30px;
        line-height:30px;
        .content-name{
            float: left;
            display:inline-block;
            width:200px;
        }
        .content-images {
            display:inline-block;
            margin-right:18px;
            .content-images-img{
                width: 26px;
                height: 26px;
                background: url("../images/pic2.png");
                float: left;
                background-size: 26px 26px;
                cursor: pointer;
            }
            .content-images-imgActive{
               background: url("../images/pic1.png");
                background-size: 26px 26px;
            }
        }
    }
}
.content .content-list-confirm{
    margin-left:325px;
    margin-top:12px;
}
.btnLowImgCom{
    margin-right: 4px;
}
.previewOpeBox{
    padding: 20px 30px;
}
.previewOpeBox-pdf{
    width: 740px;
    height: 450px;
}
.chosen-single{
    min-width: 170px;
}