.verification { margin: 0 auto; width: 990px; }

.verification-title { width: 990px; height: 40px; line-height: 40px; border-bottom: 1px solid #6390f3; }

.verification-Home-page { margin: 13px 0 0 15px; }

.verification-questionnaire { position: relative; width: 65px; margin-left: -5px; }

.verification-questionnaire .verification-title-close { position: absolute; top: -7px; right: 2px; }

.verification-Tab .verification-TabCon-Every { width: 990px; height: 300px; border: none; }

.verification-TabCon-uploading { margin-top: 50px; margin-left: 302px; }

.verification-TabCon-uploading .verification-TabCon-Input { float: left; width: 277px; height: 28px; line-height: 28px; border: 1px solid #dee3e6; }

.verification-TabCon-uploading .verification-TabCon-up { margin-left: 132px; margin-top: 38px; text-align: center; width: 63px; height: 28px; line-height: 28px; }

.verification-TabCon-Every__Content { margin-left: 232px; margin-top: 50px; width: 470px; height: 255px; }

.verification-TabCon-Every__Every { width: 470px; margin-bottom: 25px; }

.verification-TabCon-Every__Name { display: inline-block; width: 77px; height: 28px; line-height: 28px; text-align: right; margin-right: 6px; }

.verification-TabCon-Every__Input { width: 352px; height: 28px; line-height: 28px; border: 1px solid #dee3e6; }

.verification-TabCon-Every__Sign { color: red; margin-left: 8px; }

.verification-TabCon-Every__Submit { margin-left: 162px; margin-right: 70px; width: 44px; }

.verification-TabCon-Every__reset { width: 44px; }
